<a href="">Link to "official" syllabus</a>


<div class="card border-dark mb-3">
    <!--<div class="card-header">Grading</div>-->
    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">

        <p>
            Your final grade will be determined by your homework and exam grades with the following weighting:
        </p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>Homework</td>
                <td>60%</td>
            </tr>
            <tr>
                <td>Exams</td>
                <td>40%</td>
            </tr>
        </table>

        <p>
            To earn an A in this course, your final course average <strong>must be above 90%</strong>. All other
            letter grades, including A-, will be determined by a curve. Since this class is smaller than most,
            this curve will take into account the performance of students in previous semesters on similar assignments.
        </p>

        <hr/>
        <h4>Homework</h4>

        <p>
            There are 4 homework assignments in this course each with equal weighting (ie. 15% of your final grade is
            determined
            by each homework). These assignments will consist of a combination of designing algorithms, implementing
            your
            algorithms as programs (coding), proving the correctness of your algorithms, and analyzing the asymptotic
            runtime of
            your algorithms.
        </p>

        <hr/>
        <div><h4>Exams</h4></div>

        <p>
            There will be a midterm and final exam in this course with the following weightings on your course average:
        </p>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>Midterm Exam</td>
                <td>15%</td>
            </tr>
            <tr>
                <td>Final Exam</td>
                <td>25%</td>
            </tr>
        </table>

        <p>
            However, if it is to your benefit these weightings will be adjusted to the following on an individual basis:
        </p>


        <table class="table table-bordered table-skinny">
            <tr>
                <td>Midterm Exam</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>Final Exam</td>
                <td>35%</td>
            </tr>
        </table>

        <p>
            This means that if you don't do well on the midterm you can still earn a high grade in the course if you
            show that
            you have learned the material before the final exam.
        </p>

        </p>
    </div>

</div>

<div id="section2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">Contact Information</div>-->
    <div class="card-body">
        <h3 class="card-title">Contact Information</h3>
        <p class="card-text">
        <p>
            Instructor: Dr. Jesse Hartloff<br/>
            Office: Davis 344<br/>
            Office Hours: Wednesday 1:00 PM - 3:00 PM<br/>
            Email: hartloff@buffalo.edu
        </p>


        </p>
    </div>

</div>

<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">Textbook</div>-->
    <div class="card-body">
        <h3 class="card-title">Textbook</h3>
        <p class="card-text">
        <p>There is no <em>required</em> textbook for this course. However, the material will closely follow this course
            textbook and it
            is strongly encouraged that you get a copy of the book if you want to do well in this course.</p>
        <p>
            Course textbook:
            </p>
        <ul>
            <li><a href="https://www.pearson.com/us/higher-education/program/Kleinberg-Algorithm-Design/PGM319216.html">Algorithm
                Design</a>
            </li>
        </ul>


        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">University/Department Policies and Services</div>-->
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <p class="card-text">
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>


        </p>
    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">Academic Integrity</div>-->
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/undergraduate/resources-for-current-students/academic-integrity-students.html">
            https://engineering.buffalo.edu/computer-science-engineering/undergraduate/resources-for-current-students/academic-integrity-students.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>
        <p>

            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were copying or sharing their code with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are
            in
            violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
            </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE331.</h3>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming abstract solutions, then writing
                algorithms, code, and proofs independently
            </li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Submitting an algorithm, code, or proof that you did not write.</li>
            <li>Allowing another student to see your algorithm, code, or proof for an assignment.</li>
            <li>Collaborating with another student to write an algorithm, code, or proof together for an assignment.
            </li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                host your code in a public
                repository or allow your roommate to access you laptop)
            </li>
            <li>Copying a large amount material found on the Internet into your submission.</li>
            <li>Attempting to access the grading code on AutoLab.</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>
    </div>

</div>
