{#<a href="">Link to "official" syllabus</a>#}


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>


        <div class="alert alert-info">
            The value of this course largely depends on your choices. Make the most of it.
        </div>

        <p>
            The intent of this course is to help bridge the gap between academia and industry by giving you
            the experience of
            working a as team of software engineers while you develop software. The course is
            open-ended as you are free to choose your own team and project.
        </p>

        {#        <p>#}
        {#            The open-ended structure of this course allows you to create you own experience. It is assumed that#}
        {#            all#}
        {#            students#}
        {#            entering this course are competent programmers and are ready to apply and combine their skills to produce a#}
        {#            quality#}
        {#            software product. The role of the course and course staff is to assist the students while they navigate a#}
        {#            large#}
        {#            software engineering project and learn how to collaborate#}
        {#            effectively. Course staff can be viewed as consultants and will tend to give advice rather than instruction.#}
        {#        </p>#}


        {#        <p>#}
        {#            This course will help bridge the gap between academia and industry through the experience of a semester#}
        {#            long group software project. Students will learn a variety of software engineering concepts and#}
        {#            realities while functioning as a software development team. Students will also learn the importance of#}
        {#            continual career development through self-learning.#}
        {#        </p>#}
        {#        <br/>#}
        {#        <a href="http://undergrad-catalog.buffalo.edu/coursedescriptions/index.php?frm_abbr=CSE&frm_num=442">Catalog#}
        {#            Description</a>#}
        {#        <br/>#}


    </div>
</div>

<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            To do well in this course you are expected to:
        </p>
        <ul>
            <li>Already be comfortable with all of the material covered in CSE115, CSE116, CSE250 an be ready to apply
                that material in a team setting. "I'm not a strong programmer" is not an excuse for not contributing to
                your project (Yes, students have tried using this as an excuse for higher grades that they did not earn)
            </li>
            <li>Self-teach new material that you'll need for your project. This is a skill you will need throughout your
                career
            </li>
            <li>Participate in lecture and your TA meetings every week and be prepared for each lecture/meeting</li>
            <li>Effectively collaborate with your team, complete your assigned tasks, and participate in all meetings
                planed by your team
            </li>
            <li>Comply with all the procedures of the project (user stories, testing, etc). It is unacceptable to just
                complete the code for your project
            </li>
            <li>Complete at least 8 hours of work each week outside of lectures/TA meetings for a total of at least 12
                hours/week on CSE442. The vast majority of this time will be spent on your project with 1-2 hours
                reserved for lecture prep
            </li>
            <li>Convince the course staff that you have satisfied the requirements of the class (Only do this during
                grading demos)
            </li>
        </ul>

        <p>
            You will be subjectively graded based on the amount of work you complete on your project compared to what
            a well prepared programmer (comfortable with CSE115, CSE116, CSE250) would complete in 8 hours/week. If your
            output is determined to be lower than that you will not receive full credit on your project.
        </p>

    </div>

</div>

{#<div class="card border-dark mb-3">#}
{##}
{#    <div class="card-body">#}
{#        <h3 class="card-title">Expectations</h3>#}
{#        <p class="card-text">#}
{#            This is not an easy course! To do well in this course you are expected to:#}
{#        </p>#}
{#        <ul>#}
{#            <li>Want to learn computer science (This is assumed since you are taking a second CSE course)</li>#}
{#            <li>Already be comfortable with all of the CSE115 material</li>#}
{#            <li>Participate in lecture and lab every week (Except the first week when there are no labs)</li>#}
{#            <li>Spend at least 7 hours each week outside of class/lab for a total of at least 12 hours/week on CSE116#}
{#            </li>#}
{#        </ul>#}
{##}
{#        <p>#}
{#            If you are not comfortable with all the CSE115 material you should expect to work significantly more than#}
{#            12 hours/week until you are caught up with the material. You can use#}
{#            <a href="https://fury.cse.buffalo.edu/quest/cse115-f18/skill-tree">UBInfinite</a> to practice this material.#}
{#        </p>#}
{##}
{#        <p>#}
{#            If you are unable or unwilling to spend at least 12 hours/week on this course, please navigate your#}
{#            browser to the hub and drop it.#}
{#        </p>#}
{#    </div>#}
{##}
{#</div>#}

<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>Project Signup and Writeup</td>
                <td>3%</td>
            </tr>
            <tr>
                <td>Team Meetings</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Sprint 1</td>
                <td>12%</td>
            </tr>
            <tr>
                <td>Sprint 2</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Sprint 3</td>
                <td>25%</td>
            </tr>
            <tr>
                <td>Final Presentation</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Lecture Activities</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Lecture Discussions</td>
                <td>10%</td>
            </tr>
        </table>

        <br/>

        <p>
            Your final letter grade will be determined by the following percentage cutoffs. There is no curve:
        </p><br/>

        <table class="table table-bordered table-skinny">
            <tr>
                <td>93+</td>
                <td>A</td>
            </tr>
            <tr>
                <td>90</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>87</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>83</td>
                <td>B</td>
            </tr>
            <tr>
                <td>80</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>77</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>73</td>
                <td>C</td>
            </tr>
            <tr>
                <td>70</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>67</td>
                <td>D+</td>
            </tr>
            <tr>
                <td>60</td>
                <td>D</td>
            </tr>
            <tr>
                <td><60</td>
                <td>F</td>
            </tr>
        </table>

        <br/>

        <p>
            In accordance with the university grading policy, if you earn an F in this course while attending
            less than 60% of the meetings time (lecture and lab) you will instead earn a grade of FX.
        </p>


        <hr/>
        <h4>Project Signup and Writeup</h4>

        <p>
            By the end of the second week of class you will submit your team and project idea as well as setup the
            structure (repository, scrum board) for the project. You must submit an appropriate project idea at this
            time. If the project is not appropriate you will be asked to re-submit a different idea and may lose your
            points for this submission.
        </p>

        <p>
            Project ideas must only meet one criteria:
        </p>

        <ul>
            <li>Once completed and used, the project must make a meaningful impact on the user's life</li>
        </ul>

        <p>
            To meet this criteria you will write a description of your target user and explain how their life will be
            impacted. This impact does not have to significant, but it must be meaningful and direct. If you have to put
            a lot of thought into justifying this impact then it will not meet this criteria.
        </p>
        <p>
            Note that this does imply a novelty component for your project since your software cannot have an impact on
            someone if there already exists software that solves the same problem. If your claim is that you have a
            better solution, then you must convince the course staff that your project can be completed by the end of
            the semester (ex. Making a better Hub from the ground up would have a meaningful impact, but is not feasible
            in a semester). If a working solution does not already exists you do not have to choose something that can
            be completed by the end of the semester. Dream big. You will be graded on your progress, not the finished
            product (though your software does have to run even if it doesn't meet it's ultimate goal).
        </p>
        <p>
            Examples of software that would be denied:
        </p>
        <ul>
            <li>A game (no impact, at least not in 1 semester), with exceptions such as educational games and games for
                users with disabilities
            </li>
            <li>"Hello World" (No impact)</li>
            <li>An app that helps you find recipes (Can't compete with existing apps in 1 semester)</li>
            <li>A parking or car sharing app (Can't compete with existing apps in 1 semester)</li>
            <li>Fantasy sports team builder/analyzer (Impact is not meaningful without significant justification)</li>
        </ul>

        <p>
            For an idea to be accepted, the impact should be obvious. If your justification for impact
            sounds like it was written by a layer then it is not meaningful. For example, "Our investment app has impact
            because studies have shown that people with higher ROI are generally more happy. Our app increases ROI by
            helping users identify valuable trades..." In this case the impact is indirect and is caused by an increase
            in money. For this idea to be <em>somewhat</em> acceptable you would have to give your users enough free
            money to impact their lives.
        </p>

        <p>
            The best way to come up with an idea is to start with a real problem that you care about and would like to
            help solve. There is no shortage of problems in the world and many have clear software solutions just
            waiting for a team of developers to implement. If your having trouble finding an idea that hasn't been
            solved already try focusing on a smaller area. Many cities have open data APIs. Try finding and API from
            your home town and working with their data.
        </p>

        <p>
            The only exception to this criteria are sponsored project. There are a few projects affiliated with outside
            organizations which will be accepted even if their impact is questionable.
        </p>

        <p>
            As with most grading in this course, this criteria is subjective and final approval will be made by the
            course staff.
        </p>

        <hr/>
        <h4>Team Meetings</h4>
        <p>
            Starting week 3 your team will meet with a TA each week. During this meeting each team member will show
            their progress since the last meeting. During these meetings you must:
        </p>
        <ul>
            <li>be on time</li>
            <li>convince the TA that you've completed at least 8 hours of work since the previous meeting</li>
        </ul>

        <hr/>
        <h4>Sprints</h4>

        <p>
            A detailed rubric used to grade your work will be made available for each sprint. The grading for each
            sprint will be accomplished by having your team give an end-of-sprint presentation (including a demo of the
            current release) to 2 members of the course staff. During this presentation, it is the team’s responsibility
            to demonstrate that they met each of the criteria from the grading rubric. You will also need to answer
            questions the grading staff have. During this presentation you be graded based on three primary categories:
            The work completed on the project and your ability to deploy it on a new machine, the documentation and
            organization of the project (including user stories, task tracking, git branching, commit messages, and
            scrum board), and project testing (unit tests, testing scripts, and acceptance tests).
        </p>

        <p>
            Multiplying the number of team members by the team’s score on the presentation calculates the total number
            of individual points available for that sprint. Everyone will also complete a peer- and self-evaluation on
            how well each person contributed to the team during the sprint. Each student’s score is calculated by
            multiplying the total number of team points available to the average percentage of points they received on
            those evaluations. This means your grade depends not only on excellence in software engineering, but also on
            being a good teammate.
        </p>
        <p>
            The TA with whom you meet each week will NOT have any input into the team’s sprint grade. This
            ensures open and honest communication during those meetings AND reflects the separation of development and
            testing found in larger organizations.
        </p>
        <p>
            Details about how to sign up for these end-of-sprint presentations will occur closer to each of the
            deadlines.
        </p>

        <hr/>
        <h4>Final Presentation</h4>

        <p>
            Your team will present your project in a style and with content that is appropriate for a commercial trade
            show. These presentations will occur in the final two weeks of the course and during the final exam period.
            All students are required to attend all of these presentations. A detailed grading rubric for these
            presentations will be available on the course website several weeks before the presentations begin. Teams
            will also be able to sign up for the time they wish to present at that time. These sign-ups will be done on
            a first-come, first-served basis.
        </p>

        <hr/>
        <h4>Lecture Activities</h4>

        <p>
            Throughout the semester, teams will work on an in-class activities related to the course material. Each of
            these activities will have a deliverable or task to be completed before the end of lecture.
        </p>
        <p>
            Student submissions will need to list the names of all of the group members who participated in creating the
            response. Listing a student who did not attend or attended but did not contribute is an academic integrity
            policy violation by both the student whose account is being used and the student answering the questions.

        </p>

        <hr/>
        <h4>Lecture Discussions</h4>

        <p>
            In addition to lecture activities there will be lecture discussions throughout the semester. These
            activities will require that students reflect on software engineering concepts before writing a few
            paragraphs on the way they think is best to bring those concepts into practice. The documents students write
            will be submitted via AutoLab and scored holistically. Since these activities will also be used to assess
            department-level student learning outcomes, it is important that all students participate.
        </p>

        <p>
            When discussing more divided topics the discussion will be structures asa debate allowing us to see both
            sides of the debate and gain an understanding for points of view that differ from our own.
        </p>

    </div>

</div>

<div id="section2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Baldy 19</h3>

        <p>
            You have 24/7 access to the lab in Baldy 19. Feel free to visit anytime and make use of the resources in the
            lab. Please be respectful of the equipment. Do not prop the door open!
        </p>

        <p>
            When you demo your project at the end of each of sprint you may be asked to install your app on any of the
            machines in the lab that apply to your project.
        </p>

    </div>
</div>


<div id="section2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Communication</h3>

        <p>
            We'll use Slack for course communication outside of class. Though not required, it is highly recommended
            that you use Slack to find teammates with similar interest to your own and share ideas. You can also create
            your own channels to communicate with your team once it is formed.
        </p>

        <p>
            <a href="https://join.slack.com/t/cse442-workspace/shared_invite/enQtNTM0NDc5NjE0NDUxLWQ1NjBhM2VjOWFjNWYxYmU3OTgxOWMzYzQ0NzllZDE1NDhhMWU1NGZmOTE0ZTBlNGNmNTYzN2E0NDJkYjU3YTA"
               target="_blank">Slack Invite</a>
        </p>

    </div>
</div>

<div id="section2" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Instructor</h3>
        <p>
            Instructor: Dr. Jesse Hartloff<br/>
            Office: Davis 344<br/>
            Office Hours: Tuesday 2:00 PM - 3:20 PM
        </p>

    </div>
</div>

<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials will be provided
            in the course schedule. When a reading is listed you should study it before lecture to be prepared for the
            lecture activity or discussion.
        </p>

    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">University/Department Policies and Services</div>-->
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <!--<div class="card-header">Academic Integrity</div>-->
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-faculty-and-staff/policies/academic-integrity-students.html">
            https://engineering.buffalo.edu/computer-science-engineering/information-for-faculty-and-staff/policies/academic-integrity-students.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>
            Course Academic Integrity Policy: Do not represent work as your own if you did not create it.
        </p>
        <p>
            All violations will be result in:
        </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE442.</h3>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.
        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Searching the Internet for coding help and examples</li>
            <li>Using libraries and frameworks in your project</li>
            <li>Expanding an existing project as your course project</li>
        </ul>


        Examples of <b>un</b>acceptable behavior:
        <ul>
            <li>Copying a large amount of code into your project without crediting the source.</li>
            <li>Allowing someone outside your group to write code for your project and representing it as the group's
                work.
            </li>
            <li>Violating the licensing agreement of publicly available code.</li>
            <li>Attempting to earn credit for a lecture activity without attending that lecture.</li>
            <li>Breaking laws.</li>
        </ul>
    </div>

</div>
