
.homework{
    background-color: #f9fff9;
}

.lab{
    background-color: #f9fff9;
}

.non_visual_link{
    color: inherit;
    text-decoration: inherit;
}

.non_visual_link:hover{
    color: inherit;
    text-decoration: inherit;
}

.reading{
    margin: 0;
}

li.reading{
    margin: 0;
}

.table td{
    padding: 7px;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    font-size: larger;
}

.week {
    font-weight: bold;
}

.slide-icon {
    text-align: center;
    width: 35px;
    margin: 4px;
}

.strike {
    text-decoration: line-through;
}

.ta-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    padding: 20px
}

p, li {
    text-align: justify;
}

.container-fluid {
    height: 100%;
}

.objective {
    list-style-type: square;
}

.section-header {
    background: #030089;
    cursor: pointer;
}

.section-intro {
    background-color: #514f57;
    color: #ffffff;
    cursor: pointer;
}

.section-card{
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 0;
}

.card-review{
    border-color: #f0f0f0;
}


.section-review {
    background-color: #f0f0f0;
    color: #000000;
    cursor: pointer;
}



.card-testing{
    border-color: #3265cb;
}

.section-testing {
    background-color: #3265cb;
    color: #ffffff;
    cursor: pointer;
}


.card-oop{
    border-color: #3c9b3b;
}
.section-oop {
    background-color: #3c9b3b;
    color: #ffffff;
    cursor: pointer;
}

.card-fp{
    border-color: #cca238;
}
.section-fp {
    background-color: #cca238;
    color: #ffffff;
    cursor: pointer;
}

.card-ds{
    border-color: #319397;
}

.section-ds {
    background-color: #319397;
    color: #ffffff;
    cursor: pointer;
}

.section-events {
    background-color: #bd181f;
    color: #ffffff;
    cursor: pointer;
}

.section-se {
    background-color: #514f57;
    color: #ffffff;
    cursor: pointer;
}

#editor {
    position: absolute;
    width: 100%;
}

#example {
    position: absolute;
    width: 100%;
}

div.big {
    min-height: 370px;
}

div.xp-progress {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    height: 15px;
}

div.progress div.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

div.xp-progress-bar {
    background: linear-gradient(to bottom, #bbbb00 0%, #ffff00 35%, #ffff00 60%, #bbbb00 100%);
}

div.grading-progress {
    background: #000000;
    /*border: 0px solid #000000;*/
    border-radius: 0;
    height: 15px;
}

div.grading-progress-bar {
    background: #1662ed;
}


ul.plain {
    list-style-type: none;
}

div.gold-star {
    padding: 15px;
    background-color: #ffff00;
    color: #dc8600;
    border: 1px solid #dc8600;
    border-radius: 4px;
    margin: 10px;
}

div.decent {
    padding: 15px;
    background-color: #00ff07;
    color: #0b4d10;
    border: 1px solid #0b4d10;
    border-radius: 4px;
    margin: 10px;
}

div.demerit {
    padding: 15px;
    background-color: #ff4949;
    color: #850900;
    border: 1px solid #850900;
    border-radius: 4px;
    margin: 10px;
}

div.comment_time {
    font-size: 3px;
    color: #777777;
}

.table-skinny {
    width: auto;
    margin: 0 10%;
}

.table-padded {
    width: 90%;
}

div.sidebar-well {
    border-radius: 0;
    padding: 5px;
    overflow: auto;
}

div.question-well {
    padding: 3px;
    margin: 5px;
    /*border-radius: 0;*/
    overflow: auto;
}

a.btn-custom {
    /*font: bold 16px Arial;*/
    font: inherit;
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
    padding: 2px 7px 2px 7px;
    border: 1px solid #666666;
    border-radius: 5px;
    /*font-size: larger;*/
    background-size: auto;

    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    display: inline-block;
}

input.btn-custom {
    /*font: bold 16px Arial;*/
    font: inherit;
    font-size: 1rem;
    /*text-decoration: none;*/
    /*margin: 7px;*/
    padding: 2px 7px 2px 7px;
    border: 1px solid #666666;
    border-radius: 5px;
    /*font-size: larger;*/
    background-size: auto;
    cursor: pointer;
}

.btn-primary-custom, .btn-primary-custom:hover, .btn-primary-custom:active {
    /*border: 1px solid #000000;*/
    /*border-radius: 5px;*/
    color: white;
    background: linear-gradient(to bottom, #168eff 1%, #1662ed 100%);
    /*box-shadow: 1px 1px 0 #168eff, inset 0 1px 0 #168eff;*/
    /*text-shadow: 1px 1px 0 rgba(0,0,0,0.25);*/
}

.btn-no-credit-custom, .btn-no-credit-custom:hover, .btn-no-credit-custom:active {
    /*border: 1px solid #666666;*/
    /*border-radius: 5px;*/
    /*cursor: default;*/
    color: #000000;
    background: linear-gradient(to bottom, #cccccc 1%, #aaaaaa 100%);
}

.btn-disabled-custom, .btn-disabled-custom:hover, .btn-disabled-custom:active {
    /*border: 1px solid #666666;*/
    /*border-radius: 5px;*/
    cursor: default;
    color: #666666;
    background: linear-gradient(to bottom, #cccccc 1%, #aaaaaa 100%);
}

.btn-gold-custom, .btn-gold-custom:hover, .btn-gold-custom:active {
    /*border: 1px solid #666666;*/
    /*border-radius: 5px;*/
    color: black;
    background: linear-gradient(to bottom, #ffff00 1%, #dddd00 100%);
}

/*.glyphicon {*/
/*font-size: 10px;*/
/*/*vertical-align: 0;*/
/*}*/

div.padded {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    padding: 4px 5px;
}

div.extra-padded {
    padding: 2% 3%;
}

div.spaced-small {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    margin: 15px 0px;
}

div.spaced {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    margin: 10px 5px;
}

div.extra-spaced {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    margin: 10px 10%;
}

@keyframes star-glow {
    0% {
        /*background-color: #eeee00;*/
        text-shadow: 0 0 3px black, 0 0 5px #ffff00;
    }
    50% {
        /*background-color: #ffff00;*/
        text-shadow: 0 0 1px black, 0 0 25px #ffff00;
    }
    100% {
        /*background-color: #eeee00;*/
        text-shadow: 0 0 3px black, 0 0 5px #ffff00;
    }
}

i.gold {
    /*color: #feff22;*/
    color: #fff700;
    text-shadow: 0 0 3px black, 0 0 5px #ffff00;
    animation: 6s star-glow infinite ease-in-out;
}

i.gray {
    color: black;
}

i.green {
    color: green;
}

i.red {
    color: red;
}

div.lecture-section-well {
    border-radius: 0;
    /*padding: 10px;*/
    margin: 5px 5px;
}

div.group-card {
    border-radius: 0;
    /*padding: 10px;*/
    margin: 2px 2px;
}

div.content-area {
    /*height: calc(100% - 32px);*/
    /*background-color: white;*/
}

div.less-padding {
    padding: 0;
    /*margin: 0;*/
}

.thumbnail {
    cursor: pointer;
    background: no-repeat center;
    background-size: cover;
}

.panel-default > .panel-heading-project-card {
    /*background-image: none;*/
    /*background-color: #f0fcff;*/
    /*background-color: #f7fbff;*/
    background-color: #f9fcff;
    color: #000000;
}

/*li.list {*/
/*margin-top: 10px;*/
/*}*/

.table-skinny {
    width: auto;
}

.well {
    background: white;
    display: inline;
    /*background: #fafafa;*/
}

.outer-well {
    border: 1px solid black;
}

div.header {
    text-align: center;
    background-color: #156ad2;
    color: #ffffff;
}

body.outer {
    /*background-color: #f7fbff;*/
    /*background-color: #1591ff;*/
    /*background-color: #f4f7f7;*/
    /*background-color: #252525;*/
    background-color: #ffffff;
}

div.messages {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a.menu_link {
    text-decoration: none;
    /*color: #e7e7e7;*/
}

html.outer, body.outer {
    /*height: 100%;*/
    /*overflow:hidden;*/
}

.navbar-default {
    border-radius: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

body {
    /*padding-top: 50px;*/
    /*margin-bottom: -65px;*/
    /*position: relative;*/
}

@media only screen and (max-device-width: 400px) {
    .tiny-text {
        display: inline-block;
    }

    .display-text {
        display: none;
    }
}

@media only screen and (min-device-width: 401px) {
    .tiny-text {
        display: none;
    }

    .display-text {
        display: inline-block;
    }
}

/* navbar colors generated by
http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
*/
.navbar-default {
    background-color: #000000;
    border-color: #474747;
}

.navbar-default .navbar-brand {
    color: #fdfdfd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d2d2d2;
}

.navbar-default .navbar-text {
    color: #fdfdfd;
}

.navbar-default .navbar-nav > li > a {
    color: #fdfdfd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d2d2d2;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #fdfdfd;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #d2d2d2;
    background-color: #474747;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #474747;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d2d2d2;
    background-color: #474747;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #d2d2d2;
    background-color: #474747;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #d2d2d2;
    background-color: #474747;
}

.navbar-default .navbar-toggle {
    border-color: #474747;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #474747;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdfdfd;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fdfdfd;
}

.navbar-default .navbar-link {
    color: #fdfdfd;
}

.navbar-default .navbar-link:hover {
    color: #d2d2d2;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fdfdfd;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d2d2d2;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d2d2d2;
        background-color: #474747;
    }
}