<tr class="homework">
    <td colspan="3">
        <a href="task5">
            Programming Task 5
        </a>
    </td>
</tr>


<tr>
    <td class="date">Tuesday<br/>June 20</td>
    <td>
        <h6 class="header">Binary Trees and Traversals -
            <a href="static_files/cse116_slides/Week7_1_Trees.pdf" target="_blank">Slides</a>
        </h6>
        <h6 class="header">Binary Search Trees (BSTs) -
            <a href="static_files/cse116_slides/Week7_2_BST.pdf" target="_blank">Slides</a>
        </h6>
        <h6 class="header">Binary Tree Examples
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/tree_data_structure.htm">Trees</a></li>
            <li class="reading"><a href="https://en.wikipedia.org/wiki/Tree_traversal">Tree Traversals (Wikipedia)</a></li>
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/binary_search_tree.htm">BST</a></li>
        </ul>
    </td>
</tr>

