<tr class="homework">
    <td colspan="3">
        <a href="task7">
            Programming Task 7
        </a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Tuesday, June 27 @ 9:00 AM<br/>
        Programming Task 5 Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Tuesday<br/>June 27</td>
    <td>
        <h6 class="header">Polymorphism -
            <a href="static_files/cse116_slides/Week9_1_Polymorphism.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Abstract Classes and Interfaces -
            <a href="static_files/cse116_slides/Week9_2_Polymorphism_2.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Polymorphism Example
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
{#            <li class="reading"><a href="https://beginnersbook.com/2013/03/oops-in-java-encapsulation-inheritance-polymorphism-abstraction/">OOP Overview</a></li>#}
{#            <li class="reading"><a href="https://overiq.com/python-101/inheritance-and-polymorphism-in-python/">Polymorphism in Python</a></li>#}
{#            <li class="reading"><a href="https://dev.to/jmcclell/inheritance-vs-generics-vs-typeclasses-in-scala-20op">Polymorphism in Scala</a> - Just the Subtype Polymorphism (Inheritance) section</li>#}
        </ul>
    </td>
</tr>

