<tr class="homework">
    <td colspan="3">
        <a href="task8">
            Programming Task 8
        </a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Thursday, June 29 @ 9:00 AM<br/>
        Programming Task 6 Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Thursday<br/>June 29</td>
    <td>
        <h6 class="header">Graphs -
            <a href="static_files/cse116_slides/Week10_1_Graphs.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Graph with BFS -
            <a href="static_files/cse116_slides/Week10_2_Pathfinding.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Graph Examples -
            <a href="static_files/cse116_slides/Week10_3_Graphs.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
{#            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/graph_data_structure.htm">Graph Overview</a></li>#}
{#            <li class="reading"><a href="https://en.wikipedia.org/wiki/Adjacency_list">Adjacency List</a></li>#}
        </ul>
    </td>
</tr>
