


<tr class="table-warning">
    <td colspan="3">Tuesday, June 13 @ 9:00 AM<br/>
        Programming Task 2 Expected Deadline
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Tuesday, June 13 @ 11:00 AM<br/>
        Classes 1 && Data Structures 1 Quizzes
    </td>
</tr>

<tr>
    <td class="date">Tuesday<br/>June 13</td>
    <td>
        <h6 class="header">Testing with Structure
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
                <h6 class="header">Testing Linked Lists and Trees
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
                <h6 class="header">The Debugger
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a
                    href="https://www.jetbrains.com/help/idea/debugging-your-first-java-application.html#stopping-debugger">Debugging
                in IntelliJ</a></li>
        </ul>
    </td>
</tr>


