<tr class="homework">
    <td colspan="3">
        <a href="task6">
{#            Programming Task 6#}
        </a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Thursday, June 22 @ 9:00 AM<br/>
        Programming Task 4 Expected Deadline
    </td>
</tr>
<tr class="table-warning">
    <td colspan="3">Thursday, June 22 @ 11:00 AM<br/>
        Classes 2 && Data Structures 2 Quizzes
    </td>
</tr>
<tr>
    <td class="date">Thursday<br/>June 22</td>
    <td>
        <h6 class="header">Files and Exceptions -
            <a href="static_files/cse116_slides/Week8_Reading_Files.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Testing With Files
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

