<tr class="homework">
    <td colspan="3">
        <a href="task4">
{#            Programming Task 4#}
        </a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Thursday, June 15 @ 9:00 AM<br/>
        Programming Task 3 Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Thursday<br/>June 15</td>
    <td>
        <h6 class="header">Inheritance -
            <a href="static_files/cse116_slides/Week6_1_Inheritance.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Inheritance and Override -
            <a href="static_files/cse116_slides/Week6_2_Inheritance.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <h6 class="header">Sorting with Comparators -
            <a href="static_files/cse116_slides/Week6_3_Comparators.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://docs.oracle.com/javase/tutorial/java/IandI/subclasses.html">Inheritance</a></li>
        </ul>
    </td>
</tr>

