

{% macro lecture(content) -%}
    <tr>
        <td class="date">{{ content.day }}<br/>{{ content.date }}</td>
        <td>
            <h6 class="header">content.title</h6>
            {% if content.reading_list %}
                <ul class="reading">
                    {% for reading_item in content.reading_list %}
                        <li class="reading"><a href="{{ reading_item.url }}">{{ reading_item.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </td>
    </tr>
{%- endmacro %}

