
<tr class="table-warning">
    <td colspan="3">Thursday, July 4 @ 9:00 AM<br/>
        Programming Task 7 Expected Deadline
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Tuesday, July 4 @ 11:00 AM<br/>
        Classes 3 && Data Structures 3 Quizzes
    </td>
</tr>

<tr>
    <td class="date">Tuesday<br/>July 4</td>
    <td>
        <h6 class="header">Testing Tips and Debugging
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>
