
<h3>Review Sessions</h3>

<p>
    TBA
</p>

{#<h4>#}
{#    The review session on December 10 will be held in <b>Davis 113A</b>#}
{#</h4>#}
{##}
{#<p>#}
{#    Logan and Jacob will hold review sessions every Tuesday 5-7pm in O'Brian 109<br/>#}
{#    <br/>#}
{#    Time: <b>Tuesdays 5-7pm</b><br/>#}
{#    Location: <b>O'Brian 109</b> (Capen 108 on October 22 only)<br/>#}
{#</p>#}
{##}
{##}
{##}
{#            <a href="https://www.twitch.tv/lramhap" target="_blank">#}
{#                <img src="static_files/twitch.png" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;#}
{##}
{#            <a href="https://drive.google.com/drive/folders/16hpmGg0gZuajKzl_QqeeJmYRsPFj7DlF?usp=sharing" target="_blank">#}
{#                <img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}

<hr/>

<h3>Office Hours</h3>

<p>
    TBA
</p>

{#<p>#}
{#    TA office hours are held in the common area outside Davis 302#}
{#</p>#}
{##}
{#<div class="table-responsive">#}
{#    <table class="table table-bordered">#}
{#        <tr>#}
{#            <th></th>#}
{#            <th>Monday</th>#}
{#            <th>Tuesday</th>#}
{#            <th>Wednesday</th>#}
{#            <th>Thursday</th>#}
{#            <th>Friday</th>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>8am</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>9am</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>10am</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>11am</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>12pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>1pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>2pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>3pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>4pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>5pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>6pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><b>7pm</b></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#    </table>#}

{#    <p>#}
{#    Dr. Jesse Hartloff office hours<br/>#}
{#    Davis 344<br/>#}
{#    Wednesday 2:00 PM - 2:50 PM#}
{#</p>#}
        <p>
            In addition to office hours, I will answer quick questions after each lecture. If I don't look busy you can
            also ask questions before class, but please don't ask a question less than 1 minute before the start of
            lecture. I have to start lecture and I won't have time to give you a proper answer.
        </p>
{#</div>#}
