
<h5>Office Hours</h5>
<p>
    Jesse<br/>
    Davis 344<br/>
    Wednesday 2:00 PM - 2:50 PM
</p>

<p>
    TA office hours are held in the common area outside Davis 302
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        <tr>
            <td><b>8am</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>9am</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>10am</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>11am</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>12pm</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>1pm</b></td>
            <td>[lecture]</td>
            <td></td>
            <td>[lecture]</td>
            <td></td>
            <td>[lecture]</td>
        </tr>
        <tr>
            <td><b>2pm</b></td>
            <td></td>
            <td></td>
            <td>Jesse (Davis 344)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>3pm</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>4pm</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>5pm</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>6pm</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
