<h3>Review Sessions</h3>
<br/>
<a href="https://www.twitch.tv/cse_review_sessions" target="_blank">
    <img src="static_files/twitch.png" class="img-responsive" height="45px"/></a>&nbsp;&nbsp;
<br/>
<p>
    There are 3 weekly review sessions that will run all semester.
</p>


<p>
    <b>Monday 4-6pm</b><br/>
    <b>O'Brian 214</b><br/>
</p>
<p>
    <b>Tuesday 4-6pm</b><br/>
    <b>Bell 337</b><br/>
</p>
<p>
    <b>Friday 4-6pm</b><br/>
    <b>O'Brian 109</b><br/>
</p>

<p>
    If you'd like more review, or just want to hang out, please stop by.
</p>

{##}
{#            <a href="https://drive.google.com/drive/folders/16hpmGg0gZuajKzl_QqeeJmYRsPFj7DlF?usp=sharing" target="_blank">#}
{#                <img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


<hr/>

<h3>Office Hours</h3>


<p>
    TA office hours are held in the common area outside Davis 302
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday!</th>
        </tr>
        <tr>
            <td><b>8am</b></td>
            <td>Mike</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>9am</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Nick</td>
        </tr>
        <tr>
            <td><b>10am</b></td>
            <td></td>
            <td>Taisia</td>
            <td>Stephen</td>
            <td>Snigdha, Taisia</td>
            <td>Stephen</td>
            <td>Megan, Lana, Nick</td>
        </tr>
        <tr>
            <td><b>11am</b></td>
            <td></td>
            <td>Tanvie</td>
            <td></td>
            <td>Snigdha, Tanvie</td>
            <td></td>
            <td>Megan, Lana, Nick</td>
        </tr>
        <tr>
            <td><b>12pm</b></td>
            <td>Megan</td>
            <td>Megan, Tanvie, Lana</td>
            <td>Megan</td>
            <td>Jon, Tanvie</td>
            <td>Nick</td>
            <td></td>
        </tr>
        <tr>
            <td><b>1pm</b></td>
            <td>Sayef, Ahamed</td>
            <td>Lana, Megan, Jesse (Davis 344)</td>
            <td></td>
            <td>Jon, Lana</td>
            <td>Ahamed</td>
            <td>Lana</td>
        </tr>
        <tr>
            <td><b>2pm</b></td>
            <td></td>
            <td>Jesse (Davis 344)</td>
            <td></td>
            <td></td>
            <td>Catherine</td>
            <td>Lana</td>
        </tr>
        <tr>
            <td><b>3pm</b></td>
            <td>Tanvie, Nick</td>
            <td>Jon, Pat</td>
            <td>Sayef, Taisia, Pat</td>
            <td></td>
            <td>Joseph, Catherine, Megan, John T</td>
            <td></td>
        </tr>
        <tr>
            <td><b>4pm</b></td>
            <td>Tanvie</td>
            <td>Jon, John D</td>
            <td>Sayef, Logan, John T</td>
            <td>Shamroy</td>
            <td>Joseph, Mike</td>
            <td></td>
        </tr>
        <tr>
            <td><b>5pm</b></td>
            <td>Tanvie, Shamroy</td>
            <td>John D, Joseph, Mike</td>
            <td></td>
            <td>Shamroy, Mike, Megan</td>
            <td>Catherine, Lana</td>
            <td></td>
        </tr>
        <tr>
            <td><b>6pm</b></td>
            <td></td>
            <td>Logan, Joseph</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>7pm</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

<div class="row">
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Ahamed.jpeg"/>
        <p class="text-center">Ahamed</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Catherine.jpeg"/>
        <p class="text-center">Catherine</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Drew.jpeg"/>
        <p class="text-center">Drew</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Jacob.jpg"/>
        <p class="text-center">Jacob</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/John D.jpg"/>
        <p class="text-center">John D</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/John T.jpeg"/>
        <p class="text-center">John T</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Jon.jpeg"/>
        <p class="text-center">Jon</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Joseph.jpeg"/>
        <p class="text-center">Joseph</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Kevin.jpeg"/>
        <p class="text-center">Kevin</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Logan.jpeg"/>
        <p class="text-center">Logan</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Mike.jpeg"/>
        <p class="text-center">Mike</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Megan.jpeg"/>
        <p class="text-center">Megan</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Nick.jpeg"/>
        <p class="text-center">Nick</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Pat.jpeg"/>
        <p class="text-center">Pat</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Lana.jpeg"/>
        <p class="text-center">Lana</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Sayef.jpeg"/>
        <p class="text-center">Sayef</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Shamroy.jpeg"/>
        <p class="text-center">Shamroy</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Stephen.jpeg"/>
        <p class="text-center">Stephen</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Snigdha.jpeg"/>
        <p class="text-center">Snigdha</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Taisia.jpeg"/>
        <p class="text-center">Taisia</p>
    </div>
    <div class="well">
        <img class="ta-image img-fluid img-rounded" src="/static_files/ta/Tanvie.jpeg"/>
        <p class="text-center">Tanvie</p>
    </div>
</div>


