
<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            You know the basics of programming. You're proficient in variables, functions, control flow,
            data structures, and file IO. With these concepts, you can train a computer
            to complete nearly any task you can imagine. So what's next?
        </p>

        <p>
            <b>Writing large programs</b>
        </p>

        <p>
            You will learn how to write and organize large pieces of software. To this end, in CSE116 you will study:
        </p>

        <ul>
            <li><b>Unit Testing</b></li>
            <li><b>Classes and Object-Oriented Programming (OOP)</b></li>
            <li><b>Data Structures & Algorithms</b></li>
        </ul>

        <p>
            While studying these topics we will have a focus on <em>how</em> your programs work, not just
            <em>that</em> they work.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            This is not an easy course! To do well in this course you are expected to:
        </p>
        <ul>
            <li>Invest a minimum of <b>12 hours/week*</b> in CSE116 including at least 7 hours/week outside of class/lab</li>
            <li>Want to learn about computer science (This is assumed since you are taking a second CSE course)</li>
            <li>Have a <b>strong</b> understanding of the basics of programming (Including expressions, variables, functions, conditionals, loops, arrays, key-value stores, and memory traces)</li>
            <li>Participate in every lecture and lab (There is NO lab during weeks 1 or 2)</li>
        </ul>

        <p>
            * The 12 hour/week minimum is an average. If you invest less than 12 hours/week in
            CSE116 during the first several weeks of the semester, or do not fully understand all the CSE115 topics,
            you should expect to work significantly more than
            12 hours/week while you catch up. You can expect to spend 40+ hours in a single week on this course
            alone if you fall behind or if you have not mastered the basics of programming
        </p>

    </div>

</div>



<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objectives</h3>

        <p>
            Being successful in CSE116 requires completion of all of the learning objective requirements.
        </p>

        <p>
            Learning objectives are divided into 2 primary categories:
        </p>

        <hr/>
        <h4>Classes/Object-Oriented Programming (OOP)</h4>

        <p>
            Instead of writing programs as a collection of variables and functions, with object-oriented programming
            we will group
            these variables and functions into classes and objects. This allows developers to reason about their
            programs at a higher level of abstraction.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective"><b>Read/Quiz</b>: Trace through the execution of programs that use classes,
                inheritance, and polymorphism while tracking the state of stack and heap memory using
                memory diagrams</li>
            <li class="objective"><b>Explain/Interview</b>: Describe the concepts of classes, inheritance, and
                polymorphism and explain how they can be used to help us write software</li>
            <li class="objective"><b>Write</b>: Write programs and testing that use classes,
                inheritance, and polymorphism
            </li>
        </ul>


        <hr/>
        <h4>Data Structures & Algorithms</h4>

        <p>
            We will study several new approaches for storing data and computing with that data. Primarily, we will see
            linked-lists, trees, and graphs while exploring applications of each data structure.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective"><b>Read/Quiz</b>: Trace through the execution of programs that use linked-lists and trees
                 using memory diagrams</li>
            <li class="objective"><b>Explain/Interview</b>: Describe the structure and applications of linked-lists and trees
            </li>
            <li class="objective"><b>Write</b>: Write programs and testing that use linked-lists, trees, and graphs as well as
                implement new algorithms to expand the functionality of each data structure</li>
        </ul>


        <hr/>
        <h4>Learning Objective Completion</h4>

        <p>
            <b>
                To complete the learning objectives of this course, you must complete all of the following requirements.
            </b>
        </p>

        <ul>
            <li><b>Read - Lab Quiz x2</b>
            <ul>
                <li>
                    There are 2 lab quiz requirements that must be completed throughout the semester. These
                    quizzes are labeled on the course schedule as:

                <ol>
                    <li>Quiz 1 - Data Structures</li>
                    <li>Quiz 2 - OOP</li>
                </ol></li>
                <li>
                    Quizzes will be completed during your lab section and will assess your ability to trace through
                    stack and heap memory during the execution of given code.
                </li>
                <li>
                    There are 2 lab quizzes on the schedule for each quiz labelled as "1st chance" and
                    "2nd chance". If you do not complete the quiz on the first chance, you can attempt the quiz again
                    during the second chance quiz. If the course staff verifies
                    that you've completed the learning objective on the 1st chance quiz, you do
                    not have to take the quiz during the 2nd chance.
                </li>
                <li>
                    If you do not complete both quizzes after your first 2 attempts, you will be given a 3rd chance
                    to complete each quiz during the final exam.
                </li>
                <li>
                    Each quiz contains 2 traces for you to complete.
                </li>
                <li>
                    Each trace is graded on a pass/fail basis. All completion decisions will be made by a human
                    after reviewing your submission.
                </li>
                <li>
                    To complete a quiz learning objective, you must pass at least 2 traces for that quiz. This means
                    you must successfully complete at least 2 data structures traces and 2 OOP traces across all your
                    attempts (after 6 total attempts at traces for each quiz). Example: For OOP, you pass 1 of the 2
                    traces on the 1st chance, fail both on the 2nd chance, then pass 1 of 2 on the final exam, then you
                    still pass the OOP quiz learning objective since you passed 2 of the 6 traces
                </li>
            </ul></li>
            <li><b>Explain - Lab Interview x4</b>
            <ul>
                <li>
                    There are 4 lab interview requirements that must be completed throughout the semester. These
                    interviews are labeled on the course schedule as:
                </li>
                <ol>
                    <li>Interview 1 - Classes</li>
                    <li>Interview 2 - Linked-Lists</li>
                    <li>Interview 3 - Trees</li>
                    <li>Interview 4 - Inheritance & Polymorphism</li>
                </ol>
                <li>
                    During lab interviews you
                    will have a 10-minute interview with a TA. The TA may ask any
                    questions they deem appropriate in order to assess that you can explain the relevant concept.
                    The TA will submit a summary of your answers that will be reviewed by the course staff.
                </li>
                <li>
                    The interviews are graded on a pass/fail basis. After human review of your
                    answers, it will be
                    decided whether or not you completed the explain portion of the learning objective through your
                    interview performance. If you complete the interview during the 1st chance lab,
                    you do not have to interview again during the 2nd chance lab.
                </li>
                <li>
                    Your interviewing TA does not make decisions for learning objective completion. Do not pressure your TA into
                    marking you for completion. Likewise, your TA cannot tell you during the interview whether or not you
                    passed since they will not know. The course staff will weigh all evidence
                    while reviewing the reports from all TAs and efforts will be made to neutralize the variance between
                    TAs (i.e.
                    Your completion of learning objectives should not be affected by which TA you were assigned for an
                    interview).
                </li>
                <li>
                    If you do not complete all 4 interview after your first 2 attempts, you will be given a 3rd
                    chance to complete each interview during the final exam. The final exam interviews will be
                    interview-style questions, but it will be a written exam where you'll write your answers to the
                    questions
                </li>
            </ul></li>
            <li><b>Write - Programming Tasks x8</b>
            <ul>
                <li>
                    There are 8 learning objective programming tasks assigned throughout the semester. To complete the
                    write portion of the learning objectives, you must complete all 8 programming tasks.
                </li>
            </ul></li>
        </ul>

        <p>
            <b>Final Exam: </b>The final exam is used as a 3rd chance to complete the quizzes and interviews. If you
            already completed both quizzes and all 4 interviews after the first 2 attempts for each, you do not need to
            attend the final exam.
        </p>

        <br/>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objective Requirements Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>All 8 Programming Tasks, both Quizzes, and all 4 Interviews</td>
                <td>Grade depends on the number of Application Objectives completed</td>
            </tr>
            <tr>
                <td>Less than all Programming Tasks, both Quizzes, and all Interviews</td>
                <td>F</td>
            </tr>
        </table>
    </div>
</div>






<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Application Objectives</h3>
        <p class="card-text">


        <p>
            If you have completed all of the learning objectives, your grade will be determined by the number of
            application objectives you've completed. Most application objectives are designed to incentivize you to keep
            up with the material of the course and are not meant to be overly difficult to earn.
            Your final letter grade will be determined as follows:
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Application Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>30-33</td>
                <td>A</td>
            </tr>
            <tr>
                <td>27-29</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>24-26</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>21-23</td>
                <td>B</td>
            </tr>
            <tr>
                <td>18-20</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>15-17</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>12-14</td>
                <td>C</td>
            </tr>
            <tr>
                <td>9-11</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>5-8</td>
                <td>D+</td>
            </tr>
            <tr>
                <td>0-4</td>
                <td>D</td>
            </tr>
        </table>

        <br/>

        <hr/>
        <h4>Application Objectives</h4>

        <p>
            Falling even 1 week behind in this course will significantly increase your chances of failing. Application
            Objectives offer you incentives to stay up-to-date on the material by giving you chances to improve your
            letter grade.
        </p>

        <ul>
            <li>Programming Task Expected Deadlines x16
            <ul>
                <li>
                    Each of the 8 programming tasks have 3 separate deadlines. Completing all tasks before the earliest
                    deadline will earn you a total of 16 application objectives. These deadlines are:
                </li>
                <li>
                    <b>Expected Deadline: </b>The expected deadline is set on the Friday night after the week when the
                    material for the task was covered in lecture. As the name implies, this is when you are expected to
                    be able to complete the task if you are keeping up with the course. Each time you complete a task
                    before it's expected deadline, you will earn 2 application objectives
                </li>
                <li>
                    <b>Late Deadline: </b>This deadline is 1 week after expected deadline.
                    Complete a task before this deadline to earn 1 application objective. This allows you a second
                    chance to still earn an application objective even if you are failing behind in the course. If you
                    are consistently relying on the late deadlines, you are at risk of failing the course and must work
                    hard to catch back up
                </li>
                <li>
                    <b>Final Deadline: </b>The final deadline is 1 week after the late deadline. You must complete
                    all 8 tasks before their final deadline or you will fail the course. This means that if you miss any
                    of the 8 final deadlines, you will fail the course regardless of your performance throughout the
                    rest of the course. This deadline is set a full 3 weeks after the content for the task has been
                    covered in lecture. Students who fall more than 3 weeks behind in CSE116 are not able to catch back
                    up and pass the course. This deadline removes any false hope you may have of catching up after
                    falling so far behind. Meeting
                    this deadline will not result in any application objectives
                </li>
            </ul></li>
            <li>Application Objective Task x2
            <ul>
                <li>
                    There is an additional programming tasks called the "Application Objective Task" that is not
                    related to your
                    learning objectives and therefore does not need to be completed to pass the class. This task offers
                    the opportunity to earn 2 additional application objectives
                </li>
                <li>
                    There's only 1 deadline for the application objective task. Each task is divided into 2 parts that
                    are each worth 1 application objective so you can still earn 1 application objective even if you
                    don't complete the entire task by the deadline
                </li>
            </ul></li>
            <li>Quizzes x4
            <ul>
                <li>
                    Each quiz opportunity contains 2 traces (For a total of 6 traces for each quiz -
                    Data Structures and OOP). On either of your first 2 opportunities, if you successfully complete
                    both traces you will earn 2 application objective.
                </li>
                <li>
                    No application objectives are available on final exam
                </li>
            </ul></li>
            <li>Interview x8
            <ul>
                <li>
                    If you complete an interview during the 1st chance lab, you will earn 2 application objectives
                </li>
                <li>
                    If you complete an interview during the 2nd chance lab [and did not complete it on the first chance],
                    you will earn 1 application objective
                </li>
                <li>
                    If you need to take an interview a 3rd time during the final exam, you cannot earn any application
                    objectives for that interview
                </li>
            </ul></li>

            <li>Lecture Questions x3
            <ul>
                <li>
                    Most lectures will include questions or activities to be completed during live lectures. These
                    will be simple
                    questions designed to encourage you to attend lecture and stay up to date on the material. Since
                    lectures will be recorded, there is a temptation to watch lecture days, or even weeks, after they
                    occur. These questions are to serve as an incentive for you to attend lecture and avoid falling
                    behind in the course.
                </li>
                <li>
                    We will drop a total of 6 (2 weeks worth) lecture questions that were either not submitted or
                    submitted with an incorrect answer. You can use these 6 drops for any reason (Including illness or
                    travel) and no additional drops will be given for any reason (ie. If you have to miss more than 2
                    full weeks of lecture, you have bigger problems to worry about than your lecture question points).
                </li>
                <li>
                    If, after the 6 drops, you answer all lecture questions correctly, you will earn 3 application
                    objectives
                </li>
                <li>
                    If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                    between 1 and 4 lecture questions, you will earn 2 application
                    objectives
                </li>
                <li>
                    If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                    between 5 and 9 lecture questions, you will earn 1 application
                    objective
                </li>
                <li>
                    If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                    more than 9 lecture questions, you will not earn any application
                    objectives from lecture questions
                </li>
            </ul></li>
        </ul>

                  Lab Absence Policy:
            <ul>
                <li>
                    For up to 1 interview, you can earn the full 2 application objectives on your second
                    attempt if you missed the 1st attempt. This will be done automatically. This allows for an excused
                    absence without penalty and without having to provide documentation. If you are sick for a week,
                    make your own judgement to stay home and use this policy, and the dropped lecture questions, to
                    still
                    have a chance to earn every application objective in the course.
                </li>
                <li>
                    Note that this policy does not apply to quizzes since the 1st and 2nd attempts are already treated
                    the same
                </li>
                <li>
                    You will not be given a 4th chance to any interview or quiz after missing a lab even with a
                    legitimate reason for your absense. The course is designed to give every student 2 chances to allow
                    for a wide variety of situations including illnesses. The expectation is that every student will
                    only need 1 attempt for any quiz or interview and the 2nd chance - with an opportunity to earn
                    application objectives - is only given to allow for extraneous circumstances
                </li>
                <li>
                    If you have legitimate reasons for missing both the 1st and 2nd attempts for an interview/quiz, you
                    can be given an extra attempt that may be scheduled outside of lab. To earn such an attempt, you
                    <b>must</b> provide documentation that proves that you had to miss both weeks of lab (eg. a doctors note
                    excusing you from classes with dates that cover both labs). If you legitimately had to miss 2 weeks
                    of lab, you should have such documentation in your possession. Excuses without documentation will
                    not be entertained (eg. You can't simply claim that you were sick for that long)
                </li>
            </ul>
    </div>
</div>




<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials are provided
            in the course schedule. When a reading is listed you should study it before lecture.
        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
            https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>
            All submitted work must be of your own creation, and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student,
            or can be found online, it is in violation of this course's academic integrity policy, and all students will
            be penalized whether they were copying or sharing their code with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

{#        <div class="row">#}
{#            <div class="col-sm-4">#}
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE116.</h3>
                </div>
{#            </div>#}
{#            <div class="col-sm-8"></div>#}
{#        </div>#}

        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.
        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                the code independently
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you understand the concepts of the course</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Pressuring a TA to falsify an interview report.</li>
            <li>Submitting code, or other work, for course credit that is not your own.</li>
            <li>Collaborating with another student to write code for an assignment. <-- This is the most common type of violation. DO NOT write code together!</li>
            <li>Using Artificial Intelligence to help you write code</li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)</li>
            <li>Having someone help you write code.</li>
            <li>Hiring someone to write code for you.</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Attempting to access the grading code on Autolab.</li>
            <li>Asking any of the course staff to falsify your grade (eg. Asking for any result that you did not rightfully earn).</li>
            <li>Submitting lecture questions without attending the entire lecture in person.</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>