<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            In CSE115 you've learned the basics of programming. You're proficient in variables, functions, control flow,
            data structures, file IO, networking, databases, and security. With these concepts you can train a computer
            to complete any task you can imagine. So what's left to study in CSE116?
        </p>

        <p>
            <b>How to write large programs</b>
        </p>

        <p>
            While you can apply what you already know to code practically anything a computer is capable of processing,
            it becomes very difficult very fast to write and organize
            large and complex pieces of software. To this end, in CSE116 you will study:
        </p>

        <ul>
            <li><b>Program Execution</b></li>
            <li><b>Object-Oriented Programming</b></li>
            <li><b>Functional Programming</b></li>
            <li><b>Data Structures & Algorithms</b></li>
            <li><b>Event-Based Architectures</b>
            </li>
        </ul>

        <p>
            While studying these topics we will have a strong focus on <em>how</em> your programs work, not just
            <em>that</em> they work.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            This is not an easy course! To do well in this course you are expected to:
        </p>
        <ul>
            <li>Invest a minimum of <b>12 hours/week*</b> in CSE116 including at least 7 hours/week outside of class/lab
            </li>
            <li>Want to learn about computer science (This is assumed since you are taking a second CSE course)</li>
            <li>Be comfortable with <b>all</b> of the CSE115 material</li>
            <li>Participate in every lecture and lab (Except the first week when there are no labs)</li>
            <li>Have access to a computer with a reliable Internet connection</li>
        </ul>

        <p>
            * The 12 hour/week minimum assumes that you are up-to-date on all concepts that have been covered. If you
            are not comfortable with all the CSE115 material you should expect to work significantly more than
            12 hours/week until you are caught up with the material. Likewise, if you invest less than 12 hours/week in
            CSE116 during the first several weeks of the semester you should expect to work significantly more than
            12 hours/week later in the semester (ie. Expect to spend 40+ hours in a single week if you wait until a
            major deadline before studying).
        </p>

        <p>
            If you are unable or unwilling to spend at least 12 hours/week on this course, please navigate your
            browser to the hub and drop CSE116. Dropping is much better for your transcript than an F or an R.
        </p>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">CSE115 Review</h3>
        <p class="card-text">
            If you did not take the new CSE115, or would otherwise like to review the material, below are some CSE115
            resources to help you get caught up:
        </p>
        <ul>
            <li><a href="https://fury.cse.buffalo.edu/quest/cse115-f18/skill-tree">UBInfinite</a>: Practice problem site
            </li>
            <li><a href="https://cse.buffalo.edu/faculty/alphonce/FA18/CSE115/index.php">Course Website</a>: Contains
                links to lecture slides
            </li>
            <li>
                <a href="https://docs.google.com/document/d/1_iJO23pl21YcgP8nw4YJYrOzqihAXgFBI8xd9dzt2SM/edit?usp=sharing">Lecture
                    Recordings</a>: Videos of every lecture by Dr. Carl Alphonce
            </li>
            <li><a href="https://github.com/hartloff/CSE116-Python-Examples/tree/master/src/cse115">Largest Cities</a>:
                Review code
            </li>
        </ul>

        <p>
            Keep in mind that you must understand the concepts of CSE115 and be prepared to apply them to a new
            language (Scala).
        </p>
    </div>

</div>

<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objectives</h3>

        <p>
            In CSE116 you will learn concepts related to the following 5 learning objectives. Being successful in CSE116
            requires completion of all 5 of these objectives. Each objective is divided into 3 parts:
        </p>

        <ul class="objective">
            <li>Read - Given a program related to the learning objective, trace through its execution and describe
                what the computer does at each step. This is primarily assessed during the learning objective
                verification labs. If you do not demonstrate this during the lab, makeup opportunities will be given
                during later labs.
            </li>
            <li >Write - Given a real-world problem statement, write a program that solves the problem. This is
                primarily assessed through the lecture questions. Each learning objective has 6 lecture questions that
            are submitted to, and graded by, AutoLab. Complete all 6 lecture questions to complete the writing portion
            of the learning objective. If you complete a homework assignment related to a learning objective, some of the
            lecture question requirements may be waived.</li>
            <li>Explain - Communicate verbally about the concepts of the learning objective. You must demonstrate an
                understanding of these concepts as well as comprehensive knowledge of the related terminology. This
                will primarily be assessed during interviews where you will be asked questions about these concepts.</li>
            <li>Verification - After completing the reading, writing, and explaining portions of the learning
                objective, your progress will be reviewed by Jesse for final verification. You have not completed the
                objective until it is verified and you may be asked to provide additional evidence of completion during
                the verification process.</li>
        </ul>

        <hr/>
        <h4>Program Execution</h4>

        <p>
            In CSE115 there was a focus on writing programs to accomplish specific tasks. In CSE116
            we will focus on how those programs run. We will look at how memory is managed and
            how to automate the testing of programs.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective">Read: Trace through a program and track the state of the stack and heap memory throughout
                its execution
            </li>
            <li class="objective">Write: Write programs that pass references of objects to methods and write automated tests
                to verify the functionality of such methods</li>
            <li class="objective">Explain: Describe the concepts of stack frame, pass-by-reference, unit testing,
                classes, and objects while reflecting on their importance in the programs we write</li>
        </ul>

        <br/>

        <hr/>
        <h4>Object-Oriented Programming</h4>

        <p>
            Instead of writing programs as a collection of variables and functions, with object-oriented programming
            we will group
            these variables and functions into classes and objects. This allows developers to reason about their
            programs at a higher level of abstraction.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective">Read: Trace through the execution of programs that use inheritance and polymorphism while tracking the state of stack and heap memory</li>
            <li class="objective">Write: Implement programs that change behavior based on the type of an object stored in a
                variable by applying the concepts of inheritance and polymorphism
            </li>
            <li class="objective">Explain: Describe the concepts of inheritance, polymorphism, and abstract classes and
                explain how they can be used to help us write software</li>
        </ul>

        <br/>

        <hr/>
        <h4>Functional Programming</h4>

        <p>
            Functional programming is based on functions with clearly defined input/output behavior. If a function is
            called multiple times with the same input, it must always have the same output regardless of the state of
            the program. This consistent behavior makes functional programs suitable for multi-threading and
            distributed systems.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective">Read: Trace through the execution of recursive methods/functions, methods that take a function as a parameter, methods that return a function, and programs that use immutable types while tracking the state of stack and heap memory</li>
            <li class="objective">Write: Implement recursive methods/functions, methods that take a function as a parameter, methods that return a function, and programs that use immutable types</li>
            <li class="objective">Explain: Describe the concepts of recursion, first-order functions, and immutability while explaining their implications for software that applies these concepts</li>
        </ul>

        <br/>

        <hr/>
        <h4>Data Structures & Algorithms</h4>

        <p>
            We will study several new approaches for storing data and computing with that data. Primarily we will see
            linked-lists, trees, and graphs while exploring applications of each structure.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective">Read: Trace through the execution of programs that use linked-lists, trees, and graphs</li>
            <li class="objective">Write: Implement new algorithms to expand the functionality of linked-lists, trees, and
                graphs
            </li>
            <li class="objective">Explain: Describe the structure of linked-lists, trees, and graphs and the implications of these structures including advantages and disadvantages of each</li>
        </ul>


        <br/>

        <hr/>
        <h4>Event-Based Architectures</h4>

        <p>
            As CPUs and GPUs add more cores and large apps are distributed across multiple machines (ex. YouTube is
            much too large run on a single machine) the importance of concurrently executing code is more important than
            ever. Event-based architectures provide a way for concurrently executing pieces of code to communicate with
            each other while accomplishing the goals of a larger program.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective">Read: Trace through the execution of software designed with event-based architectures</li>
            <li class="objective">Write: Implement event-based software using actor systems and web sockets</li>
            <li class="objective">Explain: Describe the structure of event-based systems, the mechanics of message passing, and what advantages these architectures provide over sequentially executing programs</li>
        </ul>

        <br/>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">

        <p>
            Your grade in this course will be directly correlated to your completion of the learning objectives. You
            must demonstrate that you completed all 5 learning objectives to earn a passing grade in this
            class.
        </p>

        <br/>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>5</td>
                <td>Grade depends on the number of application objectives completed</td>
            </tr>
            <tr>
                <td>0-4</td>
                <td>F</td>
            </tr>
        </table>
        <br/>
        <br>
        <p>
            If you have completed all 5 learning objectives, your grade will be determined by the number of
            application objectives met. You will have 8 opportunities to demonstrate that you can <em>apply</em> the
            skills you gained through the learning objectives to solve real-world problems. Your final letter
            grade will be determined as follows:
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Application Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>8</td>
                <td>A</td>
            </tr>
            <tr>
                <td>7</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>6</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>5</td>
                <td>B</td>
            </tr>
            <tr>
                <td>4</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>3</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>2</td>
                <td>C</td>
            </tr>
            <tr>
                <td>1</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>0</td>
                <td>F</td>
            </tr>
        </table>

        <br/>

{#        <p>#}
{#            In accordance with the university grading policy, if you earn an F in this course while participating in#}
{#            less than 60% of the meeting time (lecture and lab) you will instead earn a grade of FX.#}
{#        </p>#}


        <hr/>
        <h4>Learning Objective Completion</h4>

        <p>
            <b>
                You must demonstrate that you've completed all 5 learning objectives in order to pass this class.
            </b>
        </p>

        <p>
            All decisions relating to learning objective completion will be made by Jesse using your performance in
            the course as evidence. TAs will make recommendations, but no objective is complete until it is reviewed
            and approved by Jesse. At a minimum, for each of the 5 learning objectives you will have the following
            opportunities to demonstrate completion of the objective:
        </p>

        <ul>
            <li>Six lecture questions</li>
            <ul>
                <li>Each learning objective will be covered across six lectures. Each lecture will have a
                    corresponding lecture question to be submitted on AutoLab. These questions have a recommended deadline
                    of midnight the day after lecture.</li>
            </ul>
            <li>One lab activity</li>
            <ul>
                <li>Each learning objective has a corresponding lab session that will include a lab activity. All such
                    labs will take place on <b>Thursdays</b>. The lab will be accessible via a Google form and you will have 2
                    hours to complete the form after you begin. To accommodate different time zones, you may begin the
                    lab at any time from 12:01am until 10:00pm on Thursday.</li>
            </ul>
            <li>One interview with a TA</li>
            <ul>
                <li>Interviews are scheduled with a TA and take place over a Zoom meeting. You must have a webcam
                    showing your face during these interviews. The TA may ask any
                    questions they deem appropriate in order to assess your completion of the learning objective.
                    Following the interview, the TA will submit a report to Jesse based on your performance.
                </li><li>
                Your
                    TA does not make decisions for learning objective completion. Jesse will weight all evidence
                    while reviewing these reports and efforts will be made to neutralize the variance between TAs (ie.
                    Your completion of learning objectives should not be affected by which TA you were assigned).
                </li>
            </ul>
            <li>The final exam</li>
            <ul>
                <li>There is no standard final exam for this course. However, the final exam time may be used for any
                    student who has not yet completed all 5 learning objectives at the discretion of the course staff.
                    Note that if you do not have all 5 learning objectives by the end of the last day of class then you
                    have earned an F in CSE116. In certain cases you may be invited to prove your completion of these
                    objectives during finals week, but there is no guarantee that you will have this opportunity.
                    No application objectives can be made up during this time.</li>
            </ul>
        </ul>

        <p>
            Decisions for completion of a learning objective will be made using your performance
            throughout these opportunities as evidence. Note that there is no simple correlation between completion
            of these opportunities and completion of the learning objective. Completion of a lecture question or lab
            activity will be only one aspect considered in determining if you truly completed the learning objective.
        </p>


        <ul>
            <li>
                Example: Getting credit on AutoLab with code that you cannot explain, or that bypasses the learning
                objective (eg. Not using recursion on a recursion lecture question), does not demonstrate completion
                of the learning objective.
            </li>
            <li>
                Example: Not getting credit on AutoLab for a reason that has nothing to do with the learning objective
                (eg. A capital letter that should be lowercase) does not diminish completion of the learning
                objective.
            </li>
        </ul>



        <hr/>
        <h4>Application Objectives</h4>

        <p>
            You can improve your letter grade by proving that you can <b>apply</b> the learning objectives to solve
            <b>real-world problems</b>. You will have 8 opportunities to complete application objectives.
        </p>

        <ul>
            <li>Homework Assignments x5</li>
            <ul>
                <li>
                    Each of the 5 learning objectives will have one or more corresponding homework assignments. Complete
                    one homework assignment for a learning objective and verify completion with your TA, via an
                    interview, to complete these objectives. Homework verification will take place in certain lab
                    sessions.
                </li>
            </ul>
            <li>Homework Expansions <div class="strike">x2</div> x3</li>
            <ul>
                <li>
                    Some homework assignments will contain expansion opportunities. These will be open-ended objectives
                    that expand the functionality of the software. Complete one of these expansions and <div class="strike">schedule an
                    interview to demonstrate completion</div> fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSTH1ZmOAAc5UG9wGeSOm1JFYPQvm-Whoi477gzDAbTZmKxw/viewform?usp=sf_link">
                    this form</a> to notify the course staff.
                </li>
                <li>
                    As an alternative to homework expansions, you may complete an additional homework assignment for a
                    learning objective that you've already completed. If you choose this option you should <div class="strike">notify your
                    TA and schedule and additional interview to demonstrate this completion.</div> fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSTH1ZmOAAc5UG9wGeSOm1JFYPQvm-Whoi477gzDAbTZmKxw/viewform?usp=sf_link">
                    this form</a> to notify the course staff.
                </li>
            </ul>
            <li>Project Contribution</li>
            <ul>
                <li>
                    The last section of the course will involve a large project. Your contribution to the project is
                    another opportunity to complete an application objective. <div class="strike">Contributions will be demonstrated through
                    interviews.</div>
                </li>
            </ul>
        </ul>

        <p>
            All application objectives must be verified by the course staff to earn credit for completion. During
            homework verification interviews you must be prepared to:
        </p>

        <ul>
            <li>Communicate effectively at a technical level regarding the assignment</li>
            <li>Describe the expected behavior of the homework software</li>
            <li>Demonstrate your solution by running your software and using it for its intended purpose</li>
            <li>Explain the code and design decisions in your homework submission</li>
        </ul>

        <p>
            As with the learning objectives:
        </p>

        <ul>
            <li>It is possible to pass all the tests on AutoLab and not complete the application objective if you fail
                any of the above verification tasks during an interview.</li>
            <li>
                It is possible to fail some/all tests on AutoLab and still complete the application objective depending
                on the specific situation. (Final decisions will be made by Jesse based on recommendations from TAs)
            </li>
        </ul>

        <p>
            The amount and type of verification required will depend on your AutoLab results when applicable.
        </p>

        <h3>Homework Procedure</h3>

        <p>
            Each homework assignment will have a posted deadline, though you may have opportunities to complete the
            assignment after this deadline. The following apply to homework deadlines:
        </p>

        <ul>
            <li>If you do not submit (On AutoLab) an honest effort to complete the assignment before the posted
                deadline you will not be able to earn credit for that assignment. This implies that if you miss one
                homework deadline you cannot earn an A in CSE116 this semester. What constitutes an "honest effort"
                will be decided at the discretion of the course staff.</li>
            <li>If you submit an honest effort before the deadline, but don't complete the assignment, you will be given
                additional time to complete the assignment.</li>
            <li>If you never complete the AutoLab portion of the assignment, you may still be able to earn completion of the
                application objective through the interview. If you know your program is correct (And you have
                comprehensive unit tests that pass!! Don't even attempt to get credit if you haven't tested your code
                thoroughly) but AutoLab won't
                award completion, don't waste hours of your life swearing at the grading code. Explain the situation to
                your TA during the interview and the course staff will determine how to proceed.</li>
        </ul>

    </div>

</div>


<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials are provided
            in the course schedule. When a reading is listed you should study it before lecture to be prepared for the
            lecture question.
        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html">
            http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>

            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were copying or sharing their code with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE116.</h3>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                code independently
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you understand the concepts of the course</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Pressuring a TA to falsify a learning objective report or application objective verification.</li>
            <li>Submitting code or other work that is not your own for course credit.</li>
            <li>Collaborating with another student to write code for an assignment. <-- This is the most common type of violation. DO NOT write code together!
            </li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)
            </li>
            <li>Having, or hiring, someone to help you write code</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Attempting to access the grading code on AutoLab.</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>
