

<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            You know the basics of programming. You're proficient in variables, functions, control flow,
            data structures, file IO, networking, databases, and security. With these concepts you can train a computer
            to complete nearly any task you can imagine. So what's next?
        </p>

        <p>
            <b>Writing large programs</b>
        </p>

        <p>
            You will learn how to write and organize large pieces of software. To this end, in CSE116 you will study:
        </p>

        <ul>
            <li><b>Program Execution</b></li>
            <li><b>Object-Oriented Programming</b></li>
            <li><b>Functional Programming & Concurrency</b></li>
            <li><b>Data Structures & Algorithms</b></li>
            </li>
        </ul>

        <p>
            While studying these topics we will have a strong focus on <em>how</em> your programs work, not just
            <em>that</em> they work.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            This is not an easy course! To do well in this course you are expected to:
        </p>
        <ul>
            <li>Invest a minimum of <b>12 hours/week*</b> in CSE116 including at least 7 hours/week outside of class/lab
            </li>
            <li>Want to learn about computer science (This is assumed since you are taking a second CSE course)</li>
            <li>Be comfortable with <b>all</b> of the CSE115 material</li>
            <li>Participate in every lecture and lab (Yes there is a lab week 1)</li>
            <li>Have access to a computer with a reliable Internet connection</li>
        </ul>

        <p>
            * The 12 hour/week minimum is an average. If you invest less than 12 hours/week in
            CSE116 during the first several weeks of the semester, or do not fully understand all the CSE115 topics,
            you should expect to work significantly more than
            12 hours/week while you catch up (ie. Expect to spend 40+ hours in a single week if you wait until a
            checkpoint week before studying).
        </p>

        <p>
            If it is clear that you are working on this course for at least 12 hours/week, the course staff and I will
            do whatever we can to ensure that you are successful in this course.
        </p>
    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">CSE115 Review</h3>
        <p class="card-text">
            If you did not take CSE115 at UB, or would otherwise like to review the material, below are some CSE115
            resources to help you get caught up:
        </p>
        <ul>
            <li><a href="https://fury.cse.buffalo.edu/quest/cse115-f18/skill-tree">UBInfinite</a>: Practice problem site
            </li>
            <li><a href="https://cse.buffalo.edu/faculty/alphonce/FA18/CSE115/index.php">Course Website</a>: Contains
                links to lecture slides
            </li>
            <li>
                <a href="https://docs.google.com/document/d/1_iJO23pl21YcgP8nw4YJYrOzqihAXgFBI8xd9dzt2SM/edit?usp=sharing">Lecture
                    Recordings</a>: Videos of every lecture by Dr. Carl Alphonce
            </li>
        </ul>

        <p>
            Keep in mind that you must understand the <em>concepts</em> of CSE115 and be prepared to apply them to the
            syntax of a new language (Scala). You will not be required to write Python or JavaScript in CSE116.
        </p>
    </div>

</div>

<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objectives</h3>

        <p>
            In CSE116 you will learn concepts related to the following 4 learning objectives. Being successful in CSE116
            requires completion of all 4 of these objectives. Each objective is divided into 3 parts:
        </p>

        <ul class="objective">
            <li><b>Read</b> - Given a program related to the learning objective, trace through its execution and describe
                what the computer does at each step. This will be assessed through the quizzes during the learning objective
                verification labs.
            </li>
            <li><b>Explain</b> - Communicate verbally about the concepts of the learning objective. You must demonstrate an
                understanding of these concepts as well as comprehensive knowledge of the related terminology. This
                will be assessed through interviews during the learning objective
                verification labs where you will be asked questions about these concepts.</li>
            <li><b>Write</b> - Given a real-world problem statement, write a program that solves the problem. This will be
                assessed through the coding projects throughout the course. Each project will explain the criteria
                for completing the write portion of the learning objective.</li>
        </ul>

        <hr/>
        <h4>Learning Objective 1 - Program Execution</h4>

        <p>
            In CSE115 there was a focus on writing programs to accomplish specific tasks. In CSE116
            we will focus on how those programs run. We will look at how memory is managed and
            how to automate the testing of programs.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective"><b>Read</b>: Trace through a program and track the state of stack memory throughout
                its execution
            </li>
            <li class="objective"><b>Explain</b>: Describe the concepts of stack memory, stack frame, variable scoping, and unit testing,
                 while reflecting on their importance in the programs we write</li>
            <li class="objective"><b>Write</b>: Write methods using Scala and write automated tests
                to verify the functionality of such methods</li>
        </ul>


        <hr/>
        <h4>Learning Objective 2 - Object-Oriented Programming</h4>

        <p>
            Instead of writing programs as a collection of variables and functions, with object-oriented programming
            we will group
            these variables and functions into classes and objects. This allows developers to reason about their
            programs at a higher level of abstraction.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective"><b>Read</b>: Trace through the execution of programs that use inheritance and polymorphism while tracking the state of stack and heap memory</li>
            <li class="objective"><b>Explain</b>: Describe the concepts of classes, inheritance, and polymorphism and
                explain how they can be used to help us write software</li>
            <li class="objective"><b>Write</b>: Implement programs that change behavior based on the type of an object stored in a
                variable by applying the concepts of inheritance and polymorphism
            </li>
        </ul>


        <hr/>
        <h4>Learning Objective 3 - Functional Programming & Concurrency</h4>

        <p>
            Functional programming is based on functions with clearly defined input/output behavior. If a function is
            called multiple times with the same input, it must always have the same output regardless of the state of
            the program. This consistent behavior makes functional programs suitable for multi-threading and
            large apps that need to be distributed across multiple machines (ex. YouTube is
            much too large run on a single machine).
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective"><b>Read</b>: Trace through the execution of programs that use recursive methods/functions, first-order functions, immutable types, and concurrency while tracking the state of stack and heap memory</li>
            <li class="objective"><b>Explain</b>: Describe the concepts of recursion, first-order functions, immutability, and concurrency while explaining their implications for software that applies these concepts</li>
            <li class="objective"><b>Write</b>: Implement recursive methods/functions, methods that take a function as a parameter, methods that return a function, and programs that use immutable types</li>
        </ul>

        <!-- NOTE: Concurrency is deliberately left out of write. -->


        <hr/>
        <h4>Learning Objective 4 - Data Structures & Algorithms</h4>

        <p>
            We will study several new approaches for storing data and computing with that data. Primarily we will see
            linked-lists, trees, and graphs while exploring applications of each structure.
        </p>

        <p>
            A student has completed this objective if they are able to:
        </p>

        <ul class="objective">
            <li class="objective"><b>Read</b>: Trace through the execution of programs that use linked-lists, trees, and graphs</li>
            <li class="objective"><b>Explain</b>: Describe the structure of linked-lists, trees, and graphs and the implications of these structures including applications of each</li>
            <li class="objective"><b>Write</b>: Write programs that use linked-lists, trees, and graphs as well as implement new algorithms to expand the functionality of each data structure</li>
        </ul>



    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Grading</h3>
        <p class="card-text">

        <p>
            You must demonstrate that you completed all 4 learning objectives to earn a passing grade in this
            class.
        </p>

        <br/>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>4</td>
                <td>Grade depends on the number of application objectives completed</td>
            </tr>
            <tr>
                <td>0-3</td>
                <td>F</td>
            </tr>
        </table>
        <br/>
        <br>
        <p>
            If you have completed all 4 learning objectives, your grade will be determined by the number of
            application objectives met. Your final letter
            grade will be determined as follows:
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Application Objectives Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>6</td>
                <td>A</td>
            </tr>
            <tr>
                <td>5</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>4</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>3</td>
                <td>B</td>
            </tr>
            <tr>
                <td>2</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>1</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>0</td>
                <td>C</td>
            </tr>
        </table>

        <br/>


        <hr/>
        <h4>Learning Objective Completion</h4>

        <p>
            <b>
                You must demonstrate that you've completed all 4 learning objectives in order to pass this class.
            </b>
        </p>

        <p>
            All decisions relating to learning objective completion will be made by the course staff using your performance in
            the course as evidence. Keep in mind that your goal in this class is to convince a reasonable
            human that you have completed the read, explain, and write parts of all 4 learning objectives. You will not
            fail this class due to a grading script not awarding you completion for an objective that you have
            rightfully completed. The opportunities below will streamline most of the grading decisions, but if you are
            not able to complete the learning objectives through these opportunities alone, we
            will discuss other ways for you to demonstrate completion. <b>Your job is to focus on your education.</b> We will
            worry about assessing whether or not you've learned what you need to learn from this course. Do not worry
            if you miss an opportunity. As long it's clear that you are putting your effort of at least 12 hours/week,
            you will be given more opportunities.
        </p>

        <p>
            You will have at least the following opportunities to demonstrate completion of the 3
            parts of each objective. One you earn completion for all 3 parts, you have completed the
            corresponding learning objective.
        </p>

        <ul>
            <li><b>Read - Lab Quiz</b></li>
            <ul>
                <li>
                    Each learning objective will include a code reading quiz that you will take during lab.
                    To complete the
                    read portion of a learning objective, your quiz submission must demonstrate that you can read code
                    as specified in the learning objective portion of the syllabus.
                </li>
                <li>
                    There are no grades for these
                    quizzes. All completion decisions will be made by a human after reviewing your submission.
                </li>
                <li>
                    There are 2 lab quizzes on the schedule for each learning objective. If the course staff verifies
                    that you've completed the read portion of a learning objective after you take the first quiz, you do
                    not have to take the quiz during the second chance lab.
                </li>
            </ul>
            <li><b>Explain - Lab Interview</b></li>
            <ul>
                <li>
                    During each learning objective lab, while you are taking your code reading quiz, you will have a
                    10 minute interview with a TA. The TA may ask any
                    questions they deem appropriate in order to assess that you can explain the concepts
                    as specified in the learning objective portion of the syllabus.
                    The TA will submit a summary of your answers that will be reviewed
                    by the course staff.
                </li>
                <li>
                    As with the lab quizzes, there are no grades for these interview. After human review of your answers, it will be
                    decided whether or not you completed the explain portion of the learning objective through your
                    interview performance. If you complete the interview during the first lab for a learning objective
                    you do not have to interview again during the second chance lab. (If you completed both the quiz
                    and interview during the first lab, you do not need to attend the second chance lab)
                </li>
                <li>
                    Your TA does not make decisions for learning objective completion. Do not pressure your TA into
                    marking you for completion. Likewise, your TA cannot tell during the interview whether or not you
                    passed since they will not know. The course staff will weigh all evidence
                    while reviewing the reports from all TAs and efforts will be made to neutralize the variance between
                    TAs (ie.
                    Your completion of learning objectives should not be affected by which TA you were assigned for an
                    interview).
                </li>
            </ul>
            <li><b>Write - Coding Projects</b></li>
            <ul>
                <li>
                    Each learning objective will contain a variety of objectives that are contained in the
                    programming projects throughout the semester. These projects will contain a combination of
                    lecture objectives and application objectives, both of which involve writing code. To complete the
                    write portion of a learning objective, you must complete the lecture objectives of the
                    corresponding project.
                </li>
                <li>
                    Lecture objectives will be introduced in the lecture that covers the material needed to complete
                    that objective.
                    It is recommended that you start each of these objectives immediately after, or during, the lecture
                    that introduces them and complete them before the next lecture starts.
                </li>
                <li>
                    If you earn credit for all required objectives in AutoLab you will have completed the
                    write portion of that learning objective. In rare cases, some objectives may
                    be waived after human review as long as you have demonstrated that you can write code
                    as specified in the learning objective portion of the syllabus (ie. Do not stress about obscure
                    errors in your AutoLab feedback as long as you know your code works <b>and</b> you have comprehensive
                    unit testing. If your testing is anything less than amazing, do not expect a waiver).
                </li>
            </ul>
        </ul>

        <p>
            <b>Learning Objective Checkpoints and Recovery Plans: </b> You are expected to complete all three portions of a learning
            objective before the checkpoint for that objective. All checkpoints are listed on the course schedule. If
            you do not complete an objective before its checkpoint, <b>and it's clear that you've been putting in
            your >=12 hours/week</b>, don't panic. All of your work will be reviewed and we will discuss a <b>recovery plan</b> for
            you to have an opportunity to makeup the parts of the objective that you missed. This may include more
            time to complete the coding objectives, another interview opportunity, and/or another quiz to attempt.
            <a href="https://www.youtube.com/watch?v=JdwyAcJ8j2U" class="non_visual_link">The course staff will watch your
                progress during this recovery plan. If you do not complete the learning objective
                by the end of this plan, you will fail this course.</a>
        </p>
        <p>If you are placed on a recovery plan, you can
            expect the following</p>
        <ul>
            <li>If you have not completed the lectures objectives by the deadline, and the course staff can see enough
                effort to determine that you've been spending >=12 hours/week on the course, you will get a deadline
                of 1 week after the checkpoint. To help us make this determination, please submit to AutoLab early and
                often! If your first submission is on the day of the checkpoint, we cannot determine that you've put
                effort into the project/course. However, if you make regular submissions with steady progress start
                at, or before, the project prep lab then you'll almost certainly qualify for an extension.</li>
            <li>You have the second chance lab the week after each checkpoint as an opportunity to makeup the read and
                explain portions of the objective.</li>
            <li>If you do not complete the read/quiz and explain/interview portions during the second chance lab, you
                will still have 2 more opportunities to complete them, both of which will be scheduled outside of lab.
                The first (third overall) opportunity will be with a another TA and your last opportunity will always
                be with me (Jesse). I will make all final decisions when a student is failing after given all these
                opportunities.
            </li>
            <li>
                Makeup quizzes, after the first 2 in lab, will be oral. You will be shown a program and asked to
                explain how it works while answering followup questions.
            </li>
        </ul>


        <hr/>
        <h4>Application Objectives</h4>

        <p>
            You can improve your letter grade by showing that you can <b>apply</b> the learning objectives to solve
            <b>real-world problems</b>. You will have the following opportunities to complete application objectives.
        </p>

        <ul>
            <li>Programming Projects</li>
            <ul>
                <li>
                    Each of the 4 projects will contain 2 objectives that will be labeled as Application Objectives.
                    Each of these is worth an application objective in the course for a total of 8 available AOs.
                </li>
                <li>
                    The intent is for the first AO on a project to be reasonably obtainable, while the second offers
                    a more significant challenge.
                </li>
                <li>
                    All programming AOs are due at the learning objective checkpoint. There is a "get it on my desk by
                    the morning" deadline for
                    programming AOs of 9am the morning after the checkpoint. There are no deadline
                    extensions for AOs.
                </li>
            </ul>
            <li>Final Exam</li>
            <ul>
                <li>
                    The final exam will offer an opportunity to earn up to 2 applications objectives and improve your
                    grade. For the final exam, you will be provided several English descriptions of
                    project ideas. Your task is to explain how you would design and write software for the project
                    using the concepts you've learned in this course.
                </li>
            </ul>
        </ul>



    </div>

</div>


<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials are provided
            in the course schedule. When a reading is listed you should study it before lecture.
        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>
            </li>
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html">
            http://engineering.buffalo.edu/computer-science-engineering/information-for-students/policies/academic-integrity.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalog.buffalo.edu/policies/integrity.html">
            https://catalog.buffalo.edu/policies/integrity.html</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>
            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student,
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were copying or sharing their code with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

        <div class="row">
            <div class="col-sm-4">
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE116.</h3>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>

        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.
        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                code independently
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you understand the concepts of the course</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Pressuring a TA to falsify an interview report or application objective verification.</li>
            <li>Submitting code or other work, for course credit, that is not your own.</li>
            <li>Collaborating with another student to write code for an assignment. <-- This is the most common type of violation. DO NOT write code together!</li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)
            </li>
            <li>Having, or hiring, someone to help you write code</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Attempting to access the grading code on AutoLab.</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>
