<tr class="lab">
    <td colspan="3">Lab: <a
            href="https://docs.google.com/document/d/1vCJKYPZqtC236x1HTdSyel5qHy1vGuRKZmpmMclW2kU/edit?usp=sharing">IntelliJ
        Setup</a></td>
</tr>

<tr>
    <td width="10%">Monday, September 5</td>

    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">No Class - Labor Day</h5>
            </div>
            <div class="col-md-5">

            </div>
        </div>

    </td>


</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, September 7 @ 9:00 AM
        <span class="float-right">Project 1 - Task 1 Expected Deadline</span>
    </td>
</tr>

<tr>
    <td width="10%">Wednesday, September 7</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-1">

                <a href="static_files/cse116_slides/LO1_3_Scala.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                          class="img-responsive slide-icon"/>
                    Slides</a>
            </div>
            <div class="col-md-6">
                <h5 class="header">Scala Data Structures</h5>
                <b>Objective: </b>Write a program that stores values in a data structure


            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a href="https://www.tutorialspoint.com/scala/scala_arrays.htm">Scala: Array</a>
                    </li>
                    <li class="reading"><a href="https://www.tutorialspoint.com/scala/scala_lists.htm">Scala: List</a>
                    </li>
                    <li class="reading"><a href="https://www.tutorialspoint.com/scala/scala_maps.htm">Scala: Map</a>
                    </li>
                </ul>
            </div>
        </div>


    </td>
</tr>


<tr>
    <td width="10%">Friday, September 9</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-1">

                <a href="static_files/cse116_slides/LO1_4_Unit_Testing.pdf" target="_blank"><img
                        src="static_files/slides.png"
                        class="img-responsive slide-icon"/>
                    Slides</a>
            </div>
            <div class="col-md-6">
                <h5 class="header">Unit Testing</h5>
                <b>Objective: </b>Write tests to verify that your code is correct


            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a href="https://maven.apache.org">Maven Homepage</a> - For reference only</li>
                    <li class="reading"><a href="static_files/pom.xml">Example pom.xml</a> - You can copy this into your
                        projects and expand it when needed
                    </li>
                    <li class="reading"><a href="http://www.scalatest.org">Scalatest Homepage</a> - For reference only
                    </li>
                    <li class="reading"><a href="http://www.scalatest.org/getting_started_with_fun_suite">Scalatest
                        FunSuite Example</a> - A practical unit testing example
                    </li>
                </ul>
            </div>
        </div>


    </td>
</tr>