<tr class="lab">
    <td colspan="3">No Lab</td>
</tr>

<tr>
    <td width="10%">Monday, January 31</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">Course Introduction</h5>
                <b>Objective: </b>Understand the expectations and structure of this course

            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a href="https://www.oracle.com/java/technologies/downloads/">Install JDK15+ (The current version is 17)</a></li>
                    <li class="reading"><a href="https://www.jetbrains.com/student/">JetBrains Educational License</a></li>
                    <li class="reading"><a href="https://www.jetbrains.com/idea/download/">Install IntelliJ Ultimate</a></li>
                    <li class="reading"><a href="https://docs.scala-lang.org/getting-started-intellij-track/getting-started-with-scala-in-intellij.html">Download the Scala plugin and start a project</a></li>

                </ul>
            </div>
        </div>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 2</td>
    <td colspan="2">
        <div class="row">
            <div class="col-md-1">

                <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                   class="img-responsive slide-icon"/> Slides</a>
            </div>
            <div class="col-md-6">
                <h5 class="header">IDE Setup / Scala Introduction</h5>
                <b>Objective: </b>Setup your IDE (IntelliJ) for Scala and Python development on your laptop and write a simple Scala program


            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a target="_blank" href="https://docs.scala-lang.org/tour/basics.html">Scala Basics</a> - (Except for classes, cases classes, and traits which will be covered later in the semester)</li>
                    <li class="reading"><a target="_blank" href="http://www.tutorialspoint.com/scala/scala_if_else.htm">Scala Conditionals</a></li>
                    <li class="reading"><a target="_blank" href="https://www.tutorialspoint.com/scala/scala_data_types.htm">Scala: Basic Types</a> - We'll primarily use Int, Double, Char, String, Boolean, and Unit</li>
                    <li class="reading"><a href="https://www.scala-lang.org/api/current/scala/math/index.html">Scala: Math</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>




<tr>
    <td width="10%">Friday, February 4</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-1">

                <a href="static_files/cse116_slides/LO1_2_Scala.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                   class="img-responsive slide-icon"/> Slides</a>
            </div>
            <div class="col-md-6">
                <h5 class="header">Scala Types and Reading Files</h5>
                <b>Objective: </b>Write a program that can parse a text file

            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a href="https://www.tutorialspoint.com/scala/scala_strings.htm">Scala: String</a></li>
                    <li class="reading"><a href="https://www.scala-lang.org/api/current/scala/collection/StringOps.html#split(separator:Char):Array%5BString%5D">Scala: String.split</a></li>
                    <li class="reading"><a href="https://www.tutorialspoint.com/scala/scala_for_loop.htm">Scala: For loop</a></li>
                    <li class="reading"><a href="http://otfried.org/scala/reading_files.html">Scala: Reading Files</a></li>
                </ul>
            </div>
        </div>

    </td>
</tr>