<tr class="table-info">
    <td colspan="3">Lab: <a href="static_files/lab/Project_Demo_1.pdf">Project Demo 1</a></td>
</tr>

<tr>
    <td width="10%">Monday, March 4</td>
    <td colspan="2">
        <h5>Design Pattern: Adapter</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 6</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Friday, March 8</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>