<tr class="table-info">
    <td colspan="3">Lab: Activity 1</td>
</tr>

<tr>
    <td width="10%">Monday, February 4</td>
    <td colspan="2">
        <h5>Scala Type System</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Wednesday, February 6</td>
    <td colspan="2">
        <h5>Unit Testing</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Friday, February 8</td>
    <td colspan="2">
        <h5>Advanced Scala</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>