<tr class="table-info">
    <td colspan="3"><a href="https://docs.google.com/document/d/13cMQzDl3dn7g3iRflPS09JGd1YcN5xg4pzbfXvCFZpA/edit?usp=sharing">Project Demo 3</a> - Alternate Date</td>
</tr>


<tr>
    <td width="10%">Monday, December 2</td>
    <td colspan="2">
        <h5>Review and Reinforce</h5>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, December 4</td>
    <td colspan="2">
        <h5>Review and Reinforce</h5>
    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Thursday, December 5 @ 11:59pm
        <span class="float-right"><a href="static_files/homework/.pdf"></a>MMO Due</span></td>
</tr>


<tr>
    <td width="10%">Friday, December 6</td>
        <td><h5>MMO Quiz</h5></td>
</tr>





<tr class="table-warning">
    <td colspan="3">Due date TBD by the class
        <span class="float-right"><a href="https://docs.google.com/document/d/19DEtrYl5wss4BzMZhfLW9C7e4fR2r655gJFs83OuOAI/edit?usp=sharing"></a>Bonus Homework</span></td>
</tr>