<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Learning Objective Verification - Functional Programming</td>
</tr>

<tr>
    <td width="10%">Monday, October 19</td>
    <td colspan="2">

        <h5>Linked List</h5>
        <b>Objective: </b>Understand the structure of a linked list and several linked-list algorithms<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/linked_list_algorithms.htm">Linked List</a></li>
            <li><a href="https://www.interviewbit.com/tutorial/arrays-vs-linked-lists/">Array v. Linked List</a></li>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/linked_list_algorithms.htm">Algorithm Examples</a></li>
            <li><a href="https://www.codementor.io/codementorteam/a-comprehensive-guide-to-implementation-of-singly-linked-list-using-c_plus_plus-ondlm5azr">Linked List and Operations</a> - Code is in C++</li>
        </ol>

 <a href="static_files/cse116_slides/LO4_1_Linked_List.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>


    </td>
</tr>



<tr>
    <td width="10%">Wednesday, October 21</td>
    <td colspan="2">

        <h5>Linked List</h5>
        <b>Objective: </b>Explore how various operations are performed on a linked list and how to use them as stacks and queues<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/stack_algorithm.htm">Stack</a></li>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/dsa_queue.htm">Queue</a></li>
        </ol>

 <a href="static_files/cse116_slides/LO4_2_Stack_Queue.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>


    </td>
</tr>




<tr>
    <td width="10%">Friday, October 23</td>
    <td colspan="2">

        <h5>Binary Tree and Traversals</h5>
        <b>Objective: </b>Gain familiarity with the structure of binary trees and how to traverse existing trees<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/tree_data_structure.htm">Trees</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Tree_traversal">Tree Traversals (Wikipedia)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Binary_expression_tree">Expression Trees (Wikipedia)</a></li>
            <li><a href="https://www.101computing.net/binary-expression-trees/">Expression Tree Examples</a></li>
            <li><a href="https://www.hackerrank.com/contests/data-structure-tasks-binary-tree-union-find/challenges/binary-expression-tree">Hacker Rank Question</a></li>
        </ol>

 <a href="static_files/cse116_slides/LO4_3_Trees.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>



    </td>
</tr>

