<tr class="homework">
    <td colspan="3">
        <a href="ao1">
            Application Objectives 1: Testing
        </a>
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Quizzes and Interviews<br/>Data Structures 3 (First Chance)<br/>Classes 3 (Second Chance)</td>
</tr>


<tr>
    <td class="date">Monday<br/>April 17</td>
    <td>
        <h6 class="header">Testing Tips -
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

<tr class="table-danger">
    <td colspan="3">Wednesday, April 19 @ 9:00 AM<br/>
        Programming Task 8: Classes 3 Deadline
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, April 19 @ 9:00 AM<br/>
        Programming Task 9: Data Structures 3 Expected Deadline
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>April 19</td>
    <td>
        <h6 class="header">Testing with Mocks -
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>April 21</td>
    <td>
        <h6 class="header">Debugger 3 -
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


