
<tr class="table-info">
    <td colspan="3">Lab: <a href=""></a>Homework Verification Interview - Event-Based Architectures AND LO Makeups</td>
</tr>



<tr>
    <td width="10%">Monday, December 7</td>
    <td colspan="2">

        <h5>Review</h5>

    </td>
</tr>



<tr>
    <td width="10%">Wednesday, December 9</td>
    <td colspan="2">

        <h5>Review</h5>

    </td>
</tr>





<tr>
    <td width="10%">Friday, December 11</td>
    <td colspan="2">

        <h5>Review</h5>

    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, December 13 @ 11:59pm
        <span class="float-right"><a href="https://docs.google.com/document/d/18kuT0kI_q7accDNoU2-upAVDy_HfuMZwZf5cJ_CyV9s/edit?usp=sharing"></a>Project Contribution Due</span></td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, December 13 @ 11:59pm
        <span class="float-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc9CTtLBtL3oOSmI22eo4a4BbgifTQnPc4nlNK8WFoUWgBzjA/viewform?usp=sf_link"></a>Expansion Objectives Due</span></td>
</tr>

