<tr>
    <td width="10%">Monday, February 11</td>
    <td colspan="2">
        <h5></h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

<tr class="table-info">
    <td colspan="3">Wednesday, February 13 @ 10:00am
        <span class="float-right">Homework 1 Due</span></td>
</tr>


<tr>
    <td width="10%">Wednesday, February 13</td>
    <td colspan="2">
        <h5></h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Friday, February 15</td>
    <td colspan="2">
        <h5></h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>