<tr class="homework">
    <td colspan="3">
        <a href="task3">
            Programming Task 3: Data Structures 1
        </a>
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Quiz and Interview<br/>Classes 1 (First Chance)</td>
</tr>


<tr>
    <td class="date">Monday<br/>February 20</td>
    <td>
        <h6 class="header">Linked List Structure -
            <a href="static_files/cse116_slides/Week4_1_Linked_List.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/linked_list_algorithms.htm">Linked List</a></li>
        </ul>
    </td>
</tr>

<tr class="table-danger">
    <td colspan="3">Wednesday, February 22 @ 9:00 AM<br/>
        Programming Task 1: Testing 1 Deadline
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, February 22 @ 9:00 AM<br/>
        Programming Task 2: Classes 1 Expected Deadline
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>February 22</td>
    <td>
        <h6 class="header">Linked List Algorithms -
            <a href="static_files/cse116_slides/Week4_2_Linked_List.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>February 24</td>
    <td>
        <h6 class="header">Stack and Queue -
            <a href="static_files/cse116_slides/Week4_3_Stack_Queue.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/stack_algorithm.htm">Stack</a></li>
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/dsa_queue.htm">Queue</a></li>
        </ul>
    </td>
</tr>



