<tr class="table-info">
    <td colspan="3">Lab: <a href="static_files/lab/Sample_Lab_Quiz_1.pdf">Quiz 1</a></td>
</tr>

<tr>
    <td width="10%">Monday, February 18</td>
    <td colspan="2">
        <h5>Inheritance</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, February 20 @ 11:59pm
        <span class="float-right"><a href="static_files/homework/2_Physics.pdf">Physics</a> Due</span></td>
</tr>


<tr>
    <td width="10%">Wednesday, February 20</td>
    <td colspan="2">
        <h5>Polymorphism</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Friday, February 22</td>
    <td colspan="2">
        <h5>JSON in Scala</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>