<tr>
    <td width="10%">Monday, January 28</td>
    <td colspan="2"><h5>Course Introduction / CSE115 Review</h5>
        <b>Objective: </b>You will understand the expectations and structure of this course
        <br/><br/><a href="https://github.com/hartloff/CSE116-Python-Examples/tree/master/cse115">Example Code</a>
    </td>
</tr>
<tr>
    <td width="10%">Wednesday, January 30</td>
    <td colspan="2">
        <h5>Snow Day!</h5>
        <b>Objective: </b>You will enjoy your day off and stay warm<br/>
    </td>
</tr>

<tr>
    <td width="10%">Friday, February 1</td>
    <td colspan="2">
        <h5>IDE Setup / Scala Introduction</h5>
        <b>Objective: </b>You will setup your IDE (IntelliJ) for Scala and Python development on your laptop and write a simple Scala program<br/><br/>
        <b>Before lecture: </b>
        <ol>
            <li>Apply for a <a href="https://www.jetbrains.com/student/">JetBrains Educational License</a></li>
            <li>Install <a href="https://www.jetbrains.com/idea/download/">IntelliJ Ultimate</a> on your laptop</li>
            <li><a href="https://docs.scala-lang.org/getting-started-intellij-track/getting-started-with-scala-in-intellij.html">Get started with Scala in IntelliJ</a></li>
            <li>[Optional] Install the <a href="https://www.jetbrains.com/help/idea/plugin-overview.html">Python Plugin</a> for IntelliJ if you want to edit Python code in IntelliJ</li>
            <li>Bring your laptop to lecture (and every lecture)</li>
        </ol>
        <b>Reading: </b>
        <ol>
            <li><a href="https://docs.scala-lang.org/tour/basics.html">Scala Basics</a> - (Except for classes, cases classes, and traits which will be covered later in the semester)</li>
            <li><a href="http://www.tutorialspoint.com/scala/scala_if_else.htm">Scala Conditionals</a></li>
        </ol>

        <b><a href="https://www.reddit.com/r/CSE116/comments/al08xk/wednesday_january_30_lecture_vote/?st=jrl2rx7m&sh=d01887ea">Review</a>: </b><a href="static_files/CSE115_3-3.pdf" target="_blank">Web server request order</a><br/>
        <br/><a href="static_files/cse116_slides/1_Scala_Basics.pdf"><b>Lecture Slides</b></a><br/>
{#        https://docs.scala-lang.org/style/naming-conventions.html#}
    </td>
</tr>
