
<tr class="table-info">
    <td colspan="3">Lab: Quiz 5</td>
</tr>


<tr>
    <td width="10%">Monday, April 29</td>
    <td colspan="2">
        <h5>Graph Representations</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, May 1</td>
    <td colspan="2">
        <h5>Breath-First Search</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Friday, May 3</td>
    <td colspan="2">
        <h5>Pathfinding with Breath-First Search</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>