<tr class="table-info">
    <td colspan="3">Lab: <a href="static_files/lab/Lab_Activity_3.pdf">Activity 3</a></td>
</tr>

<tr>
    <td width="10%">Monday, February 25</td>
    <td colspan="2">
        <h5>GUI's in Scala</h5>
        <b>Objective</b>: Build a GUI with buttons and text fields<br/>
        <ol>
            <li><a href="http://www.scalafx.org/">ScalaFX Homepage</a> - Adapter for JavaFX in Scala</li>
            <li><a href="https://openjfx.io/index.html">JavaFX Homepage</a></li>
            <li><a href="http://sjgpsoft.blogspot.com/2016/02/scalafx-button-positioning-with-hbox.html#more">ScalaFX Button Example</a></li>
        </ol>
        <br/><a href="static_files/cse116_slides/11_GUI.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 27</td>
    <td colspan="2">
        <h5>GUI's in Scala</h5>
        <b>Objective</b>: Build a GUI with geometric graphics<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_2d_shapes.htm">JavaFX 2D Shapes</a></li>
            <li><a href="https://www.youtube.com/watch?v=63Utq7Ht-w0&index=1&list=PLLMXbkbDbVt__x5VUQHbI8g25Phxi2yBy">ScalaFX Videos</a> - Playlist by Mark Lewis</li>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_3d_shapes.htm">JavaFX 3D Shapes</a> - Optional, but helpful if you're making a 3D app for your project</li>
        </ol>
        <br/><a href="static_files/cse116_slides/12_GUI.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>
<tr>
    <td width="10%">Friday, March 1</td>
    <td colspan="2">
        <h5>Design Pattern: MVC</h5>
        <b>Objective</b>: Become familiar with the MVC architecture pattern and its benefits<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Model–view–controller">MVC on Wikipedia</a></li>
            <li><a href="https://www.codecademy.com/articles/mvc">MVC Analogies</a></li>
        </ol>
        <br/><a href="static_files/cse116_slides/13_MVC.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, March 1 @ 11:59pm
        <span class="float-right"><a href="static_files/homework/3_Clicker1.pdf">Clicker 1</a> Due</span></td>
</tr>
