<tr class="table-info">
    <td colspan="3">Lab: <a href="static_files/lab/Sample_Lab_Quiz_4.pdf">Quiz 4</a></td>
</tr>

<tr>
    <td width="10%">Monday, April 15</td>
    <td colspan="2">
        <h5>Web Sockets (Python/JS)</h5>
        <b>Objective: </b>Enable 2-way communication between the browser and web server<br/>
        <ol>
            <li><a href="http://flask.pocoo.org">Flask Documentation</a> - Flask has simpler support for web sockets than Bottle</li>
            <li><a href="https://flask-socketio.readthedocs.io/en/latest/">Flask web sockets</a></li>
            <li><a href="https://socket.io/docs/client-api/">socket.io Client Docs</a></li>
            <li><a href=""></a></li>
        </ol>
        <br/><a href="static_files/cse116_slides/29_WebSockets.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 17</td>
    <td colspan="2">
        <h5>TCP Sockets (Python)</h5>
        <b>Objective: </b>Connect Python to Scala using TCP sockets<br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>




<tr>
    <td width="10%">Friday, April 19</td>
    <td colspan="2">
        <h5>Web Sockets (Python/Scala)</h5>
        <b>Objective: </b>Connect a Scala front end to a web socket server<br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

