<tr class="table-info">
    <td colspan="3"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfX2Di7xiA7U1gpOMhNqdR0wwmem3gV0D9jUzIFLc5elQi_Fg/viewform?usp=sf_link"></a>Lab: Learning Objective Verification - Program Execution</td>
</tr>

<tr>
    <td width="10%">Monday, September 21</td>
    <td colspan="2">
        <h5>Inheritance</h5>
        <b>Objective: </b>You will be able to write abstract classes and concreted classes that inherent an abstract class<br/>
        <ol>
            <li><a href="https://www.geeksforgeeks.org/inheritance-in-scala/">Inheritance in Scala</a></li>
            <li><a href="https://www.digitalocean.com/community/tutorials/understanding-class-inheritance-in-python-3">Inheritance in Python</a></li>
        </ol>

                <a href="static_files/cse116_slides/LO2_1_Inheritance.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>


<tr>
    <td width="10%">Wednesday, September 23</td>
    <td colspan="2">
        <h5>Polymorphism</h5>

        <b>Objective: </b>You will study polymorphism<br/>

{#        <b>Objective: </b>You will use data structures storing an abstract type containing multiple different concrete classes<br/>#}
{##}
        <ol>
            <li><a href="https://beginnersbook.com/2013/03/oops-in-java-encapsulation-inheritance-polymorphism-abstraction/">OOP Overview</a></li>
            <li><a href="https://overiq.com/python-101/inheritance-and-polymorphism-in-python/">Polymorphism in Python</a></li>
            <li><a href="https://dev.to/jmcclell/inheritance-vs-generics-vs-typeclasses-in-scala-20op">Polymorphism in Scala</a> - Just the Subtype Polymorphism (Inheritance) section</li>
        </ol>
{##}

                <a href="static_files/cse116_slides/LO2_2_Polymorphism.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>



<tr>
    <td width="10%">Friday, September 25</td>
    <td colspan="2">
        <h5>JSON - An application of polymorphism</h5>

        <b>Objective: </b>You will study polymorphism and apply it to use JSON in a strongly typed language<br/>

{#        <b>Objective: </b>You will use data structures storing an abstract type containing multiple different concrete classes<br/>#}
{##}
        <ol>
            <li><a href="https://www.playframework.com/documentation/2.7.x/ScalaJson">Play JSON library documentation</a></li>
            <li><a href="https://mvnrepository.com/artifact/com.typesafe.play/play-json_2.12/2.7.1">Play JSON Maven artifact</a></li>
            <li><a href="https://github.com/scalaj/scalaj-http">scalaj-http library</a></li>
        </ol>
{##}

                <a href="static_files/cse116_slides/LO2_3_JSON.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, February 27 @ 11:59pm
        <span class="float-right">Program Execution Homework Due</span></td>
</tr>