<tr>
    <td width="10%">Monday, January 28</td>
    <td colspan="2"><h5>Course Introduction / CSE115 Review</h5>
        <b>Objective: </b>You will understand the expectations and structure of this course
        <br/><a href="https://github.com/hartloff/CSE116-Python-Examples/tree/master/cse115">Example Code</a>
    </td>
</tr>
<tr>
    <td width="10%">Wednesday, January 30</td>
    <td colspan="2">
        <h5>IDE Setup / Scala Introduction</h5>
        <b>Objective: </b>You will setup your IDE (IntelliJ) for Scala and Python development on your laptop and write your first Scala program<br/>
        <b>Before lecture: </b>
        <ol>
            <li>Apply for a <a href="https://www.jetbrains.com/student/">JetBrains Educational License</a></li>
            <li>Install <a href="https://www.jetbrains.com/idea/download/#section=mac">IntelliJ Ultimate</a> on your laptop</li>
            <li>[Optional] Install the <a href="https://www.jetbrains.com/help/idea/plugin-overview.html">Python Plugin</a> for IntelliJ if you want to edit Python code in IntelliJ</li>
            <li>Bring your laptop to lecture (and every lecture)</li>
        </ol>
        <a href="static_files/CSE115_3-3.pdf" target="_blank">Review</a><br/>
{#        <a href="">Lecture</a><br/>#}
    </td>
</tr>
<tr>
    <td width="10%">Friday, February 1</td>
    <td colspan="2">
        <h5>Scala Basics</h5>
        <b>Objective: </b>You will be able to write CSE115 level programs in Scala<br/>
{#        <a href="">Lecture</a><br/>#}
{#        <a href="">Reading</a>#}
    </td>
</tr>
