<tr class="table-info">
    <td colspan="3">Lab: Quiz 4</td>
</tr>

<tr>
    <td width="10%">Monday, April 15</td>
    <td colspan="2">
        <h5>Socket Programming</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 17</td>
    <td colspan="2">
        <h5>Web Sockets</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>




<tr>
    <td width="10%">Friday, April 19</td>
    <td colspan="2">
        <h5>Socket and Web Socket Applications</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, April 19 @ 11:59pm
        <span class="float-right">Homework 7 Due</span></td>
</tr>