<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Homework Verification - Functional Programming / Pre-Homework - Data Structures & Algorithms</td>
</tr>

<tr>
    <td width="10%">Monday, March 30</td>
    <td colspan="2">

        <h5>Binary Search Tree</h5>
        <b>Objective: </b>Explore an application of binary trees by using them for searching and sorting<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/binary_search_tree.htm">BST</a></li>
        </ol>

{# <a href="static_files/cse116_slides/27_BST.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>


<tr>
    <td width="10%">Wednesday, April 1</td>
    <td colspan="2">

        <h5>Graph Representations and Algorithms</h5>
        <b>Objective: </b>Learn how to represent a graph in code and work with that representation<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/graph_data_structure.htm">Graph Overview</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Adjacency_list">Adjacency List</a></li>
        </ol>

{# <a href="static_files/cse116_slides/28_Graphs.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


{#        <h5>Pathfinding with Breath-First Search</h5>#}
{#        <b>Objective: </b>Find the shortest path between two nodes using BFS<br/>#}

{# <a href="static_files/cse116_slides/29_Pathfinding.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}

    </td>
</tr>

<tr>
    <td width="10%">Friday, April 3</td>
    <td colspan="2">

        <h5>Breath-First Search</h5>
        <b>Objective: </b>Traverse a graph with BFS and use it in pathfinding applications<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/breadth_first_traversal.htm">BFS Overview</a></li>
        </ol>

{# <a href="static_files/cse116_slides/28_Graphs.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


{#        <h5>Pathfinding with Breath-First Search</h5>#}
{#        <b>Objective: </b>Find the shortest path between two nodes using BFS<br/>#}

{# <a href="static_files/cse116_slides/29_Pathfinding.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>

