<tr class="table-info">
    <td colspan="3">Lab: <a href="https://docs.google.com/document/d/1O6JcXTYjoFYb7o0P4Ls6tEidw0VBL2kSqlZhEsm7-b8/edit?usp=sharing">Homework Verification - Object-Oriented Programming / Pre-Homework - Functional Programming</a></td>
</tr>


<tr>
    <td width="10%">Monday, March 9</td>
    <td colspan="2">



        <h5>Functions</h5>
        <b>Objective: </b><br/>
        <ol>
{#            <li><a href=""></a></li>#}
        </ol>

{# <a href="static_files/cse116_slides/22_Recursion.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 11</td>
    <td colspan="2">

        <h5>Immutability</h5>
        <b>Objective: </b><br/>
        <ol>
{#            <li><a href=""></a></li>#}
        </ol>

{# <a href="static_files/cse116_slides/22_Recursion.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}

    </td>
</tr>



<tr>
    <td width="10%">Friday, March 13</td>
    <td colspan="2">


        <h5>Immutability</h5>
        <b>Objective: </b><br/>
        <ol>
{#            <li><a href=""></a></li>#}
        </ol>

{# <a href="static_files/cse116_slides/22_Recursion.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>
