<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Homework Verification - Event-Based Architectures / Project Help</td>
</tr>

<tr>
    <td width="10%">Monday, April 27</td>
    <td colspan="2">

        <h5>Database Connections</h5>
        <b>Objective: </b>Connect to a MySQL server<br/>
        <ol>
            <li><a href="https://dev.mysql.com/downloads/mysql/">MySQL download page</a></li>
            <li><a href="https://alvinalexander.com/scala/scala-jdbc-connection-mysql-sql-select-example">Connecting to MySQL</a></li>
            <li><a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a> - We'll use <a href="https://www.w3schools.com/sql/sql_create_table.asp">Create Table</a>, <a href="https://www.w3schools.com/sql/sql_insert.asp">Insert Into</a>, <a href="https://www.w3schools.com/sql/sql_select.asp">Select</a>, <a href="https://www.w3schools.com/sql/sql_where.asp">Where</a>, and <a href="https://www.w3schools.com/sql/sql_update.asp">Update</a></li>
        </ol>

{# <a href="static_files/cse116_slides/15_Actors_Databases.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>


<tr>
    <td width="10%">Wednesday, April 29</td>
    <td colspan="2">

        <h5>MMO Architecture</h5>
        {#        <h5>MMO Architecture</h5>#}
        <b>Objective: </b>Explore the architecture of an MMO (Massively Multiplayer Online) Application<br/>


{#        <a href="static_files/cse116_slides/19_MMO.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}



    </td>
</tr>



<tr>
    <td width="10%">Friday, May 1</td>
    <td colspan="2">

        <h5>MMO Architecture</h5>
        <b>Objective: </b>Explore the MMO architecture applied to the course project<br/>

{#        <a href="static_files/cse116_slides/20_MMO.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}

    </td>
</tr>
