<tr class="homework">
    <td colspan="3">
{#        <a href="">#}
            Programming Task 5: Classes 2
{#        </a>#}
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Quizzes and Interviews<br/>Data Structures 1 (Second Chance)<br/>Classes 1 (Recovery Opportunity)</td>
</tr>



<tr>
    <td class="date">Monday<br/>March 6</td>
    <td>
        <h6 class="header">Inheritance -
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://docs.oracle.com/javase/tutorial/java/IandI/subclasses.html">Inheritance</a></li>
        </ul>
    </td>
</tr>

<tr class="table-danger">
    <td colspan="3">Wednesday, March 8 @ 9:00 AM<br/>
        Programming Task 3: Data Structures 1 Deadline
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, March 8 @ 9:00 AM<br/>
        Programming Task 4: Testing 2 Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Wednesday<br/>March 8</td>
    <td>
        <h6 class="header">Inheritance and Override -
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>March 10</td>
    <td>
        <h6 class="header">Sorting with Comparators -
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>



