
<tr class="lab">
    <td colspan="3">Lab: Quiz 3 and Interview 3 (Second Chance)</td>
</tr>


<tr>
    <td class="date">Monday<br/>December 4</td>
    <td>
        <h6 class="header">Review
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, December 6 @ 9:00 <b>AM</b><br/>
        Programming Task 8: Late Deadline
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>December 6</td>
    <td>
        <h6 class="header">Review
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>December 8</td>
    <td>
        <h6 class="header">Review
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

