

{% import 'cse116/homework.html' as homework_macro %}
{% import 'cse116/deadline.html' as deadline_macro %}
{% import 'cse116/lecture.html' as lecture_macro %}

{% macro week(content) -%}

    {% for hw in content.homework %}
        {{ homework_macro.homework(hw) }}
    {% endfor %}


    <tr class="lab">
        <td colspan="3">Lab: {{ content.lab }}</td>
    </tr>


    {% for content in content.content %}
        {% if content.type == "lecture" %}
            {{ lecture_macro.lecture(content) }}
        {% elif content.type == "deadline" %}
            {{ deadline_macro.deadline(content) }}
        {% endif %}
    {% endfor %}


{%- endmacro %}
,