<tr class="table-info">
    <td colspan="3">Lab: Quiz 3</td>
</tr>

<tr>
    <td width="10%">Monday, April 8</td>
    <td colspan="2">
        <h5>Database Servers and SQL</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 10</td>
    <td colspan="2">
        <h5>Database Usage</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Friday, April 12</td>
    <td colspan="2">
        <h5>Database Usage</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, April 12 @ 11:59pm
        <span class="float-right">Homework 6 Due</span></td>
</tr>