{#<tr class="table-info">#}
{#    <td colspan="3">Lab: <a href="static_files/lab/Lab_Activity_3.pdf">Activity 3</a></td>#}
{#</tr>#}

<tr>
    <td width="10%">Monday, September 23</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
{#        <b>Objective</b>: You will gain experience with the state design pattern to dynamically change the behavior of an object<br/>#}
{#        <ol>#}
{#            <li><a href="https://en.wikipedia.org/wiki/State_pattern">State Pattern on Wikipedia</a></li>#}
{#        </ol>#}
{#        <br/><a href="static_files/cse116_slides/15_State_Pattern.pdf"><b>Lecture Slides</b></a><br/>#}
    </td>
</tr>

<tr>
    <td width="10%">Wednesday, September 25</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
{#        <b>Objective</b>: Gain more familiarity with the state design pattern by reviewing a more complex example<br/>#}
{#        <br/><a href="static_files/cse116_slides/16_State_Pattern.pdf"><b>Lecture Slides</b></a><br/>#}
    </td>
</tr>

<tr>
    <td width="10%">Friday, September 27</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
    </td>
</tr>


