
<tr>
    <td width="10%">Monday, September 30</td>
    <td colspan="2">
        <h5>GUI</h5>
        <b>Objective</b>: Build desktop GUIs<br/>
        <ol>
            <li><a href="http://www.scalafx.org/">ScalaFX Homepage</a> - Adapter for JavaFX in Scala</li>
            <li><a href="https://openjfx.io/index.html">JavaFX Homepage</a></li>
            <li><a href="http://sjgpsoft.blogspot.com/2016/02/scalafx-button-positioning-with-hbox.html#more">ScalaFX Button Example</a></li>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_2d_shapes.htm">JavaFX 2D Shapes</a></li>
            <li><a href="https://www.youtube.com/watch?v=63Utq7Ht-w0&index=1&list=PLLMXbkbDbVt__x5VUQHbI8g25Phxi2yBy">ScalaFX Videos</a> - Playlist by Mark Lewis</li>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_3d_shapes.htm">JavaFX 3D Shapes</a> - Optional, but helpful if you're making a 3D app for your project</li>
        </ol>
        <br/><a href="static_files/cse116_slides/12_GUI.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, October 2</td>
    <td colspan="2">
        <h5>Design Architecture: MVC</h5>
        <b>Objective</b>: Become familiar with the MVC architecture pattern and its benefits<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Model–view–controller">MVC on Wikipedia</a></li>
            <li><a href="https://www.codecademy.com/articles/mvc">MVC Analogies</a></li>
        </ol>
{#        <br/><a href="static_files/cse116_slides/13_MVC.pdf"><b>Lecture Slides</b></a><br/>#}
    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Thursday, October 3 @ 11:59pm
        <span class="float-right"><a href="https://docs.google.com/document/d/1A-4tlULXUPLiB2jglTIMorqdgYpQvOXcDlexoDmOWtg/edit?usp=sharing">Calculator</a> Due</span></td>
</tr>



<tr>
    <td width="10%">Friday, October 4</td>
    <td colspan="2">
        <h5>Calculator Quiz</h5>
    </td>
</tr>



