<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Learning Objective Verification - Data Structures & Algorithms</td>
</tr>

<tr>
    <td width="10%">Monday, April 6</td>
    <td colspan="2">
        <h5>Actors Introduction</h5>
        <b>Objective: </b>Write programs with multiple pieces of code executing at the same time<br/>
        <ol>
            <li><a href="https://mvnrepository.com/artifact/com.typesafe.akka/akka-actor_2.12/2.5.22">Akka Library</a></li>
            <li><a href="https://doc.akka.io/docs/akka/2.5.22/actors.html?language=scala">Akka Actors</a></li>
            <li><a href="https://docs.scala-lang.org/tour/case-classes.html">Case Classes</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Actor_model">Actors Model (Wikipedia)</a></li>

        </ol>

 <a href="static_files/cse116_slides/LO5_1_Actors.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>


    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 8</td>
    <td colspan="2">


        <h5>Testing Actors</h5>
        <b>Objective: </b>Write unit tests for actors<br/>
        <ol>
            <li><a href="https://doc.akka.io/docs/akka/current/testing.html?language=scala">Testing Actors</a></li>
        </ol>

{# <a href="static_files/cse116_slides/15_Actors_Databases.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>


<tr>
    <td width="10%">Friday, April 10</td>
    <td colspan="2">

        <h5>Actors</h5>
        <b>Objective: </b>Actors<br/>
        <ol>
        </ol>

{# <a href="static_files/cse116_slides/15_Actors_Databases.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}



    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Sunday, April 12 @ 11:59pm
        <span class="float-right"><a href="_____"></a>Data Structures & Algorithms Homework Due</span></td>
</tr>


