<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Homework Verification - Event-Based Architectures</td>
</tr>

<tr>
    <td width="10%">Monday, April 27</td>
    <td colspan="2">

        <h5>MMO Architecture</h5>
        <b>Objective: </b>Explore the architecture of an MMO (Massively Multiplayer Online) Application<br/>
{#        <ol>#}
{#        </ol>#}

{# <a href="static_files/cse116_slides/15_Actors_Databases.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>


<tr>
    <td width="10%">Wednesday, April 29</td>
    <td colspan="2">

        <h5>MMO Architecture</h5>
        {#        <h5>MMO Architecture</h5>#}
        <b>Objective: </b>Explore the architecture of an MMO (Massively Multiplayer Online) Application<br/>


        <a href="static_files/cse116_slides/SE_5_MMO.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>



    </td>
</tr>



<tr>
    <td width="10%">Friday, May 1</td>
    <td colspan="2">

        <h5>MMO Architecture</h5>
        <b>Objective: </b>Explore the architecture of an MMO (Massively Multiplayer Online) Application<br/>

{#        <a href="static_files/cse116_slides/20_MMO.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}

    </td>
</tr>
