
<tr class="lab">
    <td colspan="3">Lab: No Lab</td>
</tr>


<tr>
    <td class="date">Monday<br/>December 11</td>
    <td>
        <h6 class="header">No Class - Prepare for Exams
        </h6>
    </td>
</tr>

<tr class="table-danger">
    <td colspan="3">Friday, December 11 @ 11:59 <b>PM</b><br/>
        All Programming Tasks: Final Deadline
    </td>
</tr>

<tr class="table-info">
    <td colspan="3">Friday, December 11 @ 11:59 <b>PM</b><br/>
        Application Objective Task: Deadline
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>December 15</td>
    <td>
        <h6 class="header">Final Exam @ 11:45AM - 2:45PM [Norton 190]</h6>
    </td>
</tr>

