<tr class="homework">
    <td colspan="3">
{#        <a href="task5">#}
            Programming Task 5: Trees
{#        </a>#}
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Quiz 1 and Interview 1 (Second Chance)</td>
</tr>



<tr>
    <td class="date">Monday<br/>October 16</td>
    <td>
        <h6 class="header">Binary Trees and Traversals -
            <a href="static_files/cse116_slides/Week7_1_Trees.pdf" target="_blank">Slides</a>
{#          Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/tree_data_structure.htm">Trees</a></li>
            <li class="reading"><a href="https://en.wikipedia.org/wiki/Tree_traversal">Tree Traversals (Wikipedia)</a></li>
        </ul>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, October 18 @ 9:00 <b>AM</b><br/>
        Programming Task 3: Late Deadline
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>October 18</td>
    <td>
        <h6 class="header">Binary Search Trees (BSTs) -
            <a href="static_files/cse116_slides/Week7_2_BST.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/binary_search_tree.htm">BST</a></li>
        </ul>
    </td>
</tr>

<tr class="table-info">
    <td colspan="3">Friday, October 20 @ 9:00 <b>AM</b><br/>
        Programming Task 4: Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Friday<br/>October 20</td>
    <td>
        <h6 class="header">Binary Tree Examples
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

