<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Learning Objective Verification - Event-Based Architectures</td>
</tr>


<tr>
    <td width="10%">Monday, April 20</td>
    <td colspan="2">


        <h5>Actors Application with Web Sockets</h5>
{#        <b>Objective: </b>Apply actors to the Towers MMO<br/>#}
{# <a href="static_files/cse116_slides/18_WebSocket_App.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>




<tr>
    <td width="10%">Wednesday, April 22</td>
    <td colspan="2">

        <h5>GUI</h5>
        <b>Objective</b>: Build desktop GUIs<br/>
        <ol>
            <li><a href="http://www.scalafx.org/">ScalaFX Homepage</a> - Adapter for JavaFX in Scala</li>
            <li><a href="https://openjfx.io/index.html">JavaFX Homepage</a></li>
            <li><a href="http://sjgpsoft.blogspot.com/2016/02/scalafx-button-positioning-with-hbox.html#more">ScalaFX Button Example</a></li>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_2d_shapes.htm">JavaFX 2D Shapes</a></li>
            <li><a href="https://www.youtube.com/watch?v=63Utq7Ht-w0&index=1&list=PLLMXbkbDbVt__x5VUQHbI8g25Phxi2yBy">ScalaFX Videos</a> - Playlist by Mark Lewis</li>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_3d_shapes.htm">JavaFX 3D Shapes</a> - Optional, but helpful if you're making a 3D app for your project</li>
        </ol>

{#                <a href="static_files/cse116_slides/12_GUI.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>




<tr>
    <td width="10%">Friday, April 24</td>
    <td colspan="2">


        <h5>Design Architecture: MVC</h5>
        <b>Objective</b>: Become familiar with the MVC architecture pattern and its benefits<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Model–view–controller">MVC on Wikipedia</a></li>
            <li><a href="https://www.codecademy.com/articles/mvc">MVC Analogies</a></li>
        </ol>

{#                <a href="static_files/cse116_slides/13_MVC.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}


    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Sunday, April 26 @ 11:59pm
        <span class="float-right"><a href="_____"></a>Event-Based Architectures Homework Due</span></td>
</tr>