<tr class="homework">
    <td colspan="3">
            <a href="task1">
                Programming Task 1: Unit Testing
        </a>
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Memory Diagram Practice</td>
</tr>


<tr>
    <td class="date">Monday<br/>September 11</td>

    <td>
        <h6 class="header">Unit Testing -
            <a href="static_files/cse116_slides/week2_1_Unit_Testing.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
            <li class="reading"><a href="https://en.wikipedia.org/wiki/Unit_testing">Wikipedia: Unit Testing</a></li>
{#            <li class="reading"><a href="http://www.scalatest.org/getting_started_with_fun_suite">Scalatest FunSuite Example</a> - A practical unit testing example</li>#}
        </ul>
    </td>

</tr>


<tr>
    <td class="date">Wednesday<br/>September 13</td>
    <td>
        <h6 class="header">Testing Strings/doubles and The Debugger -
            <a href="static_files/cse116_slides/week2_2_Unit_Testing.pdf" target="_blank">Slides</a>
            Slides
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href="https://en.wikipedia.org/wiki/Recursion">Wikipedia: Recursion</a></li>#}
{#            <li class="reading"><a href="https://smartpuffin.com/unit-tests-tutorial/">Unit Testing Tips</a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>September 15</td>

    <td>
        <h6 class="header">Testing and Recursion -
            <a href="static_files/cse116_slides/week2_3_Recursion.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
            <li class="reading"><a href="https://en.wikipedia.org/wiki/Recursion">Wikipedia: Recursion</a></li>
            <li class="reading"><a href="https://smartpuffin.com/unit-tests-tutorial/">Unit Testing Tips</a></li>
        </ul>
    </td>
</tr>


