<tr class="table-info">
    <td colspan="3"><a href="https://docs.google.com/document/d/1RBW-NkRbqG8GOGKbLHWD0GJpMluEZ2K_1axxT4QubmU/edit?usp=sharing"></a>Lab Activity 6</td>
</tr>

<tr>
    <td width="10%">Monday, October 21</td>
    <td colspan="2">
        <h5>MMO Architecture</h5>
{#        <h5>MMO Architecture</h5>#}
        <b>Objective: </b>See an example using the MMO architecture form this class<br/>
         <a href="static_files/cse116_slides/19_MMO.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>



<tr>
    <td width="10%">Wednesday, October 23</td>
    <td colspan="2">
        <h5>MMO Architecture</h5>
        <b>Objective: </b>Explore the MMO architecture applied to the course project<br/>
        {# <a href="static_files/cse116_slides/13_MVC.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>#}

    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Thursday, October 24 @ 11:59pm
        <span class="float-right"><a href="https://docs.google.com/document/d/1hHb7pGuRJ8MGe68TjRNLEB0MpLQO5zYAorOSdI7IfEA/edit?usp=sharing">Clicker</a> Due</span></td>
</tr>

<tr>
    <td width="10%">Friday, October 25</td>
    <td><h5>Clicker Quiz</h5></td>
</tr>

