<tr class="table-info">
    <td colspan="3">Lab: Activity 4</td>
</tr>

<tr>
    <td width="10%">Monday, March 25</td>
    <td colspan="2">
        <h5>Linked List</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 27</td>
    <td colspan="2">
        <h5>Linked List Algorithms</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, March 27 @ 11:59pm
        <span class="float-right">Homework 5 Due</span></td>
</tr>


<tr>
    <td width="10%">Friday, March 29</td>
    <td colspan="2">
        <h5>Stack and Queue</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>