<tr class="table-info">
    <td colspan="3">Lab: Quiz 2</td>
</tr>

<tr>
    <td width="10%">Monday, March 11</td>
    <td colspan="2">
        <h5>Custom Sorting</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, March 13 @ 11:59pm
        <span class="float-right"><a href="static_files/homework/4_Calculator.pdf">Calculator - No CF</a> Due</span></td>
</tr>

<tr>
    <td width="10%">Wednesday, March 13</td>
    <td colspan="2">
        <h5>Merge Sort and Recursion</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>
<tr>
    <td width="10%">Friday, March 15</td>
    <td colspan="2">
        <h5>Recursion</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>

{#   I don't really like this one since they use some weird stuff (define function in function, if without braces)
but it might be good to show especially for the exercises
https://www.scala-exercises.org/scala_tutorial/tail_recursion#}
    </td>
</tr>