<tr class="table-info">
    <td colspan="3">Lab: Activity 2</td>
</tr>

<tr>
    <td width="10%">Monday, February 11</td>
    <td colspan="2">
        <h5>Classes and Objects</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, February 13 @ 11:00am
        <span class="float-right"><b>Scala</b>  - <a href="static_files/homework/1_Rhyming_Dictionary.pdf">Rhyming Dictionary</a> Due</span></td>
</tr>


<tr>
    <td width="10%">Wednesday, February 13</td>
    <td colspan="2">
        <h5>Model of Execution</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, February 15 @ 11:00am
        <span class="float-right"><b>Python</b> - Rhyming Dictionary Due</span></td>
</tr>

<tr>
    <td width="10%">Friday, February 15</td>
    <td colspan="2">
        <h5>Model of Execution</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>