<tr class="table-info">
    <td colspan="3">Lab: <a href="https://docs.google.com/document/d/1YAYpfiEg1_84U8-mSuYBO6HO75UhVm0zPQHKzAh39fI/edit?usp=sharing"></a>Homework Verification - Program Execution</td>
</tr>

<tr>
    <td width="10%">Monday, September 28</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
        <b>Objective</b>: You will gain experience with the state design pattern to dynamically change the behavior of an object<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/State_pattern">State Pattern on Wikipedia</a></li>
        </ol>

        <a href="static_files/cse116_slides/LO2_4_State_Pattern.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>

<tr>
    <td width="10%">Wednesday, September 30</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
        <b>Objective</b>: Gain more familiarity with the state design pattern<br/>
{#        <b>Objective</b>: Gain more familiarity with the state design pattern by reviewing the Jumper code<br/>#}

        <a href="static_files/cse116_slides/LO2_5_State_Pattern.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>

<tr>
    <td width="10%">Friday, October 2</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
                <b>Objective</b>: Gain more familiarity with the state design pattern<br/>


        <a href="static_files/cse116_slides/LO2_6_State_Pattern.pdf" target="_blank"><img src="static_files/slides.png" class="img-responsive" height="45px"/></a>

    </td>
</tr>


