<tr class="lab">
    <td colspan="3">Lab: Learning Objective 3 Verification - Second Chance</td>
</tr>

<tr>
    <td width="10%">Monday, December 5</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">Learning Objective 3 review</h5>
            </div>
            <div class="col-md-5">

            </div>
        </div>

    </td>
</tr>

<tr class="table-danger">
    <td colspan="3">Wednesday, December 7 @ 9:00 AM
        <span class="float-right">Project 3 - Task 3 Deadline</span>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, December 7 @ 9:00 AM
        <span class="float-right">Project 3 - Application Objective Deadline</span>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, December 7</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">Review</h5>
            </div>
            <div class="col-md-5">

            </div>
        </div>

    </td>
</tr>


<tr>
    <td width="10%">Friday, December 9</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">Review</h5>
            </div>
            <div class="col-md-5">

            </div>
        </div>

    </td>
</tr>





<tr>
    <td width="10%">Wednesday, December 14</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">Final Exam @ 7:15PM - 10:15PM [Section A in Davis 101; Section B in Hochstetter 114]</h5>
            </div>
            <div class="col-md-5">

            </div>
        </div>

    </td>
</tr>