<tr class="lab">
    <td colspan="3">Lab: Learning Objective 2 Verification - Quiz and Interview</td>
</tr>

<tr>
    <td width="10%">Monday, March 14</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-1">

                <a href="static_files/cse116_slides/LO3_1_Sorting_Revisited.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                                      class="img-responsive slide-icon"/></a>
            </div>
            <div class="col-md-6">
                <h5 class="header">Custom Sorting with First-Class Functions</h5>
                <b>Objective: </b>Explore custom sorting in scala and gain experience with function and type parameters<br/>


            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a href="https://alvinalexander.com/scala/how-sort-scala-sequences-seq-list-array-buffer-vector-ordering-ordered">Custom Sorting - Scala</a></li>
                    <li class="reading"><a href="https://en.wikipedia.org/wiki/Selection_sort">Selection Sort on Wikipedia</a></li>
                    <li class="reading"><a href="https://docs.scala-lang.org/tour/polymorphic-methods.html">Type Parameters - Scala</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>


<tr class="table-danger">
    <td colspan="3">Wednesday, March 2 @ 9:00 AM
        <span class="float-right">Project 2 - Task 2 Deadline</span>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, March 2 @ 9:00 AM
        <span class="float-right">Project 2 - Task 3 Expected Deadline</span>
    </td>
</tr>

<tr>
    <td width="10%">Wednesday, March 16</td>
    <td colspan="2">

        <div class="row">
            <div class="col-md-1">

                <a href="static_files/cse116_slides/LO3_2_Functions.pdf" target="_blank"><img src="static_files/slides.png"
                                                                                              class="img-responsive slide-icon"/></a>
            </div>
            <div class="col-md-6">
                <h5 class="header">Functions</h5>
                <b>Objective: </b>Familiarize with a variety of Scala data structure methods<br/>


            </div>
            <div class="col-md-5">
                <ul class="reading">
                    <li class="reading"><a href="https://docs.scala-lang.org/overviews/scala-book/collections-methods.html">Collection Methods</a></li>
                    <li class="reading"><a href="https://docs.scala-lang.org/overviews/scala-book/anonymous-functions.html">Anonymous Functions</a></li>
                </ul>
            </div>
        </div>


    </td>
</tr>



<tr>
    <td width="10%">Friday, March 18</td>
    <td colspan="2">


        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <h5 class="header">First-Class Functions Examples</h5>
            </div>
            <div class="col-md-5">

            </div>
        </div>


    </td>
</tr>
