<tr class="table-info">
    <td colspan="3">Lab: Activity 5</td>
</tr>

<tr>
    <td width="10%">Monday, April 22</td>
    <td colspan="2">
        <h5>Scala Actors</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 24</td>
    <td colspan="2">
        <h5>Scala Actors</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, April 24 @ 11:59pm
        <span class="float-right"><a href="static_files/homework/7_clicker2.pdf">Clicker 2</a> Due</span></td>
</tr>

<tr>
    <td width="10%">Friday, April 26</td>
    <td colspan="2">
        <h5>Actors Application</h5>
        <b>Objective: </b><br/>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, April 26 @ 11:59pm
        <span class="float-right">Homework 8 Due</span></td>
</tr>
