<tr class="homework">
    <td colspan="3">
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Quiz 2 - Linked-Lists and Trees (First Chance)</td>
</tr>



<tr>
    <td class="date">Monday<br/>October 23</td>
    <td>
        <h6 class="header">Testing Tips
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, October 25 @ 9:00 <b>AM</b><br/>
        Programming Task 4: Late Deadline
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>October 25</td>
    <td>
        <h6 class="header">Testing Data Structures
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr class="table-info">
    <td colspan="3">Friday, October 27 @ 9:00 <b>AM</b><br/>
        Programming Task 5: Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Friday<br/>October 27</td>
    <td>
        <h6 class="header">Debugger and Testing
{#            <a href="static_files/cse116_slides/LO1_1_Scala.pdf" target="_blank">Slides</a>#}
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
            <li class="reading"><a href="https://www.jetbrains.com/help/idea/debugging-your-first-java-application.html#stopping-debugger">Debugging in IntelliJ</a></li>
        </ul>
    </td>
</tr>

