
<tr>
    <td class="date">Monday<br/>March 20</td>
    <td>
        <h6 class="header">No Class</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Wednesday<br/>March 22</td>
    <td>
        <h6 class="header">Rest and Relax</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


<tr>
    <td class="date">Friday<br/>March 24</td>
    <td>
        <h6 class="header">Mental Health Day</h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

