<tr class="table-info">
    <td colspan="3"><a href=""></a>Lab: Project Demos</td>
</tr>


<tr>
    <td width="10%">Monday, May 4</td>
    <td colspan="2">

        <h5>Review</h5>

    </td>
</tr>



<tr>
    <td width="10%">Wednesday, May 6</td>
    <td colspan="2">

        <h5>Review</h5>

    </td>
</tr>





<tr>
    <td width="10%">Friday, May 8</td>
    <td colspan="2">

        <h5>Review</h5>

    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, May 10 @ 11:59pm
        <span class="float-right"><a href=""></a>Project Contribution Due</span></td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, May 10 @ 11:59pm
        <span class="float-right"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc9CTtLBtL3oOSmI22eo4a4BbgifTQnPc4nlNK8WFoUWgBzjA/viewform?usp=sf_link">Expansion Objectives</a> Due</span></td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, May 10 @ 11:59pm
        <span class="float-right"><a href=""></a>Open-Ended Objective Due</span></td>
</tr>
