<tr class="homework">
    <td colspan="3">
        <a href="task8">
            Programming Task 8: Graphs
        </a>
    </td>
</tr>

<tr class="lab">
    <td colspan="3">Lab: Quiz 3 - Inheritance and Polymorphism (First Chance)</td>
</tr>



<tr>
    <td class="date">Monday<br/>November 13</td>
    <td>
        <h6 class="header">Graphs -
            <a href="static_files/cse116_slides/Week10_1_Graphs.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
{#            <li class="reading"><a href="https://www.tutorialspoint.com/data_structures_algorithms/graph_data_structure.htm">Graph Overview</a></li>#}
{#            <li class="reading"><a href="https://en.wikipedia.org/wiki/Adjacency_list">Adjacency List</a></li>#}
        </ul>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, November 15 @ 9:00 <b>AM</b><br/>
        Programming Task 6: Late Deadline
    </td>
</tr>

<tr>
    <td class="date">Wednesday<br/>November 15</td>
    <td>
        <h6 class="header">Graph with BFS -
            <a href="static_files/cse116_slides/Week10_2_Pathfinding.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>

<tr class="table-info">
    <td colspan="3">Friday, November 17 @ 9:00 <b>AM</b><br/>
        Programming Task 7: Expected Deadline
    </td>
</tr>

<tr>
    <td class="date">Friday<br/>November 17</td>
    <td>
        <h6 class="header">Graph Examples -
            <a href="static_files/cse116_slides/Week10_3_Graphs.pdf" target="_blank">Slides</a>
{#            Slides#}
        </h6>
        <ul class="reading">
{#            <li class="reading"><a href=""></a></li>#}
        </ul>
    </td>
</tr>


