<tr class="table-info">
    <td colspan="3">Lab: <a href="static_files/lab/Sample_Lab_Quiz_3.pdf">Quiz 3</a></td>
</tr>

<tr>
    <td width="10%">Monday, April 8</td>
    <td colspan="2">
        <h5>Actors Introduction</h5>
        <b>Objective: </b>Understand that multiple pieces of code can be executing at the same time<br/>
        <ol>
            <li><a href="https://mvnrepository.com/artifact/com.typesafe.akka/akka-actor_2.12/2.5.22">Akka Library</a></li>
            <li><a href="https://doc.akka.io/docs/akka/2.5.22/actors.html?language=scala">Akka Actors</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Actor_model">Actors Model (Wikipedia)</a></li>
        </ol>
        <br/><a href="static_files/cse116_slides/26_Actors.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 10</td>
    <td colspan="2">
        <h5>TCP Sockets with Actors</h5>
        <b>Objective: </b>Write two different programs and have them communicate through sockets<br/>
        <ol>
            <li><a href="https://doc.akka.io/docs/akka/2.5.6/scala/io-tcp.html">Official Docs</a></li>
        </ol>
        <br/><a href="static_files/cse116_slides/27_Sockets.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Friday, April 12</td>
    <td colspan="2">
        <h5>Database Connections</h5>
        <b>Objective: </b>Run and connect to a MySQL server<br/>
        <ol>
            <li><a href="https://dev.mysql.com/downloads/mysql/">MySQL download page</a></li>
            <li><a href="https://alvinalexander.com/scala/scala-jdbc-connection-mysql-sql-select-example">Connecting to MySQL</a></li>
            <li><a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a> - We'll use <a href="https://www.w3schools.com/sql/sql_create_table.asp">Create Table</a>, <a href="https://www.w3schools.com/sql/sql_insert.asp">Insert Into</a>, <a href="https://www.w3schools.com/sql/sql_select.asp">Select</a>, <a href="https://www.w3schools.com/sql/sql_where.asp">Where</a>, and <a href="https://www.w3schools.com/sql/sql_update.asp">Update</a></li>
        </ol>
        <br/><a href="static_files/cse116_slides/.pdf"><b></b></a><br/>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, April 12 @ 11:59pm
        <span class="float-right"><a href="static_files/homework/6_Expressions.pdf">Expressions</a> Due</span></td>
</tr>
