<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
    Use the links below to access the three questions for this week's quiz. Good luck!
</p>

<br>
<a href="https://tracing.cse.buffalo.edu/quizzes/assignment_ZobjVT-oq6JBTNDLtc526">Question 1</a><br><br>

<a href="https://tracing.cse.buffalo.edu/quizzes/assignment_Mp0yeEWelGamwylSzIdt0">Question 2</a><br><br>

<a href="https://tracing.cse.buffalo.edu/quizzes/assignment_10ybPre01pjIYY60FyliF">Question 3</a>

</body>
</html>