<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116 - Fall 2019</title>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
{#          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="outer">
<div class="container">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>

        <div class="col-12 col-sm-12 col-md-10">

            <hr/>

            <h1>CSE116: Computer Science 2</h1>
            <h2>Fall 2019</h2>
            <hr/>

            <a href="https://github.com/hartloff/CSE116-Examples"><img src="static_files/github.png"
                                                                             class="img-responsive"
                                                                             height="45px"/></a>&nbsp;
            <a href="https://autograder.cse.buffalo.edu/courses/CSE116-f19/assessments"><img src="static_files/autolab.svg"
                                                                             class="img-responsive"
                                                                             height="45px"/></a>&nbsp;
            <a href="https://piazza.com/class/jzrrfym48i57ko" target="_blank"><img src="static_files/piazza.png"
                                                                                   class="img-responsive"
                                                                                   height="45px"/></a>&nbsp;
            <a href="https://discord.gg/nC4eBGM" target="_blank"><img src="static_files/discord.png"
                                                                      class="img-responsive"
                                                                      height="45px"/></a>
            <hr/>

            <div class="card">
                <a data-toggle="collapse" data-target="#syllabus">
                    <div class="card-header text-white section-header">
                        <h5>
                            Syllabus
                        </h5>
                    </div>
                </a>

                <div id="syllabus" class="collapse show">
                    <div class="card-body">
                        {% include "cse116/syllabus.html" %}
                    </div>
                </div>
            </div>

            <hr/>


            <div class="card">
                <a data-toggle="collapse" data-target="#officeHours">
                    <div class="card-header text-white section-header">
                        <h5>
                            Office Hours
                        </h5>
                    </div>
                </a>

                <div id="officeHours" class="collapse show">
                    <div class="card-body">
                        {% include "cse116/officeHours.html" %}
                    </div>
                </div>
            </div>


            <hr/>

            <h3>Schedule</h3>

            <a data-toggle="collapse" data-target="#block1">
                <div class="card-header text-white section-header bg-primary">
                    <h5>
                        Level 1: Welcome to Scala
                    </h5>
                </div>
            </a>

            <div id="block1" class="collapse show">
                <table class="table table-bordered">

                    <tbody>
                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Week 1</b></td>
                    </tr>

                    {% include "cse116/week1.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Week 2</b></td>
                    </tr>


                    {% include "cse116/week2.html" %}

                    <tr class="text-white bg-primary">
                        <td colspan="3"><b>Week 3</b></td>
                    </tr>

                    {% include "cse116/week3.html" %}
                    </tbody>
                </table>

            </div>


            <a data-toggle="collapse" data-target="#block2">
                <div class="card-header text-white section-header bg-success">
                    <h5>
                        Level 2: Object Oriented Programming (OOP)
                    </h5>
                </div>
            </a>

            <div id="block2" class="collapse show">
                <table class="table table-bordered">

                    <tbody>

                    <tr class="text-white bg-success">
                        <td colspan="3"><b>Week 4</b></td>
                    </tr>


                    {% include "cse116/week4.html" %}

                    <tr class="text-white bg-success">
                        <td colspan="3"><b>Week 5</b></td>
                    </tr>

                    {% include "cse116/week5.html" %}

                    <tr class="text-white bg-success">
                        <td colspan="3"><b>Week 6</b></td>
                    </tr>


                    {% include "cse116/week6.html" %}

                    </tbody>
                </table>
            </div>


            <a data-toggle="collapse" data-target="#block3">
                <div class="card-header text-white section-header bg-warning">
                    <h5>
                        Level 3: Concurrency and Networking
                    </h5>
                </div>
            </a>

            <div id="block3" class="collapse show">
                <table class="table table-bordered">

                    <tbody>

                    <tr class="text-white bg-warning">
                        <td colspan="3"><b>Week 7</b></td>
                    </tr>

                    {% include "cse116/week7.html" %}


                    <tr class="text-white bg-warning">
                        <td colspan="3"><b>Week 8</b></td>
                    </tr>

                    {% include "cse116/week8.html" %}

                    <tr class="text-white bg-warning">
                        <td colspan="3"><b>Week 9</b></td>
                    </tr>

                    {% include "cse116/week9.html" %}

                    </tbody>
                </table>
            </div>

            <a data-toggle="collapse" data-target="#block4">
                <div class="card-header text-white section-header bg-danger">
                    <h5>
                        Level 4: First-Class Functions and Data Structures
                    </h5>
                </div>
            </a>

            <div id="block4" class="collapse show">
                <table class="table table-bordered">

                    <tbody>


                    <tr class="text-white bg-danger">
                        <td colspan="3"><b>Week 10</b></td>
                    </tr>

                    {% include "cse116/week10.html" %}

                    <tr class="text-white bg-danger">
                        <td colspan="3"><b>Week 11</b></td>
                    </tr>


                    {% include "cse116/week11.html" %}


                    <tr class="text-white bg-danger">
                        <td colspan="3"><b>Week 12</b></td>
                    </tr>


                    {% include "cse116/week12.html" %}

                    </tbody>
                </table>
            </div>

            <a data-toggle="collapse" data-target="#block5">
                <div class="card-header text-white section-header bg-dark">
                    <h5>
                        Level 5: Graphs and Algorithms
                    </h5>
                </div>
            </a>

            <div id="block5" class="collapse show">
                <table class="table table-bordered">

                    <tbody>

                    <tr class="text-white">
                        <td class="table-dark" colspan="3"><b>Week 13</b></td>
                    </tr>


                    {% include "cse116/week13.html" %}


                    <tr class="text-white">
                        <td class="table-dark" colspan="3"><b>Week 14</b></td>
                    </tr>


                    {% include "cse116/week14.html" %}


                    <tr class="text-white">
                        <td class="table-dark" colspan="3"><b>Week 15</b></td>
                    </tr>


                    {% include "cse116/week15.html" %}


                    <tr class="text-white">
                        <td class="table-dark" colspan="3"><b>Final Exam - Friday, December 13 @ 11:45am - 2:45pm NSC201 </b></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>



    <link rel="stylesheet" href="/static_files/lib/jquery-3.3.1.min.js">
    <link rel="stylesheet" href="/static_files/lib/popper-1.12.9.min.js">
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.js">

{#<script#}
{#        src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
{#        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#        crossorigin="anonymous"></script>#}
</body>
</html>