<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE442 - Spring 2019</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="outer">
<div class="container">
    <hr/>

    <h2>CSE442 - Spring 2019</h2>
    <hr/>

    <a href="https://join.slack.com/t/cse442-workspace/shared_invite/enQtNTM0NDc5NjE0NDUxLWQ1NjBhM2VjOWFjNWYxYmU3OTgxOWMzYzQ0NzllZDE1NDhhMWU1NGZmOTE0ZTBlNGNmNTYzN2E0NDJkYjU3YTA"
       target="_blank"><img src="static_files/slack.png" class="img-responsive" height="45px"/></a>

    <hr/>

    <div class="card">
        <a data-toggle="collapse" data-target="#syllabus">
            <div class="card-header text-white section-header">
                <h5>
                    Syllabus
                </h5>
            </div>
        </a>

        <div id="syllabus" class="collapse">
            <div class="card-body">
                {% include "cse442/syllabus.html" %}
            </div>
        </div>
    </div>

    <hr/>

    <h3>Rubrics</h3>

    <a href="static_files/cse442/PresentationGradeRubric.pdf"><h5>Presentation Rubric</h5></a>

    <a href="static_files/cse442/SprintRubric.pdf"><h5>Sprint Grading Rubric</h5></a>
    <a href="static_files/cse442/TeamMeetings.pdf"><h5>TA Meeting Rubric</h5></a>
{#    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpcf8_HcKsSxj8HPh1OhPl1xxZ21f8JQcWraAdz8nm5-PawQ/viewform?usp=sf_link"><h5>Sprint 2 Peer and Self Evaluation Form</h5></a>#}
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdeJu8v5zdJh_mKOG2QE0TLclJdLxcMLKMZWBRwi-NDMs_Djg/viewform?usp=sf_link"><h5>Sprint 3 Peer and Self Evaluation Form</h5></a>
    <br/>
    <hr/>

    <h3>Schedule</h3>

    <table class="table table-bordered">

        <tbody>

        <tr>
            <td width="20%">Monday, February 4</td>
            <td colspan="2">
                <a href="static_files/cse442_slides/Lecture-02.pptx">Software Lifecycle Slides</a>
            </td>
        </tr>


        <tr>
            <td width="20%">Friday, February 8 @ 2pm</td>
            <td colspan="2">
                <h5><a href="static_files/cse442/TeamFormation.pdf">Team Formation</a></h5>
            </td>
        </tr>


        <tr>
            <td width="20%">Friday, February 8</td>
            <td colspan="1">
                <a href="static_files/cse442_slides/Lecture-03.pptx">Version Control Slides</a>
            </td>
            <td colspan="1">
                <a href="https://nvie.com/posts/a-successful-git-branching-model/">Version Control Reading</a>
            </td>
        </tr>



        <tr>
            <td width="20%">Monday, February 11</td>
            <td colspan="1">
                <a href="static_files/cse442_slides/Lecture-04.pptx">Stories and Tasks Slides</a>
            </td>
            <td colspan="1">
                <a href="https://www.atlassian.com/agile/project-management/user-stories">Stories Reading</a>
            </td>
        </tr>



        <tr>
            <td width="20%">Friday, February 14</td>
            <td colspan="2">
                <a href="static_files/cse442_slides/Lecture-05.pptx">Testing Slides</a>
            </td>
        </tr>

        <tr>
            <td width="20%">Monday, March 4 - Friday, March 8</td>
            <td colspan="2">
                <h5>Sprint 1 Demos</h5>
            </td>
        </tr>

        <tr>
            <td colspan="3"><b>Spring Break March 18 - Friday, March 22</b></td>
        </tr>


        <tr>
            <td width="20%">Monday, April 8 - Friday, April 12</td>
            <td colspan="2">
                <h5>Sprint 2 Demos</h5>
            </td>
        </tr>


        <tr>
            <td width="20%">Monday, May 6 - Friday, May 10</td>
            <td colspan="2">
                <h5>Sprint 3 Demos</h5>
            </td>
        </tr>

        {#        <tr>#}
        {#            <td width="20%">Friday, February 8 @ 2pm</td>#}
        {#            <td colspan="2">#}
        {#                <h5>Team Formation</h5>#}
        {#            </td>#}
        {#        </tr>#}

        </tbody>
    </table>


</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>