
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116 - Spring 2019</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fury.cse.buffalo.edu/static_files/UBStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://fury.cse.buffalo.edu/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="outer">
<div class="container">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>

        <div class="col-12 col-sm-12 col-md-10">

            <hr/>

            <h2>CSE116 - Spring 2019</h2>
            <hr/>

            <h3>Schedule</h3>



                <a data-toggle="collapse" data-target="#block1">
                    <div class="card-header text-white section-header bg-primary">
                        <h5>
                            Introduction
                        </h5>
                    </div>
                </a>

                <div id="block1" class="collapse show">
                    <table class="table table-bordered">

                        <tbody>
                        <tr class="text-white bg-primary">
                            <td colspan="3"><b>Week 1</b></td>
                        </tr>

                        <tr>
    <td width="10%">Monday, January 28</td>
    <td colspan="2"><h5>Course Introduction / CSE115 Review</h5>
        <b>Objective: </b>You will understand the expectations and structure of this course
    </td>
</tr>
<tr>
    <td width="10%">Wednesday, January 30</td>
    <td colspan="2">
        <h5>Snow Day!</h5>
        <b>Objective: </b>You will enjoy your day off and stay warm<br/>
    </td>
</tr>

<tr>
    <td width="10%">Friday, February 1</td>
    <td colspan="2">
        <h5>IDE Setup / Scala Introduction</h5>
        <b>Objective: </b>You will setup your IDE (IntelliJ) for Scala and Python development on your laptop and write a simple Scala program<br/><br/>
        <b>Before lecture: </b>
        <ol>
            <li>Apply for a <a href="https://www.jetbrains.com/student/">JetBrains Educational License</a></li>
            <li>Install <a href="https://www.jetbrains.com/idea/download/">IntelliJ Ultimate</a> on your laptop</li>
            <li><a href="https://docs.scala-lang.org/getting-started-intellij-track/getting-started-with-scala-in-intellij.html">Get started with Scala in IntelliJ</a></li>
            <li>[Optional] Install the <a href="https://www.jetbrains.com/help/idea/plugin-overview.html">Python Plugin</a> for IntelliJ if you want to edit Python code in IntelliJ</li>
            <li>Bring your laptop to lecture (and every lecture)</li>
        </ol>
        <b>Reading: </b>
        <ol>
            <li><a href="https://docs.scala-lang.org/tour/basics.html">Scala Basics</a> - (Except for classes, cases classes, and traits which will be covered later in the semester)</li>
            <li><a href="http://www.tutorialspoint.com/scala/scala_if_else.htm">Scala Conditionals</a></li>
        </ol>

        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/1_Scala_Basics.pdf"><b>Lecture Slides</b></a><br/>

    </td>
</tr>

                        <tr class="text-white bg-primary">
                            <td colspan="3"><b>Week 2</b></td>
                        </tr>


                        <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Lab_Activity_1.pdf">Activity 1</a></td>
</tr>

<tr>
    <td width="10%">Monday, February 4</td>
    <td colspan="2">
        <h5>Scala Types and Reading Files</h5>
        <b>Objective: </b>You will write a program that can read the lines of a file in a strongly typed language
        (Scala)<br/><br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://www.tutorialspoint.com/scala/scala_data_types.htm">Scala: Basic Types</a> - We'll primarily use Int, Double, Char, String, Boolean, and Unit</li>
            <li><a href="https://www.tutorialspoint.com/scala/scala_strings.htm">Scala: String</a></li>
            <li><a href="https://www.scala-lang.org/api/current/scala/collection/immutable/StringOps.html#split(separator:Char):Array[String]">Scala: String.split</a> - And many other String methods you may find useful</li>
            <li><a href="https://www.tutorialspoint.com/scala/scala_for_loop.htm">Scala: For loop</a></li>
            <li><a href="http://otfried.org/scala/reading_files.html">Scala: Reading Files</a></li>
        </ol>

        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/2_Scala_Basics.pdf"><b>Lecture Slides</b></a><br/>

    </td>

</tr>
<tr>
    <td width="10%">Wednesday, February 6</td>
    <td colspan="2">
        <h5>Unit Testing</h5>
        <b>Objective: </b>You will test your own code without needing AutoLab<br/><br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://maven.apache.org">Maven Homepage</a> - For reference only</li>
            <li><a href="https://fury.cse.buffalo.edu/static_files/pom.xml">Example pom.xml</a> - You can copy this into your projects and expand it when needed</li>

            <li><a href="http://www.scalatest.org">Scalatest Homepage</a> - For reference only</li>
            <li><a href="http://www.scalatest.org/getting_started_with_fun_suite">Scalatest FunSuite Example</a> - A practical unit testing example</li>

            <li><a href="https://docs.python.org/3.5/library/unittest.html">Python unittest</a> - Reference and Examples</li>
            <li><a href="http://pythontesting.net/framework/unittest/unittest-introduction/">Python unittest Example</a> - A practical unit testing example</li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/3_Unit_Testing.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>
<tr>
    <td width="10%">Friday, February 8</td>
    <td colspan="2">
        <h5>Scala Data Structures</h5>
        <b>Objective: </b>You will write and test a scala program with data structures<br/><br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://www.tutorialspoint.com/scala/scala_arrays.htm">Scala: Array</a> - A sequential data structure</li>
            <li><a href="https://www.tutorialspoint.com/scala/scala_lists.htm">Scala: List</a> - A sequential data structure. You can use either Array or List as you prefer in most cases. We will explore the differences later in the course</li>
            <li><a href="https://www.tutorialspoint.com/scala/scala_maps.htm">Scala: Map</a> - A key-value store</li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/4_Data_Structures.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

                        </tbody>
                    </table>

                </div>






























            <a data-toggle="collapse" data-target="#block2">
                    <div class="card-header text-white section-header bg-success">
                        <h5>
                            Object Oriented Programming (OOP)
                        </h5>
                    </div>
                </a>

                <div id="block2" class="collapse show">
                    <table class="table table-bordered">

                        <tbody>




            <tr class="text-white bg-success">
                <td colspan="3"><b>Week 3</b></td>
            </tr>

            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Lab_Activity_2.pdf">Activity 2</a></td>
</tr>

<tr>
    <td width="10%">Monday, February 11</td>
    <td colspan="2">
        <h5>Classes and Objects</h5>
        <b>Objective: </b>You will be able to define and use classes<br/><br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Class_(computer_programming)">Wikipedia: Class</a> - Overview and reference (More detail than we'll cover in lecture)</li>
            <li><a href="https://docs.scala-lang.org/tour/classes.html">Scala: Class</a> - Application of Classes using Scala syntax</li>
            <li><a href="https://www.w3schools.com/python/python_classes.asp">Python: Class</a> - Application of Classes using Python syntax</li>
        </ol>

        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/5_Classes.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, February 13</td>
    <td colspan="2">
        <h5>Model of Execution</h5>
        <b>Objective</b>: You will be able to describe how the program stack and heap store values in your program<br/><br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://medium.com/@nickteixeira/stack-vs-heap-whats-the-difference-and-why-should-i-care-5abc78da1a88">Program Stack and Heap</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/6_Execution.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr class="table-warning">
    <td colspan="3">Thursday, February 14 @ 11:59pm
        <span class="float-right"><b>Scala</b>  - <a href="https://fury.cse.buffalo.edu/static_files/homework/1_Rhyming_Dictionary.pdf">Rhyming Dictionary</a> Due</span></td>
</tr>


<tr>
    <td width="10%">Friday, February 15</td>
    <td colspan="2">
        <h5>Model of Execution</h5>
        <b>Objective</b>: You will use a debugger to see the state of your program during execution<br/><br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://medium.com/basecs/a-deeper-inspection-into-compilation-and-interpretation-d98952ebc842">Compilers </a><a href="https://www.youtube.com/watch?v=_C5AHaS1mOA">vs.</a><a href="https://medium.com/basecs/a-deeper-inspection-into-compilation-and-interpretation-d98952ebc842"> Interpreters</a>
                 - Scala/Java/C++ are compiled while Python/JavaScript are interpreted. What does this mean?</li>
            <li><a href="https://www.jetbrains.com/help/idea/run-debug-and-test-scala.html#debug_scala_code">Debugging in IntelliJ</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/7_Execution.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Sunday, February 17 @ 11:59pm
        <span class="float-right"><b>Python</b> - Rhyming Dictionary Due</span></td>
</tr>


            <tr class="text-white bg-success">
                <td colspan="3"><b>Week 4</b></td>
            </tr>


            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Sample_Lab_Quiz_1.pdf">Quiz 1</a></td>
</tr>

<tr>
    <td width="10%">Monday, February 18</td>
    <td colspan="2">
        <h5>Inheritance</h5>
        <b>Objective: </b>You will be able to write abstract classes and concreted classes that inherent an abstract class<br/>
        <b>Reading/Reference: </b>
        <ol>
            <li><a href="https://www.geeksforgeeks.org/inheritance-in-scala/">Inheritance in Scala</a></li>
            <li><a href="https://www.digitalocean.com/community/tutorials/understanding-class-inheritance-in-python-3">Inheritance in Python</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/8_Inheritance.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, February 20 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/2_Physics.pdf">Physics</a> Due</span></td>
</tr>


<tr>
    <td width="10%">Wednesday, February 20</td>
    <td colspan="2">
        <h5>Polymorphism</h5>
        <b>Objective: </b>You will use data structures storing an abstract type containing multiple different concrete classes<br/>

        <ol>
            <li><a href="https://beginnersbook.com/2013/03/oops-in-java-encapsulation-inheritance-polymorphism-abstraction/">OOP Overview</a></li>
            <li><a href="https://overiq.com/python-101/inheritance-and-polymorphism-in-python/">Polymorphism in Python</a></li>
            <li><a href="https://dev.to/jmcclell/inheritance-vs-generics-vs-typeclasses-in-scala-20op">Polymorphism in Scala</a> - Just the Subtype Polymorphism (Inheritance) section</li>
        </ol>

        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/9_Polymorphism.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>
<tr>
    <td width="10%">Friday, February 22</td>
    <td colspan="2">
        <h5>JSON in Scala</h5>
        <b>Objective: </b>You will apply polymorphism to use JSON in a strongly typed language<br/>

        <ol>
            <li><a href="https://www.playframework.com/documentation/2.0/ScalaJson">Play JSON library documentation</a></li>
            <li><a href="https://mvnrepository.com/artifact/com.typesafe.play/play-json_2.12/2.7.1">Play JSON Maven artifact</a></li>
            <li><a href="https://github.com/scalaj/scalaj-http">scalaj-http library</a></li>
        </ol>

        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/10_JSON.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

            <tr class="text-white bg-success">
                <td colspan="3"><b>Week 5</b></td>
            </tr>

            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Lab_Activity_3.pdf">Activity 3</a></td>
</tr>

<tr>
    <td width="10%">Monday, February 25</td>
    <td colspan="2">
        <h5>GUI's in Scala</h5>
        <b>Objective</b>: Build a GUI with buttons and text fields<br/>
        <ol>
            <li><a href="http://www.scalafx.org/">ScalaFX Homepage</a> - Adapter for JavaFX in Scala</li>
            <li><a href="https://openjfx.io/index.html">JavaFX Homepage</a></li>
            <li><a href="http://sjgpsoft.blogspot.com/2016/02/scalafx-button-positioning-with-hbox.html#more">ScalaFX Button Example</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/11_GUI.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

<tr>
    <td width="10%">Wednesday, February 27</td>
    <td colspan="2">
        <h5>GUI's in Scala</h5>
        <b>Objective</b>: Build a GUI with geometric graphics<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_2d_shapes.htm">JavaFX 2D Shapes</a></li>
            <li><a href="https://www.youtube.com/watch?v=63Utq7Ht-w0&index=1&list=PLLMXbkbDbVt__x5VUQHbI8g25Phxi2yBy">ScalaFX Videos</a> - Playlist by Mark Lewis</li>
            <li><a href="https://www.tutorialspoint.com/javafx/javafx_3d_shapes.htm">JavaFX 3D Shapes</a> - Optional, but helpful if you're making a 3D app for your project</li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/12_GUI.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>
<tr>
    <td width="10%">Friday, March 1</td>
    <td colspan="2">
        <h5>Design Pattern: MVC</h5>
        <b>Objective</b>: Become familiar with the MVC architecture pattern and its benefits<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Model–view–controller">MVC on Wikipedia</a></li>
            <li><a href="https://www.codecademy.com/articles/mvc">MVC Analogies</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/13_MVC.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, March 1 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/3_Clicker1.pdf">Clicker 1</a> Due</span></td>
</tr>

            <tr class="text-white bg-success">
                <td colspan="3"><b>Week 6</b></td>
            </tr>


            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Project_Demo_1.pdf">Project Demo 1</a></td>
</tr>

<tr>
    <td width="10%">Monday, March 4</td>
    <td colspan="2">
        <h5>Design Pattern: Adapter</h5>
        <b>Objective</b>: You will gain experience with the Adapter Design Pattern to combine incompatible classes<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Adapter_pattern">Adapter Pattern on Wikipedia</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/14_Adapter_Pattern.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 6</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
        <b>Objective</b>: You will gain experience with the state design pattern to dynamically change the behavior of an object<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/State_pattern">State Pattern on Wikipedia</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/15_State_Pattern.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>


<tr>
    <td width="10%">Friday, March 8</td>
    <td colspan="2">
        <h5>Design Pattern: State Pattern</h5>
        <b>Objective</b>: Gain more familiarity with the state design pattern by reviewing a more complex example<br/>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/16_State_Pattern.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

                        </tbody></table></div>


            <a data-toggle="collapse" data-target="#block3">
                    <div class="card-header text-white section-header bg-warning">
                        <h5>
                            Functional Programming (FP) and Data Structures
                        </h5>
                    </div>
                </a>

                <div id="block3" class="collapse show">
                    <table class="table table-bordered">

                        <tbody>





            <tr class="text-white bg-warning">
                <td colspan="3"><b>Week 7</b></td>
            </tr>

            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Sample_Lab_Quiz_2.pdf">Quiz 2</a></td>
</tr>

<tr>
    <td width="10%">Monday, March 11</td>
    <td colspan="2">
        <h5>Custom Sorting</h5>
        <b>Objective: </b>Explore custom sorting in scala and gain experience with function and type parameters<br/>
        <ol>
            <li><a href="https://alvinalexander.com/scala/how-sort-scala-sequences-seq-list-array-buffer-vector-ordering-ordered">Custom Sorting - Scala</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Selection_sort">Selection Sort on Wikipedia</a></li>
            <li><a href="https://docs.scala-lang.org/tour/polymorphic-methods.html">Type Parameters - Scala</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/17_Sorting_Revisited.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 13</td>
    <td colspan="2">
        <h5>Merge Sort and Recursion</h5>
        <b>Objective: </b>Gain an understanding of recursion combined with function and type parameters<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/merge_sort_algorithm.htm">Merge Sort Algorithm</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/18_MergeSort.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Wednesday, March 13 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/4_Calculator.pdf">Calculator - No CF</a> Due</span></td>
</tr>


<tr>
    <td width="10%">Friday, March 15</td>
    <td colspan="2">
        <h5>Recursion</h5>
        <b>Objective: </b> Practice with methods that return functions; Walk through another recursion example<br/>
        <ol>
            <li><a href="https://javascript.info/recursion">Recursion</a> - Also discussed Linked-List which is the next lecture</li>
            <li><a href="https://www.scala-exercises.org/scala_tutorial/tail_recursion">Tail Recursion</a></li>
            <li><a href="https://docs.scala-lang.org/tour/higher-order-functions.html">Higher-Order Functions - Scala</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/19_Recursion.pdf"><b>Lecture Slides</b></a><br/>


    </td>
</tr>

            <tr>
                <td colspan="3"><b>Spring Break</b></td>
            </tr>

            <tr class="text-white bg-warning">
                <td colspan="3"><b>Week 8</b></td>
            </tr>

            <tr class="table-info">
    <td colspan="3">Lab: Activity 4</td>
</tr>

<tr>
    <td width="10%">Monday, March 25</td>
    <td colspan="2">
        <h5>Linked List</h5>
        <b>Objective: </b>Understand the structure of a linked list<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/linked_list_algorithms.htm">Linked List</a></li>
            <li><a href="https://www.interviewbit.com/tutorial/arrays-vs-linked-lists/">Array v. Linked List</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/20_Linked_List.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>



<tr>
    <td width="10%">Wednesday, March 27</td>
    <td colspan="2">
        <h5>Linked List Algorithms</h5>
        <b>Objective: </b>Explore how various operations are performed on a linked list<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/linked_list_algorithms.htm">Algorithm Examples</a></li>
            <li><a href="https://www.codementor.io/codementorteam/a-comprehensive-guide-to-implementation-of-singly-linked-list-using-c_plus_plus-ondlm5azr">Linked List and Operations</a> - Code is in C++</li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/21_Linked_List_Algorithms.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>


<tr>
    <td width="10%">Friday, March 29</td>
    <td colspan="2">
        <h5>Stack and Queue</h5>
        <b>Objective: </b>Use a linked list to implement the functionality of a stack and queue<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/stack_algorithm.htm">Stack</a></li>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/dsa_queue.htm">Queue</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/22_Stack_Queue.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, March 29 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/5_Genetic_Algorithm.pdf">Genetic Algorithm</a> Due</span></td>
</tr>

            <tr class="text-white bg-warning">
                <td colspan="3"><b>Week 9</b></td>
            </tr>

            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Project_Demo_2.pdf">Project Demo 2</a></td>
</tr>

<tr>
    <td width="10%">Monday, April 1</td>
    <td colspan="2">
        <h5>Binary Tree and Traversals</h5>
        <b>Objective: </b>Gain familiarity with the structure of binary trees and how to traverse existing trees<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/tree_data_structure.htm">Trees</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Tree_traversal">Tree Traversals (Wikipedia)</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/23_Trees.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>




<tr>
    <td width="10%">Wednesday, April 3</td>
    <td colspan="2">
        <h5>Binary Search Tree</h5>
        <b>Objective: </b>Explore an application of binary trees by using them for searching and sorting<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/binary_search_tree.htm">BST</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/24_BST.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>
<tr>
    <td width="10%">Friday, April 5</td>
    <td colspan="2">
        <h5>Expressions with Trees</h5>
        <b>Objective: </b>Explore an application of trees by using them to represent expressions<br/>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Binary_expression_tree">Expression Trees (Wikipedia)</a></li>
            <li><a href="https://www.101computing.net/binary-expression-trees/">Expression Tree Examples</a></li>
            <li><a href="https://www.hackerrank.com/contests/data-structure-tasks-binary-tree-union-find/challenges/binary-expression-tree">Hacker Rank Question</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/25_Expressions.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>

                        </tbody></table></div>

            <a data-toggle="collapse" data-target="#block4">
                    <div class="card-header text-white section-header bg-danger">
                        <h5>
                            Networking and Concurrency
                        </h5>
                    </div>
                </a>

                <div id="block4" class="collapse show">
                    <table class="table table-bordered">

                        <tbody>





            <tr class="text-white bg-danger">
                <td colspan="3"><b>Week 10</b></td>
            </tr>

            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Sample_Lab_Quiz_3.pdf">Quiz 3</a></td>
</tr>

<tr>
    <td width="10%">Monday, April 8</td>
    <td colspan="2">
        <h5>Actors Introduction</h5>
        <b>Objective: </b>Understand that multiple pieces of code can be executing at the same time<br/>
        <ol>
            <li><a href="https://mvnrepository.com/artifact/com.typesafe.akka/akka-actor_2.12/2.5.22">Akka Library</a></li>
            <li><a href="https://doc.akka.io/docs/akka/2.5.22/actors.html?language=scala">Akka Actors</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Actor_model">Actors Model (Wikipedia)</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/26_Actors.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 10</td>
    <td colspan="2">
        <h5>TCP Sockets with Actors</h5>
        <b>Objective: </b>Write two different programs and have them communicate through sockets<br/>
        <ol>
            <li><a href="https://doc.akka.io/docs/akka/2.5.6/scala/io-tcp.html">Official Docs</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/27_Sockets.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Friday, April 12</td>
    <td colspan="2">
        <h5>Database Connections</h5>
        <b>Objective: </b>Run and connect to a MySQL server<br/>
        <ol>
            <li><a href="https://dev.mysql.com/downloads/mysql/">MySQL download page</a></li>
            <li><a href="https://alvinalexander.com/scala/scala-jdbc-connection-mysql-sql-select-example">Connecting to MySQL</a></li>
            <li><a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a> - We'll use <a href="https://www.w3schools.com/sql/sql_create_table.asp">Create Table</a>, <a href="https://www.w3schools.com/sql/sql_insert.asp">Insert Into</a>, <a href="https://www.w3schools.com/sql/sql_select.asp">Select</a>, <a href="https://www.w3schools.com/sql/sql_where.asp">Where</a>, and <a href="https://www.w3schools.com/sql/sql_update.asp">Update</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/28_Databases.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, April 12 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/6_Expressions.pdf">Expressions</a> Due</span></td>
</tr>

            <tr class="text-white bg-danger">
                <td colspan="3"><b>Week 11</b></td>
            </tr>


            <tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Sample_Lab_Quiz_4.pdf">Quiz 4</a></td>
</tr>

<tr>
    <td width="10%">Monday, April 15</td>
    <td colspan="2">
        <h5>Web Sockets (Python/JS)</h5>
        <b>Objective: </b>Enable 2-way communication between the browser and web server<br/>
        <ol>
            <li><a href="http://flask.pocoo.org">Flask Documentation</a> - Flask has simpler support for web sockets than Bottle</li>
            <li><a href="https://flask-socketio.readthedocs.io/en/latest/">Flask web sockets</a></li>
            <li><a href="https://socket.io/docs/client-api/">socket.io Client Docs</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/29_WebSockets.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 17</td>
    <td colspan="2">
        <h5>TCP Sockets (Python)</h5>
        <b>Objective: </b>Connect Python to Scala using TCP sockets<br/>
        <ol>
            <li><a href="https://docs.python.org/3.5/howto/sockets.html">Official Docs</a></li>
            <li><a href="https://wiki.python.org/moin/TcpCommunication">Minimal Example</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/30_Python_TCP_Socket.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>




<tr>
    <td width="10%">Friday, April 19</td>
    <td colspan="2">
        <h5>Web Sockets (Python/Scala)</h5>
        <b>Objective: </b>Connect a Scala front end to a web socket server<br/>
        <ol>
            <li><a href="https://github.com/socketio/socket.io-client-java">Socket IO Library - Scala</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/31_Scala_WebSockets.pdf"><b>Lecture Slides</b></a><br/>
     </td>
</tr>



            <tr class="text-white bg-danger">
                <td colspan="3"><b>Week 12</b></td>
            </tr>


            <tr class="table-info">
    <td colspan="3">Lab: Activity 5</td>
</tr>

<tr>
    <td width="10%">Monday, April 22</td>
    <td colspan="2">
        <h5>MMO Architecture</h5>
        <b>Objective: </b>Brainstorm the architecture of a real-time MMO and consider the design decisions that need to be made<br/>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, April 24</td>
    <td colspan="2">
        <h5>MMO Implementation</h5>
        <b>Objective: </b>Explore the implementation of an MMO<br/>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Wednesday, April 24 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/7_Clicker2.pdf">Clicker 2</a> Due</span></td>
</tr>

<tr>
    <td width="10%">Friday, April 26</td>
    <td colspan="2">
        <h5>Actors Application</h5>
        <b>Objective: </b>Apply actors to the Towers MMO<br/>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/32_Towers.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>


                        </tbody></table></div>

            <a data-toggle="collapse" data-target="#block5">
                    <div class="card-header text-white section-header bg-dark">
                        <h5>
                            Epilogue
                        </h5>
                    </div>
                </a>

                <div id="block5" class="collapse show">
                    <table class="table table-bordered">

                        <tbody>





            <tr class="text-white">
                <td class="table-dark" colspan="3"><b>Week 13</b></td>
            </tr>



<tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Sample_Lab_Quiz_5.pdf">Quiz 5</a></td>
</tr>


<tr>
    <td width="10%">Monday, April 29</td>
    <td colspan="2">
        <h5>Graph Representations</h5>
        <b>Objective: </b>Learn how to represent a graph in code and work with that representation<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/graph_data_structure.htm">Graph Overview</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Adjacency_list">Adjacency List</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/33_Graphs.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>


<tr>
    <td width="10%">Wednesday, May 1</td>
    <td colspan="2">
        <h5>Breath-First Search</h5>
        <b>Objective: </b>Explore BFS and the information gained from the algorithm<br/>
        <ol>
            <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/breadth_first_traversal.htm">BFS Overview</a></li>
        </ol>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/34_BFS.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>



<tr>
    <td width="10%">Friday, May 3</td>
    <td colspan="2">
        <h5>Pathfinding with Breath-First Search</h5>
        <b>Objective: </b>Find the shortest path between two nodes using BFS<br/>
        <br/><a href="https://fury.cse.buffalo.edu/static_files/s19_cse116_slides/35_PathFinding.pdf"><b>Lecture Slides</b></a><br/>
    </td>
</tr>

<tr class="table-warning">
    <td colspan="3">Friday, May 3 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/8_Towers1.pdf">Towers 1</a> Due</span></td>
</tr>


            <tr class="text-white">
                <td class="table-dark" colspan="3"><b>Week 14</b></td>
            </tr>



<tr class="table-info">
    <td colspan="3">Lab: <a href="https://fury.cse.buffalo.edu/static_files/lab/Project_Demo_3.pdf">Project Demo 3</a></td>
</tr>

<tr>
    <td width="10%">Monday, May 6</td>
    <td colspan="2">
        <h5>Review and Reinforce</h5>

        <a href=""></a>
    </td>
</tr>



<tr>
    <td width="10%">Wednesday, May 8</td>
    <td colspan="2">
        <h5>Review and Reinforce</h5>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>





<tr>
    <td width="10%">Friday, May 10</td>
    <td colspan="2">
        <h5>Review and Reinforce</h5>
        <a href=""></a><br/>
        <a href=""></a>
    </td>
</tr>


<tr class="table-warning">
    <td colspan="3">Friday, May 10 @ 11:59pm
        <span class="float-right"><a href="https://fury.cse.buffalo.edu/static_files/homework/9_Towers2.pdf">Towers 2</a> Due</span></td>
</tr>

<tr class="table-info">
    <td colspan="3"><a href="https://fury.cse.buffalo.edu/static_files/lab/Sample_Lab_Quiz_6.pdf">Sample Quiz 6</a></td>
</tr>

            <tr class="text-white">
                <td class="table-dark" colspan="3"><b>Final Exam - Friday, May 17</b></td>
            </tr>

            </tbody>
            </table>
                </div>

        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
</body>
</html>