<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Application Task 1</h1>
            <h2>Testing</h2>
            <hr/>
            <h5>Time Estimate: 7 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                 <p>
                    GitHub Repository link: <a href="https://github.com/jessehartloff/AO1_Testing">https://github.com/jessehartloff/AO1_Testing</a>
                </p>
                <ol>
                    <li>Clone the starter code from the repository into a new IntelliJ project</li>
                </ol>

                <br/>
                <hr/>




                <h3>
                    First Application Objective - Debugging
                </h3>

                <p>
                    Complete the following debugging requirements to earn your first application objective on this
                    assignment.
                </p>

                <h5>
                    Testing Requirements
                </h5>

                <hr/>

                <hr>

                <p>
                    Write tests in the tests.TestDebug1 class for the following functionality:
                </p>

                <ul>
                    <li>A the method named standardDeviation in the debug1.StandardDeviation class. The starter code
                        provides an implementation for this method that is incorrect. Your tests should expose any
                        and all bugs in this implementation. The correct behavior of this method should have the
                        following features:
                        <ul>
                            <li>
                                The standardDeviation method takes an ArrayList of Doubles and returns a double that
                                is the standard deviation of the values in the input
                            </li>
                            <li>
                                The method should calculate the population standard deviation (Not sample standard
                                deviation)
                            </li>
                            <li>
                                If the input is an empty ArrayList, the method should return 0.0
                            </li>
                        </ul>
                    </li>
                 </ul>

                <hr>


                <p>
                    Write tests in the tests.TestDebug2 class for the following functionality:
                </p>

                <ul>
                    <li>A the method named findKeys in the debug2.KeyFinder class. The starter code
                        provides an implementation for this method that is incorrect. Your tests should expose any
                        and all bugs in this implementation. The correct behavior of this method should have the
                        following features:
                        <ul>
                            <li>
                                The findKeys method takes two HashMaps of String to Integer then an int, and returns
                                an ArrayList of Strings. The returned ArrayList will contain all the keys that map
                                to the int from the parameter list in either of the HashMaps. This ArrayList will be
                                sorted by the length of the String, with ties broken alphabetically ignoring case
                            </li>
                            <li>
                                If a key maps to the given int in both maps, it should only appear in the output once
                            </li>
                            <li>
                                If a key maps to the given value in one of the HashMaps and is in the other HashMap
                                mapping to a different value, it should still be in the returned ArrayList
                            </li>
                        </ul>
                    </li>
                 </ul>

                <br/>

                <hr/>

                <h5>
                    Programming Requirements
                </h5>

                <p>
                    Use your tests and the debugger to correct the implementations of the 2 tested methods.
                </p>


                <h3>
                    Second Application Objective - Testing with Mocks
                </h3>

                <p>
                    Complete the following requirements to earn your second application objective on this
                    assignment.
                </p>

                <h5>
                    Testing Requirements
                </h5>

                <hr/>

                <p>
                    In the mocks package, you are provided a Game class which keeps track of scores for players
                    and can find the player with the highest score. Unlike the other code provided in the repo,
                    this code functions properly but your objective is still to test this code. The game class
                    uses a Database for its functionality that connects to a MongoDB
                    database server. You may install MongoDB if you'd like to run this code, but that is not necessary
                    for this assignment and there will not be a MongoDB server running in AutoLab during grading. Your
                    task is to test the Game class functionality using a mock implementation for the Database.
                </p>

                <ul>
                    <li>You need to test the following functionality of the mocks.Game class:
                        <ul>
                            <li>
                                A constructor that takes a reference to a Database object that will be accessed by this
                                class for functionality
                            </li>
                            <li>
                                A method named scorePoints that takes the name of a player as a String, a number
                                of points as an int, and returns void. The method will use the Database retrieve the
                                current score of the player, then add the newly scored points to that score and
                                store the new score in the Database
                            </li>
                            <li>
                                A method named getWinner that takes no parameters and returns the name of the player
                                with the highest score. If multiple players are tied for the highest score, any one
                                of them will e returned and your test should accept any of the tied players as correct
                            </li>
                        </ul>
                    </li>
                 </ul>

                <p>
                    The mocks.Game is complete and does not need to be changed for this assignment. Your task is
                    only to test this class. However, you won't have access to a MongoDB server while testing and so you
                    must set up a mock database to test this class.
                </p>

                 <ul>
                    <li>To set up a mock database, implement the following:
                        <ul>
                            <li>
                                Create a mock database class <b>in your tests package</b> that implements the Database
                                interface. It's important that this class is in your tests package since only code in
                                your tests package is used when running your tests against correct/incorrect solutions
                                in AutoLab
                            </li>
                            <li>
                                Pass an instance of your mock database to the constructor of the Game class which allows
                                you to test the Game class without running a database server. You may choose any method
                                of implementing the three Database methods that you'd like
                            </li>
                        </ul>
                    </li>
                 </ul>


                <h5>
                    Programming Requirements
                </h5>

                <p>
                    There are no programming requirements outside of code you've written in your tests package.
                    Everything in the mocks package can remain unchanged from the provided code
                </p>

                <br/>
                <hr/>


                <table class="table table-bordered">
                    <tbody>

                    <tr class="table-danger">
                        <td colspan="3">Wednesday, April 26 @ 9:00 <b>AM</b><br/>
                            Deadline
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
