<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Application Task 2</h1>
            <h2>Classes</h2>
            <hr/>
            <h5>Time Estimate: 8 hours</h5>
            <hr/>


            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Introduction
                </h3>
                <hr/>
                <p>
                    You will write a 4 function calculator without using any control flow, meaning you cannot write any
                    code
                    that will be executed conditionally. Instead you will apply object-orientation programming
                    approaches to
                    make decisions based on types instead of values. Specifically, you are expected to use the state
                    pattern to
                    complete this assignment.
                </p>
                <p>
                    The following are banned in your submissions:
                </p>
                <ul>
                    <li>Conditionals
                        <ul>
                            <li>if/else if/else</li>
                            <li>switch/case</li>
                            <li>throw/try/catch/finally (Can be used to simulate conditionals)</li>
                        </ul>
                    </li>
                    <li>Loops
                        <ul>
                            <li>for</li>
                            <li>while</li>
                            <li>do/while</li>
                        </ul>
                    </li>
                    <li>Any way of directly simulating Conditionals or Loops that is against the spirit of this
                        assignment. (Ex. Taking advantage of short circuit evaluations)
                    </li>

                </ul>

                <p>
                    If your submission, <b>including your tests</b>, contains any of the keywords listed above, it will
                    not be graded.
                </p>


                <hr>
                <h3>
                    Project Structure
                </h3>


                <hr/>
                <p>
                    GitHub Repository link: <a href="https://github.com/jessehartloff/AO2">https://github.com/jessehartloff/AO2</a>
                </p>
                <ol>
                    <li>Clone the starter code from the repository into a new IntelliJ project</li>
                </ol>

                <p>
                    You can run the calculator.view.CalculatorGUI class to see the provided GUI. Your goal is to add
                    functionality to this GUI by implementing the calculator.model.Calculator class.
                    Do not edit any code in the view or controller packages.
                    You have full control over the model package and this is where you will write all of your code. You
                    may add any methods, variables, classes, objects, or sub-packages you’d like to complete the
                    objectives.
                    All testing, including your tests, will only access the calculator.model.Calculator class and will
                    only call methods provided in the Calculator class. You may add more methods/variables/classes/etc,
                    but do
                    not access them from your tests since they will not exist in my correct/incorrect solutions on
                    AutoLab.
                </p>

                <hr/>


                <h3>
                    First Application Objective - Basic Features
                </h3>

                <hr/>
                <p>
                    Test and implement basic functionality for your calculator to earn the first application objective
                </p>

                <h5>
                    Testing Requirements
                </h5>

                <p>
                    Test the following features of your calculator.model.Calculator class. In your tests, only call the
                    methods that are provided in the handout code as any other methods.variables.classes won't exist
                    in the correct/incorrect solutions and will cause errors in AutoLab. You will call the various
                    "pressed" methods to simulate pressing buttons on the calculator, then call displayNumber and
                    assert that it returns the expected value.
                </p>

                <p>
                    For this application objective, test the following functionality in the tests.TestCalculator class:
                </p>

                <ul>
                    <li>
                        The calculator initially displays 0.0
                    </li>
                    <li>
                        Pressing the number buttons will append that number to the end of the number. For this
                        objective, you may assume all the numbers entered will be whole numbers (ie. the decimal button
                        will never be pressed when testing for the first application objective). For example, starting
                        the calculator and pressing [4, 6, then 1] should result in displayNumber returning 461.0.
                        When testing the the number buttons, only call the numberPressed method with an input in the
                        range 0-9. These are the only inputs that the GUI can call the method with and all others
                        should be considered invalid and should not be tested
                    </li>
                    <li>
                        Test the 4 operator buttons (+, -, *, /). The user can enter a number, press an operator button,
                        enter another number, then press enter and the displayed number should be the result of the
                        operation. Ex. If the user presses [2, 5, /, 5, =], displayNumber() should return 5.0
                    </li>
                    <li>
                        After pressing =, another operation can be entered which will use the result of the previous
                        operation as its left hand side value Ex. [2, 0, +, 1, 5, =, /, 1, 0, =] results in 3.5 being
                        displayed. Ex.  [3, +, 4, =, *, 2, =] results in 14.0 being displayed
                    </li>
                </ul>

                <p>
                    You’ll need to append digits to the end of numbers and also display them as Doubles. It can help to
                store
                the numbers as both Strings and Doubles to build this functionality. When a digit is pressed,
                concatenate
                the digit to the end of the String then convert the String to Double and store this separately for the
                displayNumber method.
                </p>


                <br/>


                <h5>
                    Programming Requirements
                </h5>

                <p>
                    Implement the tested functionality without using control flow
                </p>


                <hr/>
                <h3>
                    Second Application Objective - Advance Features
                </h3>

                <hr/>
                <p>
                    Test and implement advanced functionality for your calculator to earn the second application
                    objective
                </p>

                <h5>
                    Testing Requirements
                </h5>

                <p>
                    For this application objective, test the following functionality in the tests.TestCalculator class:
                </p>

                <ul>
                    <li>
                        Test the decimal button allowing for floating point inputs. The first time the decimal button
                        is pressed when number is being entered will determine where the decimal point will be placed.
                        All subsequent presses of the decimal button for that same number will have no effect.
                        Ex. [1, 2, ., 5, ., ., 0, ., 5] should display 12.505
                    </li>
                    <li>
                        Entering decimal as the first button when entering a number will have 0 as its whole number
                        portion Ex. [., 5] results in 0.5 being displayed
                    </li>
                    <li>
                        Pressing equals multiple times in a row will repeat the previous operation
                        Ex. [8, 0, -, 1, 0, =, =, =, =] results in 40.0 being displayed
                    </li>
                    <li>
                        The clear button returns the calculator to it's initial state with 0.0 being displayed
                    </li>
                </ul>

                <br/>


                <h5>
                    Programming Requirements
                </h5>

                <p>
                    Implement the tested functionality without using control flow
                </p>

                <hr>
                <h5>
                    Undefined behaviour
                </h5>
                <p>
                    To limit the complexity of this assignment there are certain sequences of button presses that have
                    undefined behaviour. These sequences will not be tested in AutoLab and you must not test these
                    sequences
                    in your tests since the expected number to be displayed is undefined. Do not test any of the
                    following:
                </p>
                <ul>
                    <li>Only pressing the decimal button when entering a number Ex. [., +, 1, =], [6, *, ., =]</li>
                    <li>Pressing consecutive operator buttons  Ex. [2, 5, /, *, 5, =]</li>
                    <li>Pressing an operator or equals before entering a number Ex. [+, 1, 1, 6, =] or [5, 5, +, =]</li>
                    <li>Pressing another operator button before pressing = Ex. [2, 5, /, 5, +, 7, =]</li>
                    <li>Pressing a number button after equals Ex [2, +, 2, =, 4]</li>
                    <li>The value that's displayed after an operator button is pressed, but before = is pressed.
                        Ex. The only time you should test the returned value of displayNumber is when the first
                        number is being entered or immediately after the = button is pressed</li>
                </ul>
                <hr/>


                <table class="table table-bordered">
                    <tbody>

                    <tr class="table-danger">
                        <td colspan="3">Wednesday, May 3 @ 9:00 <b>AM</b><br/>
                            Deadline
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
