<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Application Task 2</h1>
            <h2>Classes</h2>
            <hr/>
            <h5>Time Estimate: 6 hours</h5>
            <hr/>


            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">


                <hr>
                <h3>
                    Project Structure
                </h3>
                <hr/>

                <p>
                    GitHub Repository link: <a href="https://github.com/jessehartloff/AO3">https://github.com/jessehartloff/AO3</a>
                </p>
                <ol>
                    <li>Clone the starter code from the repository into a new IntelliJ project</li>
                </ol>

                <p>
                    The starter code defines each method and class that will be used during testing and you should
                    only use these classes/methods in your tests.
                </p>

                <hr/>


                <h3>
                    First Application Objective - Constructor and Net Gains
                </h3>

                <hr/>
                <p>
                    Test and implement the constructor and netGains methods in the money.DebtCalculator class.
                </p>

                <h5>
                    Testing Requirements
                </h5>

                <p>
                    Test the following features of your money.DebtCalculator class:
                </p>


                <ul>
                    <li>
                        A constructor that takes a filename as a String for a parameter. This will be a CSV file where
                        each line is in the format "person1,person2,amount" meaning the person1 owes person2 the amount
                        of dollars. All dollar values will be integers (Whole dollar amounts only). If a line is
                        "Paul,Jesse,50" then Paul owes Jesse $50. The constructor will read this file and store all
                        the debt information in instance variables. All CSV files should be in a directory named data
                    </li>
                    <li>
                        A method named netGains that takes the name of a person as a String and returns the net gains
                        for that person. This is the total amount that person will have gained after all debts are
                        settled. Net gains can be negative. For example, if Paul owes Jesse $50 and Jesse owes Leo $75,
                        then Jesse's net gains are -$25 and the method should return -25 as an int.
                    </li>
                </ul>

                <br/>


                <h5>
                    Programming Requirements
                </h5>

                <p>
                    Implement the tested functionality.
                </p>


                <hr/>
                <h3>
                    Second Application Objective - Detecting Cycles
                </h3>

                <hr/>
                <p>
                    Test and implement the findCycle method in the money.DebtCalculator class.
                </p>

                <h5>
                    Testing Requirements
                </h5>

                <p>
                    Test the following feature of your money.DebtCalculator class:
                </p>

                <ul>
                    <li>
                        The findCycle method that takes no parameters and returns a reference to a Cycle object using
                        the provided Cycle class. This method will detect if there is a cycle in the debt data and
                        will return it if it exists. A cycle exists if there's any number of people all of whom owe
                        money to the next person in a way the eventually returns to the original debtor. The amount of
                        the cycle is the minimum amount owed throughout the cycle. If such a cycle exists, the amount of
                        each debt in the cycle could be reduced by the cycle amount (You don't have to reduce the debts,
                        just detect the cycle). For example, if Paul owes Jesse $50, Jesse owes Leo $75, and Leo owes
                        Paul $100, there there is a cycle [Paul, Jesse, Leo] of $50
                    </li>
                    <li>
                        If no cycle exists, the method returns null
                    </li>
                    <li>
                        If a cycle exists, return a Cycle object containing the names of everyone in the cycle in the
                        order in which they appear, and the cycle amount. Note that the starting point is ambiguous so
                        your tests must accept any valid ordering. In the example above, there three valid orderings
                        [Paul, Jesse, Leo], [Jesse, Leo, Paul], and [Leo, Paul, Jesse]
                    </li>
                    <li>
                        You may assume that there is at most 1 cycle in and file of data and your test cases should
                        contain at most 1 cycle
                    </li>
                    <li>
                        Hint: If you run BFS and find an edge leading to a node that has already been explored, you just
                        found a cycle
                    </li>
                </ul>

                <br/>


                <h5>
                    Programming Requirements
                </h5>

                <p>
                    Implement the findCycle method
                </p>


                <table class="table table-bordered">
                    <tbody>

                    <tr class="table-danger">
                        <td colspan="3">Wednesday, May 10 @ 9:00 <b>AM</b><br/>
                            Deadline
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
