<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Programming Task 7</h1>
            <h2>Testing 3</h2>
            <hr/>
            <h5>Time Estimate: 5 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                <p>
                    You will continue to add functionality to your existing project from the previous tasks. There is
                    no new repository to clone.
                </p>

                <br/>
                <hr/>

                <h3>
                    Resources
                </h3>

                <hr/>

                <p>
                    In this task, you will work with real data related to songs and movies. You will create and store
                    data files that you'll use in your tests in a directory named "data" in your top level project
                    directory. We'll use 2 different resources to obtain data.
                </p>

                <h2><a href="https://ubratingsongs.com">Rate Songs Here</a></h2>

                <p><b>Song Ratings</b>: Use the link above to rate songs and find CSE116's favorite songs for Spring
                    2023. Enter your UBIT to add and rate songs. You can also find a link to download "ratings.csv"
                    which contains all the ratings made on this app as a CSV file in the format
                    "songID,artist,title,reviewerID,rating". Data from this file can used in your tests
                </p>

                <h2><a href="static_files/movies.csv">movies.csv</a></h2>

<p>Raw data downloaded from - https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?resource=download
    Copyright - CC0: Public Domain</p>

                <p><b>Movies</b>: Download the file above which contains data for 4575 movies. The format of the file
                    is "movieTitle,castMember0,castMember1,castMember2,etc" where there can be number of cast members
                    (There must be at least 1 cast member for every movie in the file). You should use this file, and
                    create smaller testing files for testing.
                </p>

                <br/>
                <hr/>

                <h3>
                    Testing Requirements
                </h3>

                <hr/>
                <p>
                    For the testing in this task, you will create and use data files for your tests. All of your data
                    files must be in a directory named "data" in the root of your project. For example, if you have a
                    test file named "movies.csv" you should write a test with the filename "data/movies.csv" and it will
                    open the correct file from your data directory.
                </p>

                <img src="/static_files/data.png" alt="where to put the data directory" class="embed-responsive">

                <hr>

                <p>
                    Create a FileReader class in the ratings package and test the following static methods.
                </p>


                <ul>
                    <li>A static method named readSongs that takes a String as a parameter and returns and ArrayList of
                        Songs. Write tests for this method in a test class named tests.TestClasses3
                        <ul>
                            <li>
                                The input String is the name of a file to be read. Test this method with a CSV file
                                where each line matches the format from the ratings.csv file that you can download from
                                the song rating app "songID,artist,title,reviewerID,rating"
                            </li>
                            <li>
                                The method will return an ArrayList of Songs containing all of the information from the
                                input file. If a song appears in the file more than once, this means that it has been
                                rated by multiple reviewers. In this case, only one Song object should be returned for
                                that Song and it should contain all of the ratings from the file
                            </li>
                            <li>
                                If the input file does not exist, the method will return an empty ArrayList
                            </li>
                            <li>
                                The Songs in the returned ArrayList may appear in any order. Your tests must accept any
                                order of the returned Songs
                            </li>
                            <li>
                                The ratings for each Song must be in the order in which they appear in the file. When
                                testing the Linked List of Ratings for a Song, you can assume that they in the same
                                order in which they appear in the file (This will make it simpler to test the Linked
                                List)
                            </li>
                        </ul>
                    </li>
                </ul>
                 <ul>
                    <li>A static method named readMovies that takes a String as a parameter and returns and ArrayList
                        of Movies. Write tests for this method in a test class named tests.TestDataStructures3
                        <ul>
                            <li>
                                The input String is the name of a file to be read. Test this method with a CSV file
                                where each line matches the format from the movies.csv file that you can download above
                                "movieTitle,castMember0,castMember1,castMember2,etc" where there can be number
                                of cast members, but there must be at least one cast member per movie
                            </li>
                            <li>
                                The method will return an ArrayList of Movies containing all of the information from the
                                input file
                            </li>
                            <li>
                                If the input file does not exist, the method will return an empty ArrayList
                            </li>
                            <li>
                                The Movies in the returned ArrayList may appear in any order. Your tests must accept any
                                order of the returned Movies
                            </li>
                            <li>
                                The cast for each Movie must be in the order in which they appear in the file. You
                                should assume this order when testing the cast ArrayLists
                            </li>
                        </ul>
                    </li>
                 </ul>

                <br/>

                <hr/>


                <h3>
                    Programming Requirements
                </h3>

                <hr/>

                <p>
                    Implement the readSongs and readMovies static methods. (Yes, you are actually writing the methods
                    that you are testing this time)
                </p>



                <br/>
                <hr/>

                <h3>AutoLab Feedback</h3>

                <hr/>
                <p>
                    The feedback in AutoLab will be given in 3 phases. If you don't complete a phase, then feedback for
                    the following phase(s) will not be given.
                </p>

                <ol>
                    <li>Running your tests on a Correct Solution

                    </li>
                    <li>Running your tests on several Incorrect Solutions

                    </li>
                    <li>Running my tests on Your Solution

                    </li>
                </ol>

                <p>
                    Once you complete all 3 phases, you will have completed this Task and AutoLab will confirm this
                    with a score of 1.0 for complete.
                </p>
                <hr/>


                <table class="table table-bordered">
                    <tbody>

                    <tr class="table-warning">
                        <td colspan="3">Wednesday, April 5 @ 9:00 <b>AM</b><br/>
                            Expected Deadline
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td colspan="3">Wednesday, April 12 @ 9:00 <b>AM</b><br/>
                            Deadline
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
