{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 7{% endblock %}

{% block header %}
    <h1>Programming Task 7</h1>
    <hr/>
    <h5>Time Estimate: 4 hours</h5>
    <hr/>
{% endblock %}

{% block task %}

    <div class="card-header section-testing">
        <div>Requirements</div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>
        <h3>
            Project Structure
        </h3>
        <hr/>

        <p>
            You will continue to add functionality to your existing project from the previous task. There is
            no new repository to clone.
        </p>


        <br/>
        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>
            In the previous task, you wrote code to load song and movie data from files into data structures.
            In this task we'll use this data, and the fact that Song and Movie both inherit from Ratable, to write
            code that will find the top-rated Songs and Movies. To this end, you will implement the following specs.
        </p>

        <ul>
            <li>A class named <code>MediaLibrary</code> in the <code>ratings</code> package.
                <ul>
                    <li>
                        <code>MediaLibrary</code> has a constructor that takes no parameters
                    </li>
                    <li>
                        <code>MediaLibrary</code> has a method named <code>populateLibrary</code> that returns <code>void</code>
                        and takes 3 <code>Strings</code>
                        as parameters representing filenames for songs with ratings, movies (title and cast),
                        then movie ratings in this order. These three files will match the three <code>static</code> methods
                        you've written in your <code>FileReader</code> class. The expected behavior of this method will
                        match the expected behavior of those three methods. This method will read all the data
                        from all
                        three files and store all the Songs and Movies as part of the state of the
                        <code>MediaLibrary</code> object
                    </li>
                    <li>
                        <code>MediaLibrary</code> has a method named <code>topKRatables</code> that takes an
                        <code>int</code> and returns an <code>ArrayList</code>
                        of <code>Ratables</code>. This method will return the top k ratables that have been loaded using
                        the <code>populateLibrary</code> method where k is the input <code>int</code> (eg. <code>topKRatables(10)</code> returns a top 10 list).
                        The ratables will be ranked by their bayesian average rating with 2 extra ratings of
                        value 3 in decreasing order (eg. The ratable with the highest bayesian average should
                        be at index 0). If k is greater than the number of ratables, return all ratables (eg.
                        If k is 100 and there are only 3 ratables in the library, return all 3).
                    </li>
                    <li>
                        Note: All these methods should be tested together. To test whether <code>populateLibrary</code>
                        reads the data properly, you must call the <code>topKRatables</code> as there is no other way -
                        that is defined in this document and can be used in testing - to access the state of
                        the <code>MediaLibrary</code> object
                    </li>
                    <li>
                        Note: Throughout your testing, you may assume that <code>Songs</code> and <code>Movies</code> have unique titles.
                        When
                        testing <code>topKRatables</code>, if the returned <code>ArrayList</code> contains the correct titles in the
                        correct order, your test should pass (ie. you don't have to check any other instance
                        variables like the ratings linked list, song ids, artists, or cast members)
                    </li>
                    <li>
                        Note: You don't have to write tests where any 2 songs or movies have the same bayesian
                        average
                        rating. This would be tedious to test since the order can depend on truncation
                        errors
                    </li>
                </ul>
            </li>
        </ul>



        <br/>
        <hr/>
        <h3>Testing Utilities</h3>
        <hr/>


        <p>
            <b>TestClasses3:</b> Create a class named <code>TestClasses3</code> in the <code>tests</code> package and
            write the following testing utility method in this class.
        </p>

        <ul>
            <li><code>compareRatableArrayLists</code> - Write a method named <code>compareRatableArrayLists</code> in the
                <code>tests.TestFiles</code> class that:
                <ul>
                    <li>
                        Takes [references to] 2 <code>ArrayList&lt;Ratable&gt;</code> objects as parameters
                    </li>
                    <li>
                        Returns a boolean that is true if both <code>ArrayLists</code> contain <code>Ratables</code>
                        with the same titles in the same order.
                        The method either returns false, or fails a JUnit
                        assert, if the <code>ArrayLists</code> do not contain exactly the same songs
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            Note: This utility method is simpler than the one from the previous task. Don't overthink it.
        </p>

        <br/>
        <hr/>
        <h3>
            Testing Requirements
        </h3>
        <hr/>

        <p>
            Write tests for the <code>MediaLibrary</code> class by calling <code>populateLibrary</code>, then check that
            <code>topKRatables</code> returns the expected songs and movies in the expected order
        </p>

        <p>
            Testing with files should follow the same structure as task 6 (eg. all test files should be in the "data"
            directory)
        </p>

        <p>
            Note: Do not add spaces in your testing filename. Use underscores like in the examples above if you want
            to use filenames with multiple words.
        </p>


        <br/>
        <hr/>
        <h3>
            Programming Requirements
        </h3>
        <hr/>

        <p>
            Implement all the methods of the <code>MediaLibrary</code> class.
        </p>


        <br/>
        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            The feedback in Autolab will be given in 4 phases. If you don't complete a phase, then feedback for
            the following phase(s) will not be provided.
        </p>

        <ol>
            <li>Testing your testing utility method
                <ul>
                    <li>
                        Your testing utility method will be checked with a variety of test cases to
                        ensure
                        that
                        it makes all the required checks. This phase will ensure that your utility method is
                        accurate
                        before you start using it in your tests
                    </li>
                </ul>
            </li>
            <li>Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed
                        before you can move on with the assignment. If your tests don't get past this check, you
                        should re-read this document and make sure you implemented your tests and code according
                        the specification. You should also make sure that if there are multiple correct outputs
                        to the input in your tests cases that you accept any of the outputs as correct
                    </li>
                </ul>
            </li>
            <li>Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked, and it is sometimes possible to pass this phase
                        with weak testing. If you are struggling to earn credit for code that you believe
                        is correct, you should write more than the required tests
                    </li>
                </ul>
            </li>
            <li>Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you complete all 4 phases, you will have completed this Task and Autolab will confirm this
            with a score of 1.0 for complete.
        </p>
    </div>



{% endblock %}