{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 8{% endblock %}

{% block header %}
    <h1>Programming Task 8</h1>
    <hr/>
    <h5>Time Estimate: 6 hours</h5>
    <hr/>
{% endblock %}

{% block task %}

    <div class="card-header section-testing">
        <div>Requirements</div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>
        <h3>
            Project Structure
        </h3>
        <hr/>

        <p>
            You will continue to add functionality to your existing project from the previous task. There is
            no new repository to clone.
        </p>


        <br/>
        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>In this task, you will implement the following specs.</p>


        <ul>
            <li>A class named <code>DegreesOfSeparation</code> in the ratings package with:
                <ul>
                    <li>
                        <code>DegreesOfSeparation</code> has a constructor that takes an <code>ArrayList</code> of <code>Movies</code>
                    </li>
                    <li>
                        <code>DegreesOfSeparation</code> has a method named <code>degreesOfSeparation</code> that takes 2
                        <code>Strings</code> and returns an <code>int</code>. The inputs are the names of 2 cast members, and the method
                        returns their <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">degrees
                        of separation</a>. This number is how many people need to be traversed
                        to move from one person to the other where two people are connected if they starred in
                        a movie together. When computing the degrees of separation, only the
                        movies provided in the constructor can be used. If the two cast members are not
                        connected, or if one of them is not in any of the provided movies, this method returns -1.
                    </li>
                    <li>
                        Note: The degrees of separation of a person to themselves is 0. If two people have acted
                        in a movie together, their separation is 1. If two people were never in a movie
                        together, their separation is the number of movies that separate them. For example, in
                        the data provided in movies.csv, Chris Pratt and Kevin Bacon have 2 degrees of
                        separation because Chris Pratt was in Moneyball with Brad Pitt and Brad Pitt was in
                        Sleepers with Kevin Bacon (irl, Chris Pratt was in The Guardians of the Galaxy Holiday
                        Special with Kevin Bacon so their separation is 1, but that movie is not in the
                        movies.csv dataset)
                    </li>
                    <li>
                        Since the movies.csv file provided in task 6 does not contain every single movie, some
                        degrees of separation, and Bacon Numbers, will be slightly off
                    </li>
                </ul>
            </li>
        </ul>


        <br/>
        <hr/>
        <h3>Testing Utilities</h3>
        <hr/>


        <p>
            There are no testing utility methods for this task.
        </p>


        <br/>
        <hr/>
        <h3>
            Testing Requirements
        </h3>
        <hr/>

        <p>
            Write tests in a class named <code>TestDataStructures3</code> in the <code>tests</code> package that tests
            the <code>DegreesOfSeparation</code> class.
        </p>

        <p>
            Testing with files is not required for this task, though you still may find generating small test
            files useful when writing your tests. If you create test files for your test cases, all of your data
            files must be in a directory named "data" in the root of your project following the same structure
            as task 6.
        </p>

        <hr>



        <br/>
        <hr/>
        <h3>
            Programming Requirements
        </h3>
        <hr/>

        <p>
            Implement the <code>DegreesOfSeparation</code> class.
        </p>


        <br/>
        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            The feedback in Autolab will be given in 4 phases. If you don't complete a phase, then feedback for
            the following phase(s) will not be provided.
        </p>

        <ol>
            <li>Testing your testing utility method
                <ul>
                    <li>
                        No testing utility method required. This phase will be free in Autolab
                    </li>
                </ul>
            </li>
            <li>Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed
                        before you can move on with the assignment. If your tests don't get past this check, you
                        should re-read this document and make sure you implemented your tests and code according
                        the specification. You should also make sure that if there are multiple correct outputs
                        to the input in your tests cases that you accept any of the outputs as correct
                    </li>
                </ul>
            </li>
            <li>Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked, and it is sometimes possible to pass this phase
                        with weak testing. If you are struggling to earn credit for code that you believe
                        is correct, you should write more than the required tests
                    </li>
                </ul>
            </li>
            <li>Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you complete all 4 phases, you will have completed this Task and Autolab will confirm this
            with a score of 1.0 for complete.
        </p>
    </div>


{% endblock %}