{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 5{% endblock %}

{% block header %}
    <h1>Programming Task 5</h1>
    <hr/>
    <h5>Time Estimate: 6 hours</h5>
    <hr/>
{% endblock %}

{% block task %}

    <div class="card-header section-testing">
        <div>Requirements</div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>
        <h3>
            Project Structure
        </h3>
        <hr/>

        <p>
            You will continue to add functionality to your existing project from the previous task. There is
            no new repository to clone.
        </p>


        <br/>
        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>In this task, you will implement the following specs.</p>


        <ul>
            <li>The <code>ratings.datastructures.BinaryTreeNode</code> class that has been provided in the handout repo.
                An object of this type will be returned by one
                of your methods and will be tested in Autolab.
                Just like the <code>LinkedListNode</code> class, all these methods must exist and be named exactly as
                they are in the repo or there will be errors during grading. You may add additional methods to this
                class, but don't call those methods from your tests.
            </li>
        </ul>


        <p>
            Create a <code>Playlist</code> class in the ratings package with the following functionality. This class
            will
            use a Binary Search Tree (BST) to store a playlist of <code>Songs</code> in sorted order. This class will
            have the following behavior:
        </p>


        <ul>
            <li>A constructor that takes a <code>Comparator</code> of <code>Songs</code>
                <ul>
                    <li>
                        You will use this Comparator in a BST to sort the songs that are added to the playlist. You
                        should create and initialize any instance variables you'll need when this constructor is called
                    </li>
                </ul>
            </li>


            <li>A method named <code>addSong</code> that takes a reference to a <code>Song</code> and returns
                <code>void</code>
                <ul>
                    <li>
                        This method will add the song to the playlist by inserting it into a BST with the
                        comparator from the constructor
                    </li>
                    <li>
                        Note: You are allowed to use the BST code provided in lecture
                    </li>
                </ul>
            </li>

            <li>A method named <code>getSongTree</code> that takes no parameters and returns the
                <code>BinaryTreeNode</code> of <code>Songs</code> that is the root node of your
                BST. This method should be a getter with one line of code
            </li>


            <li>A method named <code>getSongList</code> that takes a <code>BinaryTreeNode</code> of <code>Songs</code>
                as a parameter and returns a <code>LinkedListNode</code> of <code>Songs</code>
                <ul>
                    <li>
                        This method traverses the tree from the parameter and returns all the songs in the tree
                        in a Linked List in sorted order (Assuming the parameter is the root of a BST)
                    </li>
                    <li>
                        Note: This method is expected to contain the majority of the difficulty of this task
                    </li>
                    <li>
                        It's recommended that you write the next method before this one
                    </li>
                </ul>
            </li>


            <li>A method named <code>getSongList</code> that takes no parameters and returns a
                <code>LinkedListNode</code> of <code>Songs</code>
                <ul>
                    <li>
                        This method traverses your BST and returns all the Songs in the tree
                        in a Linked List in sorted order
                    </li>
                    <li>
                        This method should be one line since you can call your other <code>getSongList</code> method
                        with
                        the root of your BST as the argument
                    </li>
                    <li>
                        This is the method that you will test in this task. You should write this method while
                        writing the other <code>getSongList</code> method so you can run your tests and utilize the
                        debugger
                        while writing your code
                    </li>
                    <li>The returned node will be the head of a linked list containing all the Songs
                        that were added to your playlist in sorted order according to the comparator provided to the
                        constructor
                    </li>
                    <li>
                        Example: If you provided a <code>SongTitleComparator</code>, the songs will be sorted
                        alphabetically by title
                    </li>
                    <li>
                        Example: If you provided a <code>SongBayesianRatingComparator</code>, the songs will be sorted
                        in
                        decreasing order (The highest rated songs first) according to their bayesian
                        average rating with 2 fake ratings of 3 being added
                    </li>
                    <li>If no songs have been added to the Playlist, this method returns null to represent an empty
                        linked list
                    </li>
                </ul>
            </li>

        </ul>


        <br/>
        <hr/>
        <h3>Testing Utilities</h3>
        <hr/>


        <p>
            <b>TestDataStructures2:</b> Create a class named <code>TestDataStructures2</code> in the tests package and
            write the
            following testing utility method in this class.
        </p>


        <ul>
            <li><code>compareSongTrees</code> - Write a method named <code>compareSongTrees</code> in the
                <code>tests.TestDataStructures2</code> class that:
                <ul>
                    <li>
                        Takes [references to] 2 <code>BinaryTreeNode&lt;Song&gt;</code> objects as parameters
                    </li>
                    <li>
                        Checks if all the songs in the two trees have the same exact title,
                        artist, id, and ratings in the same positions in the tree.
                        The method fails a JUnit
                        assert if the trees do not contain all the same songs in the same positions
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            You'll have the need to compare 2 song objects throughout this method.
            Luckily, you already wrote, and tested, a <code>compareSongs</code> method that does
            this (You may want to add a call to your <code>compareListsOfRatings</code> to compare the ratings of the
            two songs since we did not have ratings where we wrote the <code>compareSongs</code> method). Since the
            method is in a different class and is non-static, you'll need to create a <code>new
            TestClasses1</code> object and call your method through that object. Note that you do not have to
            import <code>TestClasses1</code> since it's in the same package as <code>TestDataStructures2</code>
        </p>

        <p>Note: You still have to create every class and method from the specification
            before getting feedback on your submission in Autolab since the grader will not be able to compile if those
            classes/methods do not
            exist. You don't have to implement them yet, and they can all return a default value</p>


        <br/>
        <hr/>
        <h3>
            Testing Requirements
        </h3>
        <hr/>


        <p>
            <b>TestDataStructures2:</b> Add tests to the TestDataStructures2 class in the tests package that
            will test the following functionality.
        </p>

        <ul>
            <li><code>ratings.Playlist</code> - Write tests for the following methods of the <code>Playlist</code>
                class
                <ul>
                    <li>
                        The constructor takes a <code>Comparator&lt;Song&gt;</code>. In your testing, you can pass
                        either a
                        <code>new SongTitleComparator</code>
                        or a <code>new SongBayesianRatingComparator</code>. This is allowed through the magic of
                        Polymorphism which we'll discuss in greater detail later in the semester
                    </li>
                    <li>
                        Call the <code>addSong</code> method to populate the playlist with test data
                    </li>
                    <li>
                        Write tests for the <code>getSongTree</code> method and assert that it returns a tree that
                        contains all the songs in the correct places based on the comparator you provided in the
                        constructor and the algorithm for inserting into a BST
                        <ul>
                            <li>Do not write tests where 2 of your songs are tied according to the comparator
                            </li>
                            <li>
                                If no songs have been added, this method returns null
                            </li>
                            <li>
                                You should use your utility method to make these tests easier to write
                            </li>
                        </ul>
                    </li>
                    <li>
                        Write tests for the <code>getSongList</code> method that takes no parameters and assert that it returns a linked list
                        of all the added songs in sorted order according to the comparator you provided in the constructor
                        <ul>
                            <li>Do not write tests where 2 of your songs are tied according to the comparator
                            </li>
                            <li>
                                If no songs have been added, this method returns null
                            </li>
                            <li>The returned Songs might be different song objects, but they will contain the
                                same title, artist, id, and ratings as the Songs that were added (eg. You must
                                check the values of the songs and not rely on comparing the references
                                with ==)
                            </li>
                            <li>
                                Note: You do not have to write tests for the <code>getSongList</code> method that takes
                                a tree as a parameter, though it will be tested implicitly since the one you are
                                testing should call the other
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>


        <br/>
        <hr/>
        <h3>
            Programming Requirements
        </h3>
        <hr/>

        <p>
            Implement all the classes/methods described in the Specification section.
            As you're writing this code, you should run your tests to see how you are progressing. It's
            recommended that you write your tests first, submit to Autolab to make sure you have good testing,
            then use those verified tests, along with the debugger, to check your code.
        </p>

        <br/>
        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            The feedback in Autolab will be given in 4 phases. If you don't complete a phase, then feedback for
            the following phase(s) will not be provided.
        </p>

        <ol>
            <li>Testing your testing utility method
                <ul>
                    <li>
                        Your testing utility method will be checked with a variety of test cases to
                        ensure
                        that
                        it makes all the required checks. This phase will ensure that your utility method is
                        accurate
                        before you start using it in your tests
                    </li>
                </ul>
            </li>
            <li>Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed
                        before you can move on with the assignment. If your tests don't get past this check, you
                        should re-read this document and make sure you implemented your tests and code according
                        the specification. You should also make sure that if there are multiple correct outputs
                        to the input in your tests cases that you accept any of the outputs as correct
                    </li>
                </ul>
            </li>
            <li>Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked, and it is sometimes possible to pass this phase
                        with weak testing. If you are struggling to earn credit for code that you believe
                        is correct, you should write more than the required tests
                    </li>
                </ul>
            </li>
            <li>Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you complete all 4 phases, you will have completed this Task and Autolab will confirm this
            with a score of 1.0 for complete.
        </p>
    </div>

{% endblock %}