<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Programming Task 2</h1>
            <hr/>
            <h5>Time Estimate: 5 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                <p>
                    You will continue to add functionality to your existing project from the previous task. There is
                    no new repository to clone.
                </p>

                <br/>
                <hr/>

                <h3>
                    Testing Requirements
                </h3>

                <hr/>

                <p>
                    Note: You can see feedback in Autolab for your tests without completing the programming portion of
                    this task, but you must at least create the classes and methods that you test. You can "stub out"
                    these methods by having them always return a fixed value, but they must exist so the grading code
                    will compile and run.
                </p>

                <p>
                    Write tests in the tests.TestClasses1 class for the following functionality:
                </p>


                <ul>
                    <li>ratings.Song - In the ratings package, test a class named Song
                        <ul>
                            <li>
                                This class will have a constructor that takes 3 parameters in this order:
                                <ol>
                                    <li>A String representing the title of the Song</li>
                                    <li>A String representing the artist of the Song</li>
                                    <li>A String representing the Songs ID</li>
                                </ol>
                            </li>
                            <li>
                                Song will have getter and setter methods for the three constructor parameters named:
                                <ol>
                                    <li>getTitle</li>
                                    <li>setTitle</li>
                                    <li>getArtist</li>
                                    <li>setArtist</li>
                                    <li>getSongID <-- Note that both characters in ID are capital</li>
                                    <li>setSongID</li>
                                </ol>
                            </li>
                            <li>
                                For this task, you don't need to implement any additional methods in the Song class
                                (We will add to this class in later tasks)
                            </li>
                        </ul>
                    </li>

                    <li>ratings.Rating - In the ratings package, Test a class named Rating
                        <ul>
                            <li>
                                This class will have a constructor that takes 2 parameters in this order:
                                <ol>
                                    <li>A String representing the ID of the reviewer who gave the rating</li>
                                    <li>An int representing the rating that the reviewer gave</li>
                                </ol>
                            </li>
                            <li>
                                Rating will have getter and setter methods for the two constructor parameters named:
                                <ol>
                                    <li>getReviewerID</li>
                                    <li>setReviewerID</li>
                                    <li>getRating</li>
                                    <li>setRating</li>
                                </ol>
                            </li>
                            <li>
                                Ratings must be in the range 1-5. If someone calls setRatings with an invalid rating,
                                the rating should be set to -1 to indicate that an error has occurred.
                                (eg. setRating(100) should result in the rating being set to -1). This check must also
                                apply when the constructor is called with an invalid rating.
                            </li>
                        </ul>
                    </li>

                    <li>ratings.Reviewer - In the ratings package, Test a class named Reviewer
                        <ul>
                            <li>
                                This class will have a constructor that takes 1 parameter:
                                <ol>
                                    <li>A String representing the ID of the reviewer</li>
                                </ol>
                            </li>
                            <li>
                                Reviewer will have getter and setter methods for the constructor parameter named:
                                <ol>
                                    <li>getReviewerID</li>
                                    <li>setReviewerID</li>
                                </ol>
                            </li>
                            <li>
                                Implement a method named rateSong that takes an int as a parameter and returns a
                                reference to a new Rating object (Using the Rating class described above) with this
                                reviewer's ID and the rating from the parameter of this method.
                            </li>
                        </ul>
                    </li>


                </ul>

                <br/>
                <hr/>

                <h3>
                    Programming Requirements
                </h3>

                <hr/>
                <p>
                    Implement the Song, Rating, and Reviewer classes with all of the functionality you've tested above.
                </p>


                <br/>
                <hr/>

                <h3>Autolab Feedback</h3>

                <hr/>
                <p>
                    The feedback in Autolab will be given in 3 phases. If you don't complete a phase, then feedback for
                    the following phase(s) will not be given.
                </p>

                <ol>
                    <li>Running your tests on a Correct Solution

                    </li>
                    <li>Running your tests on several Incorrect Solutions

                    </li>
                    <li>Running my tests on Your Solution

                    </li>
                </ol>

                <p>
                    Once you complete all 3 phases, you will have completed this Task and Autolab will confirm this
                    with a score of 1.0 for complete.
                </p>
                <hr/>

            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>

</body>
</html>
