{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 6{% endblock %}

{% block header %}
    <h1>Programming Task 6</h1>
    <hr/>
    <h5>Time Estimate: 7 hours</h5>
    <hr/>
{% endblock %}

{% block task %}

    <div class="card-header section-testing">
        <div>Requirements</div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>
        <h3>
            Project Structure
        </h3>
        <hr/>

        <p>
            You will continue to add functionality to your existing project from the previous task. There is
            no new repository to clone.
        </p>


        <br/>
        <hr/>
        <h3>
            Resources
        </h3>
        <hr/>

        <p>
            In this task, you will work with real data related to songs and movies. You will create and store
            data files that you'll use in your tests in a directory named "data" in your top level project
            directory. We'll use 3 different resources to obtain data. You can/should use data from these files
            in your tests. You should create smaller files using this data.
        </p>

        <h2><a href="/static_files/songs.csv">songs.csv</a></h2>

        <p><b>Songs + Ratings</b>: The songs.csv file contains songs and ratings [from students in Fall 2023]
            as a CSV file in the format "songID,artist,title,reviewerID,rating".
        </p>

        <h2><a href="/static_files/movies.csv">movies.csv</a></h2>

        <p>Raw data downloaded from - <a
                href="https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?resource=download">https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?resource=download</a>
            Copyright - CC0: Public Domain</p>

        <p><b>Movies</b>: The movies.csv file contains data for 4575 movies. The format of the file
            is "movieTitle,castMember0,castMember1,castMember2,etc." where there can be any number of cast members
            (There must be at least 1 cast member for every movie in the file).
        </p>


        <h2><a href="/static_files/movie_ratings.csv">movie_ratings.csv</a></h2>

        <p><b>Movie Ratings</b>: The movie_ratings.csv file contains ratings for movies by title in the
            format "title,reviewerId,rating".
        </p>


        <br/>
        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>In this task, you will implement the following specs related to reading files matching the formats from the
            resources section to populate data structures of Songs and Movies.</p>


        <p>
            Create a <code>FileReader</code> class in the <code>ratings</code> package the following
            <code>static</code> methods will be tested and implemented:
        </p>

        <ul>
            <li>A <code>static</code> method named <code>readSongs</code> that takes a <code>String</code> as a
                parameter and returns and <code>ArrayList</code> of <code>Songs</code>
                <ul>
                    <li>
                        The input <code>String</code> is the name of a file to be read. This file will be a CSV file
                        where each line matches the format from the songs.csv file:
                        "songID,artist,title,reviewerID,rating"
                    </li>
                    <li>
                        The method will return an <code>ArrayList</code> of <code>Songs</code> containing all of the
                        information from the
                        input file. If a song appears in the file more than once, this means that it has been
                        rated by multiple reviewers. In this case, only one Song object should be returned for
                        that song, and it should contain all the ratings for this song from the file
                    </li>
                    <li>
                        If the input file does not exist, the method will return an empty <code>ArrayList</code>
                    </li>
                    <li>
                        The <code>Songs</code> in the returned <code>ArrayList</code> may appear in any order.
                        Your tests must accept any
                        order of the returned <code>Songs</code> (This is much of the challenge in writing these tests)
                    </li>
                    <li>
                        The ratings for each song must be added to the song in the order in which they appear in the
                        file. When
                        testing the linked list of <code>Ratings</code> for a song, you can assume that they are in the
                        same
                        order in which they appear in the file (This will make it simpler to test the linked
                        list)
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>A <code>static</code> method named <code>readMovies</code> that takes a <code>String</code> as a
                parameter and returns an <code>ArrayList</code> of <code>Movies</code>
                <ul>
                    <li>
                        The input <code>String</code> is the name of a file to be read. This will be a CSV file
                        where each line matches the format from the movies.csv file that you can download above:
                        "movieTitle,castMember0,castMember1,castMember2,etc" and there can be any number
                        of cast members, but there must be at least one cast member per movie
                    </li>
                    <li>
                        The method will return an <code>ArrayList</code> of <code>Movies</code> containing all of the
                        information from the input file
                    </li>
                    <li>
                        If the input file does not exist, the method will return an empty <code>ArrayList</code>
                    </li>
                    <li>
                        The movies in the returned <code>ArrayList</code> may appear in any order. Your tests must
                        accept any order of the returned movies (This is much of the challenge in writing these tests)
                    </li>
                    <li>
                        The cast for each movie must be in the <code>ArrayList</code> in the same order in which they
                        appear in the line for that movie. You should assume this order when testing the cast
                        <code>ArrayLists</code> (The capitalization of the cast names will be exactly as they appear
                        in the file so there's no need to ignore case when comparing names)
                    </li>
                </ul>
            </li>
        </ul>


        <ul>
            <li>A <code>static</code> method named <code>readMovieRatings</code> that takes an <code>ArrayList</code>
                of <code>Movies</code> and a <code>String</code> as parameters. The method returns an
                <code>ArrayList</code> of <code>Movies</code>
                <ul>
                    <li>
                        The input <code>ArrayList</code> of <code>Movies</code> will contain <code>Movie</code> objects
                        with their title and cast
                        populated. These movies should not have any ratings added to them. When your program
                        runs, it is intended for this <code>ArrayList</code> to be provided by your
                        <code>readMovies</code> method
                    </li>
                    <li>
                        The input <code>String</code> is the name of a file to be read. This will be a CSV file
                        where each line matches the format from the movie_ratings.csv file that you can download
                        above: "title,reviewerId,rating"
                    </li>
                    <li>
                        The method will return an <code>ArrayList</code> of <code>Movies</code> containing the movies
                        from the input <code>ArrayList</code> along with their ratings read from
                        the input file. If a Movie from the input <code>ArrayList</code> does not have any ratings in
                        the
                        ratings file, it should not be included in the output <code>ArrayList</code>. If a movie has
                        been
                        rated that is not included in the input <code>ArrayList</code>, the rating should be ignored
                        (eg. If you find a rating for a movie that is in the input, do not create a <code>Movie</code>
                        object for the rating)
                    </li>
                    <li>
                        Movies will have unique titles. Any movies with identical titles have been removed
                        from the source data. Do not write tests where the input <code>ArrayList</code> contains
                        multiple
                        movies with the same title. Any ratings for movies with the same title should be treated as
                        multiple ratings for the same movie
                    </li>
                    <li>
                        If the input file does not exist, the method will return an empty <code>ArrayList</code>
                    </li>
                    <li>
                        The <code>Movies</code> in the returned <code>ArrayList</code> may appear in any order. Your
                        tests should accept any order of the returned movies
                    </li>
                    <li>
                        The ratings for each <code>Movie</code> must be in the order in which they appear in the file.
                        When
                        testing the linked list of <code>Ratings</code> for a <code>Movie</code>, you can assume that
                        they are in the same order in which they appear in the file (This will make it simpler to test
                        the linked list)
                    </li>
                </ul>
            </li>
        </ul>


        <br/>
        <hr/>
        <h3>Testing Utilities</h3>
        <hr/>


        <p>
            <b>TestFiles:</b> Create a class named <code>TestFiles</code> in the <code>tests</code> package and
            write the following testing utility method in this class.
        </p>

        <ul>
            <li><code>compareMovieArrayLists</code> - Write a method named <code>compareMovieArrayLists</code> in the
                <code>tests.TestFiles</code> class that:
                <ul>
                    <li>
                        Takes [references to] 2 <code>ArrayList&lt;Movie&gt;</code> objects as parameters
                    </li>
                    <li>
                        Returns a boolean that is true if both <code>ArrayLists</code> contain all the same movies
                        (Same title, cast list, and ratings). The cast list and ratings must be in the same exact order
                        in their respective data structures, but the movies can appear in any order in their
                        <code>ArrayLists</code>
                        The method either returns false, or fails a JUnit
                        assert, if the <code>ArrayLists</code> do not contain exactly the same songs
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            Note: You may want to write a similar method to compare lists of songs, even though it's not required,
            as it may prove useful when writing tests for reading songs.
        </p>

        <br/>
        <hr/>
        <h3>
            Testing Requirements
        </h3>
        <hr/>

        <p>
            Write tests for the three methods (<code>readSongs</code>, <code>readMovies</code>, and
            <code>readMovieRatings</code>) in the <code>tests.TestFiles</code> class.
        </p>
        <p>
            For the testing in this task, you will create and use data files for your tests. All of your data
            files must be in a directory named "data" in the root of your project. For example, if you have a
            test file named "movies_test_1.csv", you should write a test with the filename "data/movies_test_1.csv"
            and it will open the correct file from your data directory.
        </p>

        <img src="/static_files/images/data.png" alt="where to put the data directory" class="embed-responsive">


        <br/>
        <hr/>
        <h3>
            Programming Requirements
        </h3>
        <hr/>

        <p>
            Implement the <code>readSongs</code>, <code>readMovies</code>, and
            <code>readMovieRatings</code> <code>static</code> methods.
        </p>


        <br/>
        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>


        <p>
            The feedback in Autolab will be given in 4 phases. If you don't complete a phase, then feedback for
            the following phase(s) will not be provided.
        </p>

        <ol>
            <li>Testing your testing utility method
                <ul>
                    <li>
                        Your testing utility method will be checked with a variety of test cases to
                        ensure
                        that
                        it makes all the required checks. This phase will ensure that your utility method is
                        accurate
                        before you start using it in your tests
                    </li>
                </ul>
            </li>
            <li>Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed
                        before you can move on with the assignment. If your tests don't get past this check, you
                        should re-read this document and make sure you implemented your tests and code according
                        the specification. You should also make sure that if there are multiple correct outputs
                        to the input in your tests cases that you accept any of the outputs as correct
                    </li>
                </ul>
            </li>
            <li>Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked, and it is sometimes possible to pass this phase
                        with weak testing. If you are struggling to earn credit for code that you believe
                        is correct, you should write more than the required tests
                    </li>
                </ul>
            </li>
            <li>Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you complete all 4 phases, you will have completed this Task and Autolab will confirm this
            with a score of 1.0 for complete.
        </p>
    </div>



{% endblock %}