<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Programming Task 4</h1>
            <hr/>
            <h5>Time Estimate: 8 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                <p>
                    You will continue to add functionality to your existing project from the previous task. There is
                    no new repository to clone.
                </p>

                <br/>
                <hr/>

                <h3>
                    Testing Requirements
                </h3>

                <hr/>

                <p>
                    <b>TestClasses2:</b> Create a class named TestClasses2 in the tests package that will test the
                    following functionality. You are encouraged to divide your tests cases into
                    multiple/many individual test methods within this class.
                </p>

                <p>Note: You must at least create the 2 comparator classes at the end of the programming requirements
                    before getting feedback on your tests since the grader will not compile if those classes do not
                    exist.</p>


                <ul>
                    <li>ratings.Song - Test the following functionality of the Song class
                        <ul>
                            <li>A method named bayesianAverageRating that takes 2 ints and returns a double:
                                <ul>
                                    <li>The first parameter is a number of extra ratings</li>
                                    <li>The second parameter is the value of the extra ratings</li>
                                    <li>The method return the average rating of the song if the extra ratings were
                                        added. Note that you are not actually adding the ratings to the Song.
                                        You are only using the extra ratings in your computation of the average</li>
                                    <li>Example: If the song has ratings of 4 and 5 and this method is called with
                                        parameters 2 and 3 (2 extra ratings of value 3), then the bayesian average is
                                        (4+5+3+3)/4 == 3.75 instead of the regular average of 4.5</li>
                                    <li>If a Song has no ratings and this method is called with 0 additional ratings, return 0.0</li>
                                    <li>Why? When comparing songs (Or anything), it's common to have many songs that are only rated
                                        by a single reviewer who gave it a 5/5. This song would have a perfect average rating
                                        of 5.0 and would be rated higher than a song that has been rated 100 times
                                        with an average rating of 4.99. The second song is well-loved by many
                                        people, and you would [likely] rather have that song in your playlist
                                        than the song that only 1 person likes and no one else is aware of. We adjust
                                        this by adding a few fake ratings to each song. In the example of 2 ratings of
                                        3 being added, the first song would be lowered to an average of 3.67 while the
                                        second song's rating would still be 4.99. This provides a more useful
                                        rating system than directly taking the average of all ratings</li>
                                    <li>If the input is invalid, the method will return 0.0. The input is invalid if
                                        the value of the extra ratings is anything other than 1, 2, 3, 4, or 5 OR the
                                        number of extra ratings is negative</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>ratings.Movie - Create a Movie class and test the following functionality that you will
                        implement later in this task
                        <ul>
                            <li>A constructor that takes a String and an ArrayList of Strings:
                                <ul>
                                    <li>The String represents the title of the Movie</li>
                                    <li>The ArrayList contains the names of the cast members of the Movie as Strings</li>
                                </ul>
                            </li>
                            <li>A Method named getTitle that takes no parameters and returns the title String given
                                in the constructor
                                <ul>
                                    <li>eg. In your tests, call the constructor to create a Movie object, then call
                                        getTitle and assert that it returned the same String you gave the constructor</li>
                                </ul>
                            </li>
                            <li>A Method named getCast that takes no parameters and returns an ArrayList with the
                                same cast members that were provided to the constructor
                                <ul>
                                    <li>This method might not return the same exact ArrayList provided to the
                                        constructor, but it will contain the same <em>names</em> in the same order.
                                    However, the names might not have the same combination of upper/lower-case letters.
                                    Any String in the returned ArrayList containing the correct letters should be
                                        considered correct regardless of upper/lower-case</li>
                                    <li>Example: In the constructor, you provide the ArrayList
                                        ["Chris Pratt", "Zoe Saldana", "Dave Bautista"]. All of the following are
                                        correct outputs
                                        ["Chris Pratt", "Zoe Saldana", "Dave Bautista"],
                                        ["chris pratt", "zoe saldana", "dave bautista"], and
                                        ["CHRIS pratt", "ZoE SalDANA", "dAVE bautistA"]</li>
                                    <li>Note that the String class has a method named equalsIgnoreCase that will prove
                                        useful when testing this method</li>
                                </ul>
                            </li>
                            <li>Methods named addRating and bayesianAverageRating with the same parameters and return
                                types as the methods in the Song class with the same names:
                                <ul>
                                    <li>These methods will behave identically to the methods in your
                                        Song class</li>
                                    <li>It is acceptable, and expected, that you'll use the same tests you wrote for
                                        Song, but replace Song with Movie</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>


                <br/>
                <hr/>

                <h3>
                    Programming Requirements
                </h3>

                <hr/>
                <p>
                    Recall when you wrote your tests for the Song and Movie classes which had much of the same
                    functionality. Specifically, your tests for the bayesianAverageRating method could be the same for
                    both classes and you effectively had duplicate tests. Now, we'll see that there's a better way
                    for classes to share code with each other. Both Song and Movie will extend a Ratable class that
                    will contain all the common code that these classes share.
                </p>


                <ul>
                    <li>ratings.Ratable - In the ratings package, create a class named Ratable
                        <ul>
                            <li>
                                This class will use the default constructor that takes no parameters (You don't have
                                to write any constructor)
                            </li>
                            <li>
                                Remove all functionality related to title and ratings from the Song class and add to the
                                Ratable class. This includes title and ratings (LinkedListNode of Ratings) instance
                                variables and all of the following methods
                                <ul>
                                    <li>getTitle</li>
                                    <li>setTitle</li>
                                    <li>addRating</li>
                                    <li>getRatings</li>
                                    <li>averageRating</li>
                                    <li>removeRatingByReviewer</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>ratings.Song - Update the Song class to inherit from the Ratable class
                        <ul>
                            <li>
                                You removed 2 instance variables and 6 methods from this class while writing the Ratable
                                class. However, Song will now inherit all those variables and methods from the Ratable
                                class
                            </li>
                            <li>
                                You should verify that your Song class does inherit this functionality by running the
                                TestClasses1 tests and verifying that they all still pass even though that code is not
                                in the Song class itself.
                            </li>
                            <li>
                                At this point, the Song class should only have instance variables for the artist and id
                                as well as the following methods with all other state and behavior inherited from
                                Ratable:
                                <ul>
                                    <li>A constructor that takes 3 Strings</li>
                                    <li>getArtist</li>
                                    <li>setArtist</li>
                                    <li>getSongID</li>
                                    <li>setSongID</li>
                                </ul>
                            </li>
                            <li>
                                Since the Ratable class does not have a constructor, you should call setTitle in the
                                Song constructor to set the value of the title instance variable. Alternatively, you
                                may add a Ratable constructor that takes the title as a parameter and call the super
                                constructor in the Song constructor.
                            </li>
                        </ul>
                    </li>

                    <li>ratings.Movie - Implement the following in the Movie class that you've tested earlier in this task
                        <ul>
                            <li>
                                Movie will inherit from the Ratable class
                            </li>
                            <li>
                                Movie will have a constructor that takes a String and an ArrayList of Strings
                                <ul>
                                    <li>The String represents the title of the Movie and should be set using the
                                        setTitle method inherited from Ratable</li>
                                    <li>The ArrayList contains the names of the cast of the Movie and should be stored
                                        in an instance variable</li>
                                </ul>
                            </li>
                            <li>
                                Implement a getter for the cast named getCast that returns an ArrayList of Strings
                            </li>
                        </ul>
                    </li>

                    <li>ratings.Ratable - Update the Ratable class with the bayesianAverageRating method
                        <ul>
                            <li>
                                Now that both Song and Movie inherit from Ratable, any functionality added to Ratable
                                will be added to both Songs and Movies. You tested a bayesianAverageRating
                                method in both Song and Movie. Now, you will only implement this method in
                                Ratable and your tests for both Song and Movie will pass when you are finished.
                            </li>
                            <li>
                                Implement bayesianAverageRating
                                <ul>
                                    <li>This method takes 2 ints as a parameters. The first int is the number of fake
                                        ratings and the second is the value of those ratings</li>
                                    <li>The method returns the Bayesian average of the Ratable if the extra rating were
                                        added</li>
                                    <li>Important: Do not actually add the fake ratings to you Linked List of Ratings.
                                        This method should not have any side effects (ie. It should not change the
                                        state of any objects on the heap). You can test for this by calling
                                        bayesianAverageRating twice on the same Song/Movie with the same arguments
                                        and make sure you get the same result both times.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p>
                    Finally, implement the following classes/methods for which you did not write tests. These classes will be
                    tested in AutoLab, but you are not expected to have tests of your own for these classes.
                </p>
                <ul>
                    <li>ratings.datastructures.Comparator - This class has been provided in the handout code
                        <ul>
                            <li>This class takes a generic type parameter
                            </li>
                            <li>This class uses the default constructor
                            </li>
                            <li>
                                This class has a method named compare that takes 2 parameters, both of the type of the
                                generic
                                <ul>
                                    <li>This method returns false on all inputs and will be overridden by child
                                        classes</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>ratings.datastructures.SongTitleComparator - Implement the SongTitleComparator that will be used
                        to sort Songs by their title in alphabetical order
                        <ul>
                            <li>This class will inherit from the Comparator class with the generic type being Song
                            </li>
                            <li>Override the compare method to take two references to Song objects and returns a boolean
                                <ul>
                                    <li>
                                        This method returns true if the first parameter should come before the second in
                                    sorted order, and false otherwise
                                    </li>
                                    <li>The method returns true if the title of first Song comes before the title of the second Song alphabetically</li>
                                    <li>The method returns false otherwise (Including for Songs with the same title)</li>
                                    <li>The method won't take upper/lower-case into consideration (eg. "a" and "A" both come before "b" and "B")</li>
                                    <li>If one String is a prefix of another, it should come before the other: "aa" comes before "aaa" (This implies that the empty String comes before every other String)</li>
                                    <li>Comparisons should be made using the Strings compareToIgnoreCase method. You
                                        are not expected to check the characters of the Strings to determine their
                                        order
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>ratings.datastructures.SongBayesianRatingComparator - Implement the
                        SongBayesianRatingComparator that will be used
                        to sort Songs by their bayesian average rating in decreasing order
                        <ul>
                            <li>This class will inherit from the Comparator class with the generic type being Song
                            </li>
                            <li>Override the compare method to take two references to Song objects and returns a boolean
                                <ul>
                                    <li>
                                        This method returns true if the first parameter has a higher bayesian average
                                        than the second in, and false otherwise (Including for Songs with the same bayesian average)
                                    </li>
                                    <li>
                                        Use 2 extra ratings with value 3 for the bayesian averages
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>


                <br/>
                <hr/>

                <h3>AutoLab Feedback</h3>

                <hr/>
                <p>
                    The feedback in AutoLab will be given in 3 phases. If you don't complete a phase, then feedback for
                    the following phase(s) will not be given.
                </p>

                <ol>
                    <li>Running your tests on a Correct Solution

                    </li>
                    <li>Running your tests on several Incorrect Solutions

                    </li>
                    <li>Running my tests on Your Solution

                    </li>
                </ol>

                <p>
                    Once you complete all 3 phases, you will have completed this Task and AutoLab will confirm this
                    with a score of 1.0 for complete.
                </p>
                <hr/>

            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>

</body>
</html>
