<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Programming Task 3</h1>
            <hr/>
            <h5>Time Estimate: 6 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                <p>
                    You will continue to add functionality to your existing project from the previous task. There is
                    no new repository to clone.
                </p>

                <br/>
                <hr/>

                <h3>
                    Testing Requirements
                </h3>

                <hr/>

                <p>
                    You will write tests for methods in the ratings.Song class. Use the provided
                    ratings.datastructures.LinkedListNode class whenever a linked list is needed.
                    The song class will contain the following methods that can be used to help you while testing:
                </p>

                <ul>

                    <li>A public method named <code>addRating</code> that takes a [reference to a] an object of type Rating as a
                        parameter (The type of the input is Rating) and returns void
                        <ul>
                            <li>
                                This method will be called when a Reviewer rates this Song. All
                                added Ratings will be stored in a Linked List as an instance variable
                            </li>
                            <li>
                                This method will append new ratings to the end of the linked list
                            </li>
                        </ul>
                    </li>

                    <li>A public method named <code>getRatings</code> that takes no parameters and returns a LinkedListNode of
                        Ratings
                        <ul>
                            <li>
                                This method returns the head of a Linked List containing all Ratings that have been
                                added to this Song
                            </li>
                            <li>
                                The returned Linked List must return the Ratings in the order in which they were added.
                                For example, the first Rating that was added must be the first value in the list
                            </li>
                            <li>
                                If no ratings have been added, this method will return null
                            </li>
                        </ul>
                    </li>

                    <li>A public method named <code>setRatings</code> that takes a LinkedListNode of Ratings and returns void
                        <ul>
                            <li>
                                This is a setter that replaces the stored linked list of ratings (The instance variable)
                                with the one provided as a parameter
                            </li>
                        </ul>
                    </li>

                </ul>

                <p>
                Write tests in the <code>tests.TestDataStructures1</code> class for the following functionality. All methods will
                    be in the ratings.Song class:
                </p>


                <ul>

                    <li>A public method named <code>averageRating</code> that takes no parameters and returns a double
                        <ul>
                            <li>
                                This method returns the average of all the Rating of this Song
                            </li>
                            <li>
                                If the list is empty, the method returns 0.0
                            </li>
                            <li>
                                Any invalid rating, ratings of -1, will be ignored during this calculation
                            </li>
                        </ul>
                    </li>


                    <li>A public method named <code>removeRatingByReviewer</code> that takes a Reviewer as a parameter and returns
                        void
                        <ul>
                            <li>
                                This method will remove a Rating made for this Song by the given Reviewer
                            </li>
                            <li>
                                If the reviewer did not rate this song, this method has no effect
                            </li>
                            <li>
                                If the linked list contains multiple ratings by the reviewer, the method only removes
                                the first instance from the list (ie. the method does not have to handle removing
                                multiple ratings in a single call)
                            </li>
                        </ul>
                    </li>


                </ul>

                <br/>
                <hr/>

                <h3>
                    Programming Requirements
                </h3>

                <hr/>

                <p>
                    Implement all the methods in the Song class that are describe above.
                </p>

                <br/>
                <hr/>

                <h3>Autolab Feedback</h3>

                <hr/>
                <p>
                    The feedback in Autolab will be given in 3 phases. If you don't complete a phase, then feedback for
                    the following phase(s) will not be given.
                </p>

                <ol>
                    <li>Running your tests on a Correct Solution

                    </li>
                    <li>Running your tests on several Incorrect Solutions

                    </li>
                    <li>Running my tests on Your Solution

                    </li>
                </ol>

                <p>
                    Once you complete all 3 phases, you will have completed this Task and Autolab will confirm this
                    with a score of 1.0 for complete.
                </p>
                <hr/>
            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>

</body>
</html>
