<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Programming Task 9</h1>
            <h2>Data Structures 3</h2>
            <hr/>
            <h5>Time Estimate: 7 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                <p>
                    You will continue to add functionality to your existing project from the previous tasks. There is
                    no new repository to clone.
                </p>

                <br/>
                <hr/>


                <h3>
                    Testing Requirements
                </h3>

                <hr/>
                <p>
                    Testing with files is not required for this task, though you still may find generating small test
                    files useful when writing your tests. If you create test files for your test cases, all of your data
                    files must be in a directory named "data" in the root of your project following the same structure
                    as the previous 2 tasks.
                </p>

                <hr>

                <p>
                    Write tests in the tests.TestDataStructures3 class for the following functionality:
                </p>

                <ul>
                    <li>A class named ratings.DegreesOfSeparation with the following features. Add tests for the
                        functionality of this class in the tests.TestDataStructures3 class
                        <ul>
                            <li>
                                DegreesOfSeparation has a constructor that takes an ArrayList of Movies
                            </li>
                            <li>
                                The DegreesOfSeparation class has a method named degreesOfSeparation that takes 2
                                Strings and returns an int. The inputs are the names of 2 cast members, and the method
                                returns their <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">degrees
                                of separation</a>. This number is how many people need to be traversed
                                to move from one person to the other where two people are connected if they starred in
                                a movie together. When computing the degrees of separation, only the
                                Movies provided to the constructor will be used. If the two cast members are not
                                connected, or if one of them is not in any of the provided movies, this method returns -1
                            </li>
                            <li>
                                Note: The degrees of separation of a person to themselves is 0. If two people have acted
                                in a movie together, their separation is 1. If two people were never in a movie
                                together, their separation is the number of movies that separate them. For example, in
                                the data provided in movies.csv, Chris Pratt and Kevin Bacon have 2 degrees of
                                separation because Chris Pratt was in Moneyball with Brad Pitt and Brad Pitt was in
                                Sleepers with Kevin Bacon (Now, Chris Pratt was in The Guardians of the Galaxy Holiday
                                Special with Kevin Bacon so their separation is 1, but that movie is not in the
                                movies.csv dataset)
                            </li>
                            <li>
                                Note: The movies.csv file provided in task 7 does not contain every single movie.
                                Some of the degrees of separation, and Bacon Numbers, might be slightly off
                            </li>
                        </ul>
                    </li>
                 </ul>

                <br/>

                <hr/>


                <h3>
                    Programming Requirements
                </h3>

                <hr/>

                <p>
                    Implement all the ratings.DegreesOfSeparation class you tested above
                </p>



                <br/>
                <hr/>

                <h3>AutoLab Feedback</h3>

                <hr/>
                <p>
                    The feedback in AutoLab will be given in 3 phases. If you don't complete a phase, then feedback for
                    the following phase(s) will not be given.
                </p>

                <ol>
                    <li>Running your tests on a Correct Solution

                    </li>
                    <li>Running your tests on several Incorrect Solutions

                    </li>
                    <li>Running my tests on Your Solution

                    </li>
                </ol>

                <p>
                    Once you complete all 3 phases, you will have completed this Task and AutoLab will confirm this
                    with a score of 1.0 for complete.
                </p>
                <hr/>


            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
