<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE116: Computer Science 2</title>
    <link rel="stylesheet" href="/static_files/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static_files/UBStyle.css"/>
    <link rel="stylesheet" type="text/css" id="darkThemeCss" href="/static_files/darktheme.css" disabled/>
    <link rel="shortcut icon" type="image/x-icon" href="/static_files/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static_files/cse116.js"></script>
    <base target="_blank">
</head>

<body class="outer" onload="bodyLoaded();">
<div class="container">
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1"></div>
        <div class="col-12 col-sm-12 col-md-10 main-hw-block">


            <hr/>

            <h1>Programming Task 5</h1>
            <hr/>
            <h5>Time Estimate: 8 hours</h5>
            <hr/>

            <div class="card-header section-testing">
                <div>Requirements</div>
            </div>

            <div class="section-card card-testing hw-content">

                <hr/>


                <h3>
                    Project Structure
                </h3>

                <hr/>
                <p>
                    You will continue to add functionality to your existing project from the previous task. There is
                    no new repository to clone.
                </p>

                <br/>
                <hr/>

                <h3>
                    Testing Requirements
                </h3>


                <hr/>

                <p>
                    <b>TestDataStructures2:</b> Create a class named TestDataStructures2 in the tests package that
                    will test the following functionality. You are encouraged to divide your tests cases into
                    multiple/many individual test methods within this class.
                </p>

                <ul>
                    <li>ratings.Playlist - Create a Playlist
                        class and test the following functionality
                        <ul>
                            <li>
                                A constructor that takes as a parameter a reference to an object of type
                                Comparator&lt;Song&gt;. In your testing, you can pass either a new SongTitleComparator
                                or a new SongBayesianRatingComparator:
                            </li>
                            <li>A method named addSong that takes a reference to a Song as a parameter and returns void
                            </li>
                            <li>
                                A method named getSongList that takes no parameters and returns a LinkedListNode of
                                Songs
                                <ul>
                                    <li>The returned node will be the head of a linked list containing all the Songs
                                    that were added in sorted order according to the comparator provided to the
                                        constructor</li>
                                    <li>
                                        If you provided a SongTitleComparator, the Songs will be sorted alphabetically
                                    </li>
                                    <li>
                                        If you provided a SongBayesianRatingComparator, the Songs will be sorted in
                                        decreasing order (The highest rated songs first) according to their bayesian
                                        average rating with 2 fake ratings of 3 being added.
                                    </li>
                                    <li>
                                        For either comparator, you do not need to write any tests where two songs will
                                        be tied in the ordering (eg. you don't have to write a test where 2 songs have
                                        the same bayesian average ratings)
                                    </li>
                                    <li>The returned Songs might be different song objects, but they will contain the
                                        same title, artist, and ratings as the Songs that were added (eg. You must
                                        check the values of the Songs and not rely on comparing the references
                                        with ==)</li>
                                    <li>If no songs have been added to the Playlist, this method returns null</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>



                <br/>
                <hr/>

                <h3>
                    Programming Requirements
                </h3>

                <hr/>

                <p>
                    The code in this task will rely on a class that we saw in lecture. Add the following
                    class to your project to set up for this task:
                </p>


                <ul>
                    <li>Copy the code for a BinaryTreeNode into your ratings.datastructures package. The code is
                        provided here for convenience.
                    </li>
                    <li>An object of this type will be returned by one of your methods and will be tested in AutoLab.
                    All these methods must exist and be named exactly as they are here or there will be errors during
                        grading. It's recommended that you copy and paste this code into your project to avoid potential issues</li>
                </ul>

                <pre><code class="java">package ratings.datastructures;

public class BinaryTreeNode&lt;A> {
    private A value;
    private BinaryTreeNode&lt;A> left;
    private BinaryTreeNode&lt;A> right;

    public BinaryTreeNode(A value,BinaryTreeNode&lt;A> left,BinaryTreeNode&lt;A> right){
        this.value=value;
        this.right=right;
        this.left=left;
    }

    public A getValue() {
        return value;
    }

    public void setValue(A value) {
        this.value = value;
    }

    public BinaryTreeNode&lt;A> getLeft() {
        return left;
    }

    public void setLeft(BinaryTreeNode&lt;A> left) {
        this.left = left;
    }

    public BinaryTreeNode&lt;A> getRight() {
        return right;
    }

    public void setRight(BinaryTreeNode&lt;A> right) {
        this.right = right;
    }
}
</code></pre>



                <p>
                    Create a Playlist class in the ratings package with the following functionality. This class will
                    use a Binary Search Tree (BST) to store a playlist of Songs in sorted order.
                </p>


                <ul>
                    <li>A constructor that takes a Comparator of Songs
                        <ul>
                            <li>
                                You will use this Comparator in BST to sort the Songs of the Playlist. You should
                                create any instance variables you'll need when this constructor is called
                            </li>
                        </ul>
                    </li>



                    <li>A method named addSong that takes a reference to a Song and returns void
                        <ul>
                            <li>
                                This method will add the Song to the Playlist by inserting it into a BST with the
                                comparator from the constructor
                            </li>
                            <li>
                                Note that you are allowed to use the BST code provided in lecture
                            </li>
                        </ul>
                    </li>

                    <li>A method named getSongTree that takes no parameters and returns the
                        ratings.datastructures.BinaryTreeNode of Songs that is the root node of your BST
                    </li>




                    <li>A method named getSongList that takes a BinaryTreeNode of Songs as a parameter and returns a
                        ratings.datastructures.LinkedListNode of Songs
                        <ul>
                            <li>
                                This method traverses the tree from the parameter and returns all the Songs in the tree
                                in a Linked List in sorted order (Assuming the parameter is the root of a BST)
                            </li>
                            <li>
                                Note: This method is expected to contain the majority of the difficulty of this task
                            </li>
                            <li>
                                You should write the next method before this one
                            </li>
                        </ul>
                    </li>


                    <li>A method named getSongList that takes no parameters and returns a
                        ratings.datastructures.LinkedListNode of Songs
                        <ul>
                            <li>
                                This method traverses your BST and returns all the Songs in the tree
                                in a Linked List in sorted order
                            </li>
                            <li>
                                This method should be one line since you can call your other getSongList method with
                                the root of your BST as the argument
                            </li>
                            <li>
                                This is the method that you tested earlier in this task. You should write this method while
                                writing the other getSongList method so you can run your tests and utilize the debugger
                                while writing your code
                            </li>
                        </ul>
                    </li>



                </ul>

                <br/>
                <hr/>

                <h3>AutoLab Feedback</h3>

                <hr/>
                <p>
                    The feedback in AutoLab will be given in 3 phases. If you don't complete a phase, then feedback for
                    the following phase(s) will not be given.
                </p>

                <ol>
                    <li>Running your tests on a Correct Solution

                    </li>
                    <li>Running your tests on several Incorrect Solutions

                    </li>
                    <li>Running my tests on Your Solution

                    </li>
                </ol>

                <p>
                    Once you complete all 3 phases, you will have completed this Task and AutoLab will confirm this
                    with a score of 1.0 for complete.
                </p>
                <hr/>


            </div>


        </div>
        <div class="col-0 col-sm-0 col-md-1"></div>
    </div>
</div>


<script src="/static_files/lib/jquery-3.3.1.min.js"></script>
<script src="/static_files/lib/popper-1.12.9.min.js"></script>
<script src="/static_files/lib/bootstrap-4.0.0.min.js"></script>
<script src="/static_files/lib/fontawesome.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
